{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load field_to_label %}


{% block title %}Create LLM Core{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/form-layouts.js' %}"></script>
{% endblock page_js %}

{% block content %}
<!-- Basic Layout -->
<div class="row">
  <div class="col-xl mb-6">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Create a New LLM Core</h5> <small class="text-muted float-end"></small>
      </div>
      <div class="card-body">
        <div class="alert alert-secondary alert-dismissible d-flex col-lg-10 align-items-center" role="alert">
          <img src="{% static 'img/custom-illustrations/boy-core.png' %}" width="25%" class="justify-content-end">
          <span class="alert-icon rounded">
            <i class="ti ti-bookmark"></i>
          </span>
          <div class="d-flex flex-column ps-1">
            <h5 class="alert-heading mb-2">Tip</h5>
            <p class="mb-0">
              In this page, you can create a new LLM Core. LLM Cores are an essential step to creating an assistant,
              since they are the models that generate the text for your assistant pipelines. Fill in the form with the
              LLM Core's information and click on the "Create" button to save the LLM Core. While you are creating an
              LLM Core, make sure that you have filled in all the required fields. Once you create an LLM Core, you will
              be able to use it in your assistant pipelines. For the assistants to work without any problems, you must
              make sure that you have entered the correct API key, which you can retrieve from your provider, such
              as OpenAI.
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
          </div>
        </div>
        {% if error_messages %}
          {% for key, message in error_messages.items %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-danger{% endif %}" role="alert">
              <strong>{{ key | field_name_to_label }}:</strong> {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-6">
            <label class="form-label" for="organization">Organization</label>
            <select class="form-select" id="organization" name="organization">
              {% for organization in organizations %}
              <option value="{{ organization.id }}">{{ organization.name }}</option>
              {% endfor %}
            </select>
            <div class="form-text"></div>
          </div>
          <div class="mb-6">
            <label class="form-label" for="nickname">Nickname</label>
            <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Enter nickname" />
            <div class="form-text"></div>
          </div>
          <div class="mb-6">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" id="description" name="description" placeholder="Enter description"></textarea>
            <div class="form-text"></div>
          </div>
          <div class="alert alert-solid-info d-flex align-items-center mt-6" role="alert">
            <span class="alert-icon rounded">
              <i class="ti ti-info-circle"></i>
            </span>
            A better nickname and description can help other users understand the purpose of this LLM Core, and
            therefore increase the reusability of the models for different assistants.
          </div>
          <div class="mb-6">
            <label class="form-label" for="provider">Provider</label>
            <select class="form-select" id="provider" name="provider">
              {% for key, value in provider_choices %}
              <option value="{{ key }}">{{ value }}</option>
              {% endfor %}
            </select>
            <div class="form-text"></div>
          </div>
          <div class="mb-6">
            <label class="form-label" for="api_key">API Key</label>
            <input type="text" class="form-control" id="api_key" name="api_key" placeholder="Enter API key" />
            <div class="form-text"></div>
          </div>
          <div class="alert alert-solid-info d-flex align-items-center mt-6" role="alert">
            <span class="alert-icon rounded">
              <i class="ti ti-info-circle"></i>
            </span>
            The API key will be used to connect your {% get_theme_variables 'template_name' %} account and assistant with the LLM providers.
          </div>
          <div class="mb-6">
            <label class="form-label" for="model_name">Model Name</label>
            <select class="form-select" id="model_name" name="model_name">
              {% for key, value in model_name_choices %}
              <option value="{{ key }}">{{ value }}</option>
              {% endfor %}
            </select>
            <div class="form-text"></div>
          </div>
          <div class="mb-6">
            <label class="form-label" for="temperature">Temperature</label>
            <input type="number" class="form-control" id="temperature" name="temperature" step="0.05"
                   min="0" max="2" placeholder="Enter temperature" value="1.00"/>
            <div class="form-text"></div>
          </div>
          <div class="alert alert-solid-info d-flex align-items-center mt-6" role="alert">
            <span class="alert-icon rounded">
              <i class="ti ti-info-circle"></i>
            </span>
            A lower temperature can lead to more reliable and text that has less likelihood of hallucinations,
            but it may also result in less creative responses. Conversely, a higher temperature can lead to more
            creative responses, but it may also result in hallucinations and less reliable text.
          </div>
          <div class="mb-6">
            <label class="form-label" for="maximum_tokens">Maximum Tokens</label>
            <input type="number" class="form-control" id="maximum_tokens" name="maximum_tokens"
                   min="256" max="4032" step="64"  placeholder="Enter maximum tokens" value="4032"/>
            <div class="form-text"></div>
          </div>
          <div class="mb-6">
            <label class="form-label" for="stop_sequences">Stop Sequences</label>
            <textarea class="form-control" id="stop_sequences" name="stop_sequences" placeholder="Enter stop sequences"></textarea>
            <div class="form-text"></div>
          </div>
          <div class="mb-6">
            <label class="form-label" for="top_p">Top P</label>
            <input type="number" class="form-control" id="top_p" name="top_p" step="0.025"
                   min="0" max="1" placeholder="Enter top P" value="1.0"/>
            <div class="form-text"></div>
          </div>
          <div class="mb-6">
            <label class="form-label" for="frequency_penalty">Frequency Penalty</label>
            <input type="number" class="form-control" id="frequency_penalty" name="frequency_penalty" step="0.025"
                   min="0" max="2" placeholder="Enter frequency penalty" value="0.0"/>
            <div class="form-text"></div>
          </div>
          <div class="mb-6">
            <label class="form-label" for="presence_penalty">Presence Penalty</label>
            <input type="number" class="form-control" id="presence_penalty" name="presence_penalty" step="0.025"
                   min="0" max="2" placeholder="Enter presence penalty" value="0.0"/>
            <div class="form-text"></div>
          </div>
          <button type="submit" class="btn btn-primary d-grid w-100">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
