{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Scheduled Jobs List{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css">
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/scheduled-jobs-list.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="row g-6 mb-6">
  <div class="col-sm-6 col-xl-3">
    <h3 class="mb-0">Scheduled Jobs</h3>
  </div>
</div>

<div class="alert alert-secondary alert-dismissible d-flex col-lg-10 align-items-center" role="alert">
  <img src="{% static 'img/custom-illustrations/boy-user-edit.png' %}" width="25%" class="justify-content-end">
  <span class="alert-icon rounded ms-4">
    <i class="bi bi-info-circle"></i>
  </span>
  <div class="d-flex flex-column ps-1">
    <h5 class="alert-heading mb-2">Tip</h5>
    <p class="mb-0">
      Use the search box to find specific jobs by name or description. You can delete the jobs if you no longer need them.
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
</div>

<!-- Search and Filter Form -->
<div class="row g-4 mb-4">
  <div class="col-xl-12">
    <h5 class="text-muted"><strong>Filter Jobs</strong></h5>
    <div class="card text-center mb-4">
      <div class="card-header">
        <div class="nav-align-top">
          <form method="get" action=".">
            <div class="input-group mb-3">
              <input type="text" name="search" value="{{ request.GET.search }}" class="form-control" placeholder="Search by name or description">
              <button type="submit" class="btn btn-primary"><strong>Search</strong></button>
              <a href="." class="btn btn-secondary"><strong>Clear</strong></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Scheduled Jobs List Table -->
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Scheduled Jobs Library</h5>
  </div>
  <div class="card-datatable table-responsive">
    <a href="{% url 'mm_scheduled_jobs:create' %}">
      <button class="btn btn-success ms-4 mb-8">
        <i class="fa fa-plus me-4"></i>
        <strong>Create New Job</strong>
      </button>
    </a>
    <table class="table datatables-scheduled-jobs">
      <thead class="border-top">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Created By</th>
          <th>Assistant</th>
          <th>Schedule</th>
          <th>Current Run Count</th>
          <th>Maximum Runs</th>
          <th></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for job in page_obj %}
        <tr>
          <td style="min-width: 200px;">{{ job.name }}</td>
          <td style="min-width: 300px;">{{ job.task_description }}</td>
          <td><strong>{{ job.created_by_user }}</strong></td>
          <td>{{ job.assistant.name }}</td>
          <td style="min-width: 380px;">
            <p class="bg-label-secondary rounded p-2 m-1">On months of the year: {% if job.month_of_year != "*" %}<strong>{{ job.month_of_year }}</strong>{% else %}<strong>Every Month</strong>{% endif %}</p>
            <p class="bg-label-secondary rounded p-2 m-1">On days of the month: {% if job.day_of_month != "*" %}<strong>{{ job.day_of_month }}</strong>{% else %}<strong>Every Month Day</strong>{% endif %}</p>
            <p class="bg-label-secondary rounded p-2 m-1">On days of the week: {% if job.day_of_week != "*" %}<strong>{{ job.day_of_week }}</strong>{% else %}<strong>Every Week Day</strong>{% endif %}</p>
            <p class="bg-label-secondary rounded p-2 m-1">At hours of the day: {% if job.hour != "*" %}<strong>{{ job.hour }}</strong>{% else %}<strong>Every Hour</strong>{% endif %}</p>
            <p class="bg-label-secondary rounded p-2 m-1">At minutes of the hour: {% if job.minute != "*" %}<strong>{{ job.minute }}</strong>{% else %}<strong>Every Minute</strong>{% endif %}</p>
          </td>
          <td>{{ job.current_run_count }}</td>
          <td>{{ job.maximum_runs }}</td>
          <td>
            <a href="{% url 'mm_scheduled_jobs:logs' job.pk %}" class="btn btn-label-info"><i class="fa fa-clock-rotate-left me-2"></i><strong>Execution Logs</strong></a>
          </td>
          <td>
            <a href="{% url 'mm_scheduled_jobs:delete' job.pk %}" class="btn btn-label-danger"><i class="fa fa-trash me-2"></i><strong>Delete</strong></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- Pagination Controls -->
    <nav aria-label="Page navigation">
      <ul class="pagination pagination-rounded m-4 pb-4 overflow-scroll">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}"><i class="bi bi-chevron-double-left"></i></a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}"><i class="bi bi-chevron-left"></i></a>
        </li>
        {% endif %}
        {% for page_num in page_obj.paginator.page_range %}
        <li class="page-item {% if page_obj.number == page_num %}active{% endif %}">
          <a class="page-link" href="?page={{ page_num }}{% if search_query %}&search={{ search_query }}{% endif %}">{{ page_num }}</a>
        </li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}"><i class="bi bi-chevron-right"></i></a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}"><i class="bi bi-chevron-double-right"></i></a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
