{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Add Permissions{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}"/>
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/form-layouts.js' %}"></script>
{% endblock page_js %}

{% block content %}
  <div class="row g-6 mb-6">
    <div class="col-12">
      <h3 class="mb-0"><strong>Add Permissions to User</strong></h3>
    </div>
  </div>

  <div class="tips-section alert alert-secondary alert-dismissible d-flex col-lg-12 align-items-center" role="alert">
    <img src="{% static 'img/custom-illustrations-v2/i2-37.png' %}" width="25%" style="border-radius: 25px;"
         class="justify-content-end me-8" alt="Illustration for tips">
    <span class="alert-icon rounded">
          <i class="ti ti-bookmark"></i>
        </span>
    <div class="d-flex flex-column ps-1">
      <h5 class="alert-heading mb-2">Tip</h5>
      <p class="mb-0">
        In this page, you can add permissions to a user. You can select an organization and a user from the dropdowns
        and then select the permissions you would like to add to the user. If you would like to add all permissions to
        the user, you can click on the "Select All Permissions" button. If you would like to add all permissions of a
        specific group, you can click on the "Select All [Group]" button. If you would like to add a specific
        permission,
        you can click on the checkbox next to the permission. Once you have selected the permissions you would like to
        add,
        click on the "Add Permissions" button to add the permissions to the user.
      </p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
  </div>

  <div class="card-datatable table-responsive">
    <a href="{% url 'user_permissions:list_permissions' %}">
      <button class="btn btn-secondary mt-4 mb-8">
        <i class="fa fa-dashboard me-4"></i>
        <strong> Manage User Permissions</strong>
      </button>
    </a>
  </div>

  <hr>

  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}"
           role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <form method="get" action="{% url 'user_permissions:add_permissions' %}">
    <div class="card mb-4 p-4">
      <div class="card-body">
        <div class="row g-6 mb-6">
          <div class="col-5">
            <label for="organization" class="form-label">
              <i class="fa fa-building me-2"></i>
              Choose Organization
            </label>
            <select class="form-select" id="organization" name="organization" onchange="this.form.submit()">
              <option value="" disabled selected>Select Organization</option>
              {% for organization in organizations %}
                <option value="{{ organization.id }}"
                        {% if selected_organization and selected_organization.id == organization.id %}selected{% endif %}>
                  {{ organization.name }}
                </option>
              {% endfor %}
            </select>
          </div>
          <div class="col-2 mb-6">
            <label class="form-label" hidden for="organization">
              Arrow Convert
            </label>
            <span class="d-flex justify-content-center align-items-center fs-2">
              <i class="fa fa-chevron-right fs-3 mt-8"></i>
            </span>
          </div>
          <div class="col-5">
            <label for="user" class="form-label">
              <i class="fa fa-user me-2"></i>
              Choose User to Add Permissions
            </label>
            <select class="form-select" id="user" name="user" {% if not selected_organization %}disabled{% endif %}
                    onchange="this.form.submit()">
              <option value="" disabled selected>Select User</option>
              {% for user in users %}
                <option value="{{ user.id }}" {% if selected_user and selected_user.id == user.id %}selected{% endif %}>
                  {{ user.username }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>

  {% if selected_user %}
    <form method="post" action="{% url 'user_permissions:add_permissions' %}">
      {% csrf_token %}
      <input type="hidden" name="organization" value="{{ selected_organization.id }}">
      <input type="hidden" name="user" value="{{ selected_user.id }}">
      <div class="row g-6 mb-6">
        <div class="col-12">
          <label class="form-label">
          </label>
          <hr>
          <div class="form-check">
            <input class="form-check-input mt-4" type="checkbox" id="select_all" name="select_all"
                   onclick="toggleAllPermissions(this)">
            <label class="form-check-label mt-4 mb-4 me-12" for="select_all">
              <strong>
                <i class="fa fa-globe me-2"></i>
                Select All Permissions
              </strong>
            </label>
            <button type="submit" class="btn btn-primary w-25 ms-12 mt-2" style="position: absolute; right: 10px;"><strong>
              <i class="fa fa-plus me-2"></i>
              Add Selected Permissions
            </strong></button>
          </div>
          <hr>
          <div class="row p-8">
            {% for group, perms in permissions.items %}
              <div class="card col-3 mb-6 ms-12 me-12">
                <div class="card-header">
                  <h5 class="card-title"><strong>{{ group }}</strong></h5>
                  <hr>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="select_{{ group|slugify }}"
                           onclick="toggleGroupPermissions('{{ group|slugify }}', this)">
                    <label class="form-check-label" for="select_{{ group|slugify }}">
                      <i class="fa fa-folder me-2"></i>
                      <strong>Select All {{ group }}</strong>
                    </label>
                  </div>
                </div>
                <div class="card-body">
                  {% for perm in perms %}
                    {% if perm.0 in existing_permissions %}
                      <div class="form-check">
                        <input class="form-check-input permission-checkbox" type="checkbox" id="perm_{{ perm.0 }}"
                               name="permissions" value="{{ perm.0 }}" data-group="{{ group|slugify }}" checked
                               disabled>
                        <label class="form-check-label text-muted" for="perm_{{ perm.0 }}">{{ perm.1 }}</label>
                      </div>
                    {% else %}
                      <div class="form-check">
                        <input class="form-check-input permission-checkbox" type="checkbox" id="perm_{{ perm.0 }}"
                               name="permissions" value="{{ perm.0 }}" data-group="{{ group|slugify }}">
                        <label class="form-check-label" for="perm_{{ perm.0 }}">{{ perm.1 }}</label>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <hr>
    </form>
  {% endif %}


  <script>
    function toggleAllPermissions(source) {
      checkboxes = document.querySelectorAll('.permission-checkbox:not(:disabled)');
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = source.checked;
      }
    }

    function toggleGroupPermissions(group, source) {
      checkboxes = document.querySelectorAll('.permission-checkbox[data-group="' + group + '"]:not(:disabled)');
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = source.checked;
      }
    }
  </script>
{% endblock %}
