{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Settings{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}"/>
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
{% endblock vendor_js %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <!-- Settings -->
        <div class="card-body">
          <h5 class="mb-10"><strong>
            <strong>Application Settings</strong>
          </strong></h5>
          <div class="tips-section alert alert-warning alert-dismissible d-flex col-lg-12 align-items-center mb-8" role="alert">
            <img src="{% static 'img/custom-illustrations-v2/i2-97.png' %}" width="25%" style="border-radius: 25px;" class="justify-content-end me-8">
            <span class="alert-icon rounded">
                  <i class="ti ti-alert-square-rounded-filled"></i>
                </span>
            <div class="d-flex flex-column ps-1">
              <h5 class="alert-heading mb-2"><strong>Important Notice</strong></h5>
              <p class="mb-0 text-warning">
                In this page, you can view and manage the settings of your application. You can enable or disable
                features such as Automated Data Backups, Automated Software Updates and Bug Fixes, as well as Automated
                Model Updates and Monitoring. This feature is currently under development, and will be available in the next
                releases.
              </p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th class="text-nowrap">Feature</th>
                <th class="text-nowrap text-center">Info</th>
                <th class="text-nowrap text-center">Enabled</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="text-nowrap text-heading">
                  <i class="fa fa-database me-4"></i>
                  <strong>Automated Data Backups</strong>
                </td>
                <td style="max-width: 600px; min-width: 600px; text-align: justify;">
                  <i class="fa fa-info-circle me-2"></i>
                  <small class="text-muted">
                    Automated Data Backups is a process of copying, archiving, and storing data so
                      that it can be restored in case of data loss. This is to protect the privacy and security of your
                      data by ensuring that it is backed up regularly to prevent data loss due to accidental deletion,
                      corruption, or hardware failure. We highly recommend enabling this feature to ensure the safety
                      and security of your data.
                  </small>
                </td>
                <td>
                  <div class="form-check d-flex justify-content-center">
                    <input class="form-check-input" type="checkbox" id="feature1Checkbox" disabled/>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-nowrap text-heading">
                  <i class="fa fa-bug me-4"></i>
                  <strong>Automated Software Updates &amp; Bug Fixes</strong>
                </td>
                <td style="max-width: 600px; min-width: 600px; text-align: justify;">
                  <i class="fa fa-info-circle me-2"></i>
                  <small class="text-muted">
                    Automated Software Updates &amp; Bug Fixes is a process of automatically
                      updating the software and fixing bugs to ensure that the application is up-to-date and secure.
                      This is to protect the privacy and security of your data by ensuring that the application is
                      always running the latest version with the latest security patches and bug fixes. We highly
                      recommend enabling this feature to ensure the safety and security of your data.
                  </small>
                </td>
                <td>
                  <div class="form-check d-flex justify-content-center">
                    <input class="form-check-input" type="checkbox" id="feature2Checkbox" checked disabled/>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-nowrap text-heading">
                  <i class="fa fa-cogs me-4"></i>
                  <strong>Automated Model Updates &amp; Monitoring</strong>
                </td>
                <td style="max-width: 600px; min-width: 600px; text-align: justify;">
                  <i class="fa fa-info-circle me-2"></i>
                  <small class="text-muted">
                    Automated Model Updates &amp; Monitoring is a process of automatically updating
                      the machine learning models and monitoring their performance to ensure that they are accurate and
                      up-to-date. This is to protect the privacy and security of your data by ensuring that the models
                      are always running the latest version with the latest training data and parameters. We highly
                      recommend enabling this feature to ensure the accuracy and reliability of your models.
                  </small>
                </td>
                <td>
                  <div class="form-check d-flex justify-content-center">
                    <input class="form-check-input" type="checkbox" id="feature3Checkbox" checked disabled/>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /Settings -->
      </div>
    </div>
  </div>
{% endblock %}
