<svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.00172773 0 100 80 70 60 50 0 30 50 100 20" fill="#7367F0" />
  
  <path opacity="0.06" fill-rule="evenodd" clip-rule="evenodd" d="M7.69824 30 50 70 100" fill="#161616" />
  
  <path opacity="0.06" fill-rule="evenodd" clip-rule="evenodd" d="M8.07751 20 0 100 0" fill="#161616" />
  
  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.77295 100 0 0 40 120 0 0 120 130" fill="#7367F0" />
</svg>
