{% extends layout_path %}
{% load static %}
{% load i18n %}

{% block title %}Delete Organization{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl mb-6">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="mb-0">Delete Organization</h3>
        <small class="text-muted float-end"></small>
      </div>
      <div class="card-body">
        {% if user_organizations_count > 1 %}
          <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete the organization <strong>"{{ organization.name }}"</strong>?</p><br>
            <h6><strong>
              • Please make sure that this operation will result in the complete removal of the organization from the system.
              <br>
              • This deletion operation is completely irreversible and will entirely remove the organization and all associated data from the system.
            </strong></h6>
            <p>Select another organization to transfer the balance to:</p>
            <select name="transfer_organization_id" class="form-select" required>
              {% for org in user_organizations %}
                {% if org.id != organization.id %}
                  <option value="{{ org.id }}">{{ org.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <br>
            <img src="{% static 'img/custom-illustrations/boy-organization-edit.png' %}" width="25%" class="justify-content-end">
            <br>
            <button type="submit" class="btn btn-danger"><strong>DELETE &nbsp;</strong> the organization.</button>
            <br><br>
            <a href="{% url 'organization:list' %}" class="btn btn-secondary"><strong>CANCEL &nbsp;</strong> the deletion operation.</a>
          </form>
        {% else %}
          <div class="alert alert-warning alert-dismissible d-flex col-lg-10 align-items-center" role="alert">
          <img src="{% static 'img/custom-illustrations/boy-core-edit.png' %}" width="25%" class="justify-content-end">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="alert-icon rounded">
              <i class="ti ti-alert-triangle-filled"></i>
            </span>
            <div class="d-flex flex-column ps-1">
              <h5 class="alert-heading mb-2"><strong>Action Forbidden</strong></h5>
              <p class="mb-0">
                Oops! You cannot delete the organization <strong>"{{ organization.name }}"</strong> because it is the
                only active organization you currently have. This behavior is to save your credits from being lost.
                If you truly want to delete this organization, please create another organization first. Then, you
                can delete this one, by choosing to transfer the balance to your new organization.
              </p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
            </div>
          </div>
          <a href="{% url 'organization:list' %}" class="btn btn-secondary"><strong>GO BACK</strong></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
