{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load field_to_label %}

{% block title %}Update NER Integration{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}"/>
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
{% endblock vendor_js %}

{% block content %}

  <a href="{% url 'data_security:list_ner_integrations' %}">
    <button class="btn btn-info ms-4 mt-4 mb-8">
      <i class="fa fa-file-contract me-4"></i>
      <strong> Manage NER Policies</strong>
    </button>
  </a>

  <div class="tips-section alert alert-secondary alert-dismissible d-flex col-lg-12 align-items-center"
       role="alert">
    <img src="{% static 'img/custom-illustrations-v2/i2-54.png' %}" width="25%" style="border-radius:25px;"
         class="justify-content-end me-8">
    <span class="alert-icon rounded">
              <i class="ti ti-bookmark"></i>
            </span>
    <div class="d-flex flex-column ps-1">
      <h5 class="alert-heading mb-2">Tip</h5>
      <p class="mb-0">
        You are updating an existing Named Entity Recognition (NER) Policy. You can modify the fields you want to
        encrypt, and change the language of the policy. Don't forget to select the correct organization that this policy
        belongs to. Once updated, the NER policy will be applied to encrypt sensitive fields in your data before sending
        them to the servers of your Large Language Model (LLM) provider.
      </p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div
        class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-danger{% endif %}"
        role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <hr>

  <div class="row mt-4">
    <div class="col-xl mb-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0"><strong>Update NER (Named Entity Recognition) Policy</strong></h5>
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'data_security:update_ner_integration' ner_integration.id %}">
            {% csrf_token %}
            <div class="row">
              <!-- Organization -->
              <div class="col-6 mb-6">
                <label class="form-label" for="organization">Organization</label>
                <select class="form-select" id="organization" name="organization">
                  {% for organization in organizations %}
                    <option value="{{ organization.id }}"
                            {% if organization.id == ner_integration.organization.id %}selected{% endif %}>{{ organization.name }}</option>
                  {% endfor %}
                </select>
              </div>

              <!-- Name -->
              <div class="col-6 mb-6">
                <label class="form-label" for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter NER Policy Name"
                       value="{{ ner_integration.name }}"/>
              </div>

              <!-- Description -->
              <div class="col-12 mb-6">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" name="description"
                          placeholder="Enter description for your policy in natural language.">{{ ner_integration.description }}</textarea>
              </div>

              <!-- Language -->
              <div class="col-6 mb-6">
                <label class="form-label" for="language">Language</label>
                <select class="form-select" id="language" name="language">
                  <option value="en" {% if ner_integration.language == 'en' %}selected{% endif %}>English</option>
                </select>
              </div>

              <!-- Switches for NER fields -->
              <div class="col-12">
                <label class="form-label">Entities to Encrypt</label>
                <div class="row mt-4">
                  {% for field in boolean_fields %}
                    <div class="col-4 mb-4">
                      <!-- Hidden input to send False if checkbox is unchecked -->
                      <input type="hidden" name="{{ field.name }}" value="False">
                      <label class="switch switch-square">
                        <input type="checkbox" class="switch-input" id="{{ field.name }}" name="{{ field.name }}"
                               value="True" {% if field.value %}checked{% endif %}>
                        <span class="switch-toggle-slider">
                          <span class="switch-on"><i class="ti ti-check"></i></span>
                          <span class="switch-off"><i class="ti ti-x"></i></span>
                        </span>
                      </label>
                      <label for="{{ field.name }}" class="ms-8 form-label">{{ field.label }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary mt-4 d-grid w-25">
              <strong>
                <i class="fa fa-save me-2"></i>
                Update NER Policy
              </strong>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Initialize organization-related dynamic fields if needed
      $('#organization').select2();
    });
  </script>
{% endblock %}
