{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load field_to_label %}

{% block title %}Update ML Model Connection{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}"/>
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
  <script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
  <script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
  <script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/form-layouts.js' %}"></script>
{% endblock page_js %}

{% block content %}

  <a href="{% url 'datasource_ml_models:list' %}">
    <button class="btn btn-secondary my-4 w-25">
      <i class="fa fa-chevron-left me-4"></i>
      <strong> Back to ML Connections</strong>
    </button>
  </a>

  <!-- Basic Layout -->
  <div class="row">
    <div class="col-xl mb-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">
            <strong>Update ML Model Connection</strong>
          </h5>
          <small class="text-muted float-end"></small>
        </div>
        <div class="card-body">
          <div class="tips-section alert alert-secondary alert-dismissible d-flex col-lg-12 align-items-center" role="alert">
            <img src="{% static 'img/custom-illustrations-v2/i2-69.png' %}" width="25%" style="border-radius: 25px;"
                 class="justify-content-end me-8" alt="Illustration for tip">
            <span class="alert-icon rounded">
            <i class="ti ti-bookmark"></i>
          </span>
            <div class="d-flex flex-column ps-1">
              <h5 class="alert-heading mb-2">Tip</h5>
              <p class="mb-0">
                Update the ML model connection by providing the necessary information. Ensure that each assistant has
                the updated connections to utilize the models effectively.
              </p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          {% if messages %}
            {% for message in messages %}
              <div
                class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-danger{% endif %}"
                role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row p-8">
              <div class="mb-6 col-4">
                <label class="form-label" for="assistant">Assistant</label>
                <select class="form-select" id="assistant" name="assistant">
                  {% for assistant in assistants %}
                    <option value="{{ assistant.id }}"
                            {% if assistant.id == connection.assistant.id %}selected{% endif %}>{{ assistant.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-6 col-4">
                <label class="form-label" for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ connection.name }}"/>
              </div>
              <div class="mb-6 col-4">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" rows="1"
                          name="description">{{ connection.description }}</textarea>
              </div>
              <div class="mb-6 col-4">
                <label class="form-label" for="model_object_category">Model Object Category</label>
                <select class="form-select" id="model_object_category" name="model_object_category">
                  {% for key, value in form.fields.model_object_category.choices %}
                    <option value="{{ key }}"
                            {% if key == connection.model_object_category %}selected{% endif %}>{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-6 col-4">
                <label class="form-label" for="interpretation_temperature">Interpretation Temperature</label>
                <input type="number" class="form-control" id="interpretation_temperature"
                       name="interpretation_temperature" max="2.0" min="0.0" step="0.05"
                       value="{{ connection.interpretation_temperature }}"/>
              </div>
              <div class="mb-6 col-4">
                <label class="form-label" for="interpretation_maximum_tokens">Interpretation Maximum Tokens</label>
                <input type="number" class="form-control" id="interpretation_maximum_tokens"
                       name="interpretation_maximum_tokens" max="4032" min="512" step="32"
                       value="{{ connection.interpretation_maximum_tokens }}"/>
              </div>
            </div>
            <hr>
            <input type="hidden" name="created_by_user" value="{{ connection.created_by_user.id }}">
            <button type="submit" class="btn btn-primary d-grid mt-4 w-25"><strong>Update ML Model Connection</strong>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
