{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load field_to_label %}

{% block title %}Update NoSQL Data Source{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/form-layouts.js' %}"></script>
{% endblock page_js %}

{% block content %}
<!-- Basic Layout -->
<div class="row">
  <div class="col-xl mb-6">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Update NoSQL Data Source</h5>
        <small class="text-muted float-end"></small>
      </div>
      <div class="card-body">
        <div class="alert alert-secondary alert-dismissible d-flex col-lg-10 align-items-center" role="alert">
          <img src="{% static 'img/custom-illustrations/boy-red-1.png' %}" width="25%" class="justify-content-end">
          <span class="alert-icon rounded">
            <i class="ti ti-bookmark"></i>
          </span>
          <div class="d-flex flex-column ps-1">
            <h5 class="alert-heading mb-2">Tip</h5>
            <p class="mb-0">
              Update the NoSQL data source by providing the necessary information. You can use this data source to
              connect to a NoSQL database and make your assistants be able to reach the data within your organization
              to provide better insights and recommendations.
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
        {% if messages %}
          {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-danger{% endif %}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <form method="post" enctype="multipart/form-data" id="update-nosql-form">
          {% csrf_token %}
          <div class="mb-6">
            <label class="form-label" for="dbms_type">DBMS Type</label>
            <select class="form-select" id="dbms_type" name="dbms_type">
              <option value="" disabled>Select DBMS Type</option>
              {% for key, value in dbms_choices %}
                <option value="{{ key }}" {% if key == connection.dbms_type %}selected{% endif %}>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-6">
            <label class="form-label" for="assistant">Assistant</label>
            <select class="form-select" id="assistant" name="assistant">
              {% for assistant in assistants %}
                <option value="{{ assistant.id }}" {% if assistant.id == connection.assistant.id %}selected{% endif %}>{{ assistant.name }}</option>
              {% endfor %}
            </select>
            <div class="form-text"></div>
          </div>
          <div class="mb-6">
            <label class="form-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ connection.name }}" />
          </div>
          <div class="mb-6">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" id="description" name="description">{{ connection.description }}</textarea>
          </div>
          <div class="mb-6">
            <label class="form-label me-4" for="host">Host</label>
            <input type="text" class="form-control" id="host" name="host" value="{{ connection.host }}" />
          </div>
          <div class="mb-6">
            <label class="form-label" for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ connection.username }}" />
          </div>
          <div class="mb-6">
            <label class="form-label" for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" value="{{ connection.password }}" />
          </div>
          <div class="mb-6">
            <label class="form-label" for="db_name">Database Name</label>
            <input type="text" class="form-control" id="db_name" name="db_name" placeholder="Enter database name" />
          </div>
          <div class="mb-6">
            <label class="form-label" for="is_read_only">Read-Only</label>
            <br>
            <label class="switch switch-square switch-lg mt-2">
              <input type="checkbox" class="switch-input" id="isReadOnlyCheckbox" name="is_read_only" {% if connection.is_read_only %}checked{% endif %}>
              <span class="switch-toggle-slider">
                <span class="switch-on"><i class="ti ti-check"></i></span>
                <span class="switch-off"><i class="ti ti-x"></i></span>
              </span>
            </label>
          </div>
          <div class="alert alert-solid-danger d-flex align-items-center mt-6" role="alert">
              <span class="alert-icon rounded">
                <i class="ti ti-alert-triangle-filled"></i>
              </span>
              We recommend that you create a read-only instance for the data source to prevent any accidental data loss or leaks.
          </div>
          <input type="hidden" name="created_by_user" value="{{ connection.created_by_user.id }}">
          <!-- Loading bar warning -->
          <div class="alert-container mt-4"></div>
          <div id="loadingBarWarning" class="alert alert-solid-info d-flex col-lg-12 align-items-center mt-4 d-none" role="alert">
            <span class="alert-icon rounded">
              <i class="ti ti-brain"></i>
            </span>
            <div class="d-flex flex-column ps-1 pt-4">
              <p class="alert-heading"><strong>Updating the data source connection, please hold on for a moment...</strong></p>
            </div>
          </div>
          <!-- Loading bar -->
          <div id="loadingBar" class="progress d-none mt-3 mb-4">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%; height:10px;"></div>
          </div>
          <button type="submit" class="btn btn-primary d-grid w-100"><strong>Update NoSQL Data Source</strong></button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const form = document.getElementById('update-nosql-form');
  const loadingBar = document.getElementById('loadingBar');
  const loadingBarWarning = document.getElementById('loadingBarWarning');

  form.addEventListener('submit', function () {
    // Show the loading bar
    loadingBar.classList.remove('d-none');
    loadingBarWarning.classList.remove('d-none');
  });
});
</script>

{% endblock %}
