{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Bimod.io | Login{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}"/>
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}"/>
  <link rel="stylesheet" href="{% static  'vendor/css/pages/front-page-landing.css' %}">
  <!-- Custom styles for the horizontal card at the bottom -->
  <style>
    .bottom-form-card {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 25%;
      z-index: 1050;
    }

    .form-horizontal {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

    .form-horizontal .form-group {
      flex: 1 1 auto;
      margin-right: 20px;
    }
  </style>

  <!-- forger animation -->
  <style>
    @keyframes forgerAnimation {
      0%, 100% {
        filter: saturate(2.0) hue-rotate(0deg);
      }
      50% {
        filter: saturate(0.75) hue-rotate(0deg);
      }
    }

    @keyframes bgAnimation {
      0%, 100% {
        filter: contrast(1.0) hue-rotate(-10deg);
      }
      50% {
        filter: contrast(1.5) hue-rotate(10deg);
      }
    }

    /* legion node: signal send animation */
    @keyframes legionSignalSend {
      0% {
        filter: saturate(1.0) hue-rotate(0deg);
      }
      50% {
        filter: saturate(3) hue-rotate(360deg);
      }
      100% {
        filter: saturate(1.0) hue-rotate(720deg)
      }
    }

    /* legion node: signal receive animation */
    @keyframes legionSignalReceive {
      0% {
        filter: saturate(1.0) hue-rotate(0deg);
      }
      50% {
        filter: saturate(3.0) hue-rotate(-180deg);
      }
      100% {
        filter: saturate(1.0) hue-rotate(-540deg)
      }
    }

    /* legion node: signal processing animation */
    @keyframes legionSignalProcessing {
      0% {
        filter: saturate(1.0) hue-rotate(0deg);
      }
      25% {
        filter: saturate(2.0) hue-rotate(-60deg);
      }
      90% {
        filter: saturate(3.0) hue-rotate(60deg);
      }
      100% {
        filter: saturate(1.0) hue-rotate(0deg)
      }
    }

    /* legion node: idle animation */
    @keyframes legionIdle {
      0% {
        filter: saturate(1.0) hue-rotate(-180deg);
      }
      50% {
        filter: saturate(1.5) hue-rotate(-60deg);
      }
      100% {
        filter: saturate(1.0) hue-rotate(-180deg)
      }
    }

    /* ############ */

    #forger-img {
      animation: forgerAnimation 5s infinite ease-in-out;
    }

    #bg-img {
      animation: bgAnimation 15s infinite ease-in-out;
    }

    /* ############ */

    #legion-node1 {
      animation: legionSignalSend 1s infinite ease-in-out;
    }

    #legion-node2 {
      animation: legionIdle 1s infinite ease-in-out;
    }

    #legion-node3 {
      animation: legionSignalReceive 1s infinite ease-in-out;
    }

    #legion-node4 {
      animation: legionIdle 1s infinite ease-in-out;
    }

    #legion-node5 {
      animation: legionSignalProcessing 1s infinite ease-in-out;
    }

    /* ########### */

  </style>

{% endblock page_css %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/pages-auth.js' %}"></script>
  <script src="{% static 'js/ui-popover.js' %}"></script>
{% endblock page_js %}

{% block content %}
  <div class="authentication-wrapper authentication-cover">
    <!-- Logo -->
    <a href="{% url 'landing:index' %}" class="app-brand auth-cover-brand">
      <!-- we will be redirecting this to the endeavours page -->
      <img src="{% static 'img/logo.png' %}" alt="logo" style="width: 60px;" class="ms-0">
      <span class="app-brand-text demo text-heading fw-bold">{% get_theme_variables 'template_name' %}</span>
    </a>
    <img id="bg-img" src="{% static 'img/voidforger/background.svg' %}" class="rounded"
         style="position: fixed; top:0; left:0; width: 100vw; height: 100vh; object-fit: cover;" alt="Voidforger with armor image">
    <img id="forger-img" src="{% static 'img/voidforger/voidforger-suited.png' %}" class="rounded"
         style="position: absolute; bottom:0; left:0; height: 950px;" alt="Voidforger with suit image">
    <!-- /Logo -->
    <div class="authentication-inner row m-0">
      <!-- Full page content here -->

      <div class="card border border-primary border-3 rounded"
           style="position: absolute; left: 50%; top: 15px; width: 49%;">
        <div class="card-body">
          <div class="align-items-start justify-content-between">
            <h5 class="bg-label-primary rounded p-4 border border-1 border-primary rounded">
              <i class="fa fa-building me-4 text-white"></i>
              <strong class="text-white">Bimodalis</strong>
            </h5>
            <small class="text-muted">
              <i class="fa fa-info-circle me-2"></i>
              <strong>A completely autonomous cryptocurrency asset management enterprise with multiple orchestrations to
                manage the assets and organize the transactions.</strong>
            </small>
          </div>
          <hr>
          <div class="card border border-2 border-primary rounded mt-4">
            <div class="card-body">
              <div class="row">
                <div class="col-4 mt-4">
                  <small style="font-size: 12px;">
                    <i class="fa fa-cogs me-1"></i>
                    <strong>Strategist Node</strong>
                  </small>
                  <img id="legion-node1" src="{% static 'img/voidforger/legion-node.png' %}"
                       class="rounded border border-primary border-2 mt-2" style="width: 100%; max-width: 150px;" alt="Legion node image 1">
                </div>
                <div class="col-4 mt-4">
                  <small style="font-size: 12px;">
                    <i class="fa fa-cogs me-1"></i>
                    <strong>Backtesting Node</strong>
                  </small>
                  <img id="legion-node2" src="{% static 'img/voidforger/legion-node.png' %}"
                       class="rounded border border-primary border-2 mt-2" style="width: 100%; max-width: 150px;" alt="Legion node image 2">
                </div>
                <div class="col-4 mt-4">
                  <small style="font-size: 12px;">
                    <i class="fa fa-cogs me-1"></i>
                    <strong>Trading Node</strong>
                  </small>
                  <img id="legion-node3" src="{% static 'img/voidforger/legion-node.png' %}"
                       class="rounded border border-primary border-2 mt-2" style="width: 100%; max-width: 150px;" alt="Legion node image 3">
                </div>
                <div class="col-4 mt-4">
                  <small style="font-size: 12px;">
                    <i class="fa fa-cogs me-1"></i>
                    <strong>Risk Manager Node</strong>
                  </small>
                  <img id="legion-node4" src="{% static 'img/voidforger/legion-node.png' %}"
                       class="rounded border border-primary border-2 mt-2" style="width: 100%; max-width: 150px;" alt="Legion node image 4">
                </div>
                <div class="col-4 mt-4">
                  <small style="font-size: 12px;">
                    <i class="fa fa-cogs me-1"></i>
                    <strong>Fund Manager Node</strong>
                  </small>
                  <img id="legion-node5" src="{% static 'img/voidforger/legion-node.png' %}"
                       class="rounded border border-primary border-2 mt-2" style="width: 100%; max-width: 150px;" alt="Legion node image 5">
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div
            class="card card-border-shadow-primary bg-label-primary p-2 mt-4 mb-0 overflow-auto border border-1 border-primary rounded">
            <small class="text-white p-1 mb-1"><strong>
              <i class="fa fa-bolt-lightning ms-5 me-2"></i>
              Operations Log
            </strong></small>
            <small class="mb-2 text-dark ms-6">
              <i class="fa fa-info-circle me-2"></i>
              This is the operations log for the self-organizing enterprise, where the produced logs are shown in the
              stream box. The logs are generated by the orchestrations, internal assistants, and meta-orchestrator
              operating inside the system.
            </small>
            <div id="non-tool-markdown-content" style="min-height: 120px; max-height: 120px; overflow-y: auto;"
                 class="bg-white text-black p-4 markdown-content border border-primary border-4 rounded">
            </div>
          </div>
        </div>
      </div>

      <div class="card border border-primary border-3 rounded"
           style="position: absolute; bottom: 5%; left: 1%; width: 47%;">
        <div class="card-body">
          <div class="align-items-start justify-content-between">
            <h6 class="bg-label-primary rounded p-4 border border-1 border-primary rounded">
              <i class="fa fa-money-bill-1 me-4 text-white"></i>
              <strong class="text-white">Performance Mapping</strong>
            </h6>
            <small>
              <i class="fa fa-info-circle me-2"></i>
              <strong>Performance mapping of the self-organizing enterprise, depending on the operational KPIs
                and success metrics for a given use-case, mission and vision of the organization.</strong>
            </small>
          </div>
          <hr>
          <div
            class="card card-border-shadow-primary bg-label-primary p-2 mt-4 mb-0 overflow-auto border border-1 border-primary rounded">
            <div id="non-tool-markdown-content-2" style="min-height: 120px; max-height: 120px; overflow-y: auto;"
                 class="bg-white text-black p-4 markdown-content border border-primary border-4 rounded">
            </div>
          </div>
        </div>
      </div>


      <!-- operation node 1 -->
      <small id="operation-node-0" class="bg-label-primary border border-2 border-primary rounded p-4 mt-2 ms-2"
             style="position: absolute; top: 1%; left: 44%; width: 60px;">
        <strong>
          ST0
        </strong>
      </small>

      <!-- operation node 2 -->
      <small id="operation-node-1" class="bg-label-success border border-2 border-success rounded p-4 mt-2 ms-2"
             style="position: absolute; top: 7%; left: 44%; width: 60px;">
        <strong>
          STA
        </strong>
      </small>

      <!-- operation node 3 -->
      <small id="operation-node-2" class="bg-label-warning border border-2 border-warning rounded p-4 mt-2 ms-2"
             style="position: absolute; top: 13%; left: 44%; width: 60px;">
        <strong>
          STB
        </strong>
      </small>

      <!-- operation node 4 -->
      <small id="operation-node-3" class="bg-label-primary border border-2 border-primary rounded p-4 mt-2 ms-2"
             style="position: absolute; top: 19%; left: 44%; width: 60px;">
        <strong>
          ST0
        </strong>
      </small>

      <!-- operation node 5 -->
      <small id="operation-node-4" class="bg-label-primary border border-2 border-primary rounded p-4 mt-2 ms-2"
             style="position: absolute; top: 25%; left: 44%; width: 60px;">
        <strong>
          ST0
        </strong>
      </small>

      <!-- operation node 6 -->
      <small id="operation-node-5" class="bg-label-primary border border-2 border-primary rounded p-4 mt-2 ms-2"
             style="position: absolute; top: 31%; left: 44%; width: 60px;">
        <strong>
          ST0
        </strong>
      </small>

      <!-- operation node 7 -->
      <small id="operation-node-6" class="bg-label-danger border border-2 border-danger rounded p-4 mt-2 ms-2"
             style="position: absolute; top: 37%; left: 44%; width: 60px;">
        <strong>
          STC
        </strong>
      </small>

      <!-- operation node 8 -->
      <small id="operation-node-7" class="bg-label-primary border border-2 border-primary rounded p-4 mt-2 ms-2"
             style="position: absolute; top: 43%; left: 44%; width: 60px;">
        <strong>
          ST0
        </strong>
      </small>

      <!-- operation node 9 -->
      <small id="operation-node-8" class="bg-label-primary border border-2 border-primary rounded p-4 mt-2 ms-2"
             style="position: absolute; top: 49%; left: 44%; width: 60px;">
        <strong>
          ST0
        </strong>
      </small>

      <!-- Horizontal Form at the bottom as a card -->
      <!--
      <div class="col-12 bottom-form-card" style="margin-bottom: 40px;">
        <div class="card">
          <div class="card-body">

          </div>
        </div>
      </div>
      -->
      <!-- /Horizontal Form at the bottom -->
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const element = document.getElementById('non-tool-markdown-content');
      const element2 = document.getElementById('non-tool-markdown-content-2');
      let socket = null;
      const maxRetries = 1000;
      let retryCount = 0;
      let accumulatedContent = '';

      function connectWebSocket() {

        function getAnimationName(status) {
          switch (status) {
            case 'idle':
              return 'legionIdle';
            case 'sending':
              return 'legionSignalSend';
            case 'receiving':
              return 'legionSignalReceive';
            case 'processing':
              return 'legionSignalProcessing';
            default:
              return ''; // No animation for undefined states
          }
        }

        function getLogColorClass(type) {
          switch (type) {
            case 'ST0':
              return 'primary';
            case 'STA':
              return 'success';
            case 'STB':
              return 'warning';
            case 'STC':
              return 'danger';
            default:
              return 'primary'; // Default if type is unknown
          }
        }

        function updateOperationNode(type) {
          const nodeElement = document.getElementById(id);
          if (nodeElement) {
            // Remove all potential classes
            nodeElement.classList.remove('log-primary', 'log-success', 'log-warning', 'log-danger');
            // Add the new appropriate class
            nodeElement.classList.add(getLogColorClass(type));
            // Update the content
            nodeElement.innerText = content;
          }
        }

        // Determine the correct WebSocket protocol based on the current page's protocol
        let protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
        // Construct the WebSocket URL with the unique group identifier
        socket = new WebSocket(protocol + window.location.host + `/ws/voidforge_operation_logs/`);
        socket.onmessage = function (event) {
          let data = JSON.parse(event.data);
          let letter = data.log;

          let operationNodesData = letter['operation_nodes'];
          let legionNodesData = letter['legion_nodes'];
          let streamTextData = letter['stream_text'];
          let tradingText = letter['trading_text'];
          console.log(tradingText);

          if (streamTextData != null) {

            // check the length of the streamed data, if longer than N characters, clean it
            if (element.innerHTML.toString().length > 10000) {
              element.innerHTML = "";
            }

            element.innerHTML += `
               <div class="bg-label-primary rounded m-2 p-4">
                <strong class="text-white">${streamTextData}</strong>
              </div>
            `;
            element.scrollTo({
              top: element.scrollHeight + 1000,
              behavior: 'smooth'
            });
          }

          if (tradingText != null && tradingText !== ''){

            // check the length of the streamed data, if longer than N characters, clean it
            if (element2.innerHTML.toString().length > 10000) {
              element2.innerHTML = "";
            }

            element2.innerHTML += `
               <div class="bg-label-primary rounded m-2 p-4">
                <strong class="text-white">${tradingText}</strong>
              </div>
            `;
            element2.scrollTo({
              top: element.scrollHeight + 1000,
              behavior: 'smooth'
            });
          }

          legionNodesData.forEach((status, index) => {
            const nodeId = `legion-node${index + 1}`;
            const nodeElement = document.getElementById(nodeId);
            if (nodeElement) {
              nodeElement.style.animationName = getAnimationName(status);
            }
          });

          operationNodesData.forEach((status, index) => {
            let typeColor = getLogColorClass(status);
            let nodeElement = document.getElementById(`operation-node-${index}`);
            if (nodeElement) {
              nodeElement.className = `bg-label-${typeColor} border border-2 border-${typeColor} rounded p-4 mt-2 ms-2`;
              nodeElement.innerHTML = `<strong>${status}</strong>`; // Update content
            }
          });
        };
        socket.onerror = function (event) {
          console.error("WebSocket error", event);
          socket.close();
        };
        socket.onclose = function (event) {
          console.log("WebSocket connection closed", event);
          if (retryCount < maxRetries) {
            retryCount++;
            console.log(`Reconnecting... attempt ${retryCount}`);
            setTimeout(connectWebSocket, 2000); // Reconnect after 2 seconds
          } else {
            console.error("Max reconnection attempts reached. Unable to reconnect.");
          }
        };
      }

      connectWebSocket(); // Initial connection attempt
      console.log("WebSocket connection established successfully.");
    });
  </script>

{% endblock content %}
