{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load field_to_label %}

{% block title %}Create Browser Connection{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/material.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
  <script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
  <script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
  <script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/python/python.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/edit/matchbrackets.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/form-layouts.js' %}"></script>
{% endblock page_js %}

{% block content %}
  <!-- Basic Layout -->
  <div class="row">
    <div class="col-xl mb-6">
      <div class="card">
        <div class="card-datatable table-responsive">
          <a href="{% url 'datasource_browsers:list' %}">
            <button class="btn btn-secondary ms-4 mt-4 mb-8">
              <i class="fa fa-dashboard me-4"></i>
              <strong> Manage Browser Connections</strong>
            </button>
          </a>
        </div>
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0"><strong>Create New Browser Connection</strong></h5>
          <small class="text-muted float-end"></small>
        </div>
        <div class="card-body">
          <div class="tips-section alert alert-secondary alert-dismissible d-flex col-lg-12 align-items-center" role="alert">
            <img src="{% static 'img/custom-illustrations-v2/i2-45.png' %}" width="25%" style="border-radius:25px;"
                 class="justify-content-end me-8">
            <span class="alert-icon rounded">
            <i class="ti ti-bookmark"></i>
          </span>
            <div class="d-flex flex-column ps-1">
              <h5 class="alert-heading mb-2">Tip</h5>
              <p class="mb-0">
                Create a new browser connection by providing the necessary information. This connection will allow your
                assistants
                to browse and retrieve data from various sources. Make sure to set appropriate permissions and read-only
                access where
                needed to protect your data.
              </p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
            </div>
          </div>
          {% if messages %}
            {% for message in messages %}
              <div
                class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-danger{% endif %}"
                role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row p-8">
              <div class="mb-6 col-6">
                <label class="form-label" for="browser_type">Browser Type</label>
                <select class="form-select" id="browser_type" name="browser_type">
                  <option value="" disabled selected>Select Browser Type</option>
                  {% for key, value in browser_types %}
                    <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-6 col-6">
                <label class="form-label" for="assistant">Assistant</label>
                <select class="form-select" id="assistant" name="assistant">
                  {% for assistant in assistants %}
                    <option value="{{ assistant.id }}">{{ assistant.name }}</option>
                  {% endfor %}
                </select>
                <div class="form-text"></div>
              </div>
              <div class="mb-6 col-6">
                <label class="form-label" for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter connection name"
                       required/>
              </div>
              <div class="mb-6 col-6">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" rows="1" name="description"
                          placeholder="Enter connection description" required></textarea>
              </div>
              <div class="mb-6 col-6">
                <label class="form-label" for="data_selectivity">Data Selectivity</label>
                <input type="range" class="form-range" id="data_selectivity" name="data_selectivity" min="0" max="1"
                       step="0.1" value="0.5" oninput="this.nextElementSibling.value = this.value">
                <output>0.5</output>
              </div>
              <div class="mb-6 col-6">
                <label class="form-label" for="minimum_investigation_sites">Minimum Investigation Sites</label>
                <input type="range" class="form-range" id="minimum_investigation_sites"
                       name="minimum_investigation_sites"
                       min="1" max="10" step="1" value="2" oninput="this.nextElementSibling.value = this.value">
                <output>2</output>
              </div>
              <div class="mb-6 col-6">
                <label class="form-label" for="whitelisted_extensions">Whitelisted Extensions</label>
                <table id="whitelistedExtensionsTable" class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Extension</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><input type="text" name="whitelisted_extensions[]" placeholder="Enter extension"
                               class="form-control"></td>
                    <td>
                      <button class="btn bg-label-danger" type="button" onclick="removeRow(this)"><i
                        class="fa fa-remove"></i></button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <button id="addWhitelistRow" type="button" onclick="addRow('whitelistedExtensionsTable')"
                        class="btn btn-secondary d-grid w-50 mt-4">
                  <strong>
                    <i class="fa fa-plus me-4"></i>
                    Add New Row
                  </strong>
                </button>
              </div>
              <div class="mb-6 col-6">
                <label class="form-label" for="blacklisted_extensions">Blacklisted Extensions</label>
                <table id="blacklistedExtensionsTable" class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Extension</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><input type="text" name="blacklisted_extensions[]" placeholder="Enter extension"
                               class="form-control"></td>
                    <td>
                      <button class="btn bg-label-danger" type="button" onclick="removeRow(this)"><i
                        class="fa fa-remove"></i></button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <button id="addBlacklistRow" type="button" onclick="addRow('blacklistedExtensionsTable')"
                        class="btn btn-secondary d-grid w-50 mt-4">
                  <strong>
                    <i class="fa fa-plus me-4"></i>
                    Add New Row
                  </strong>
                </button>
              </div>
              <div class="mb-0 col-12">
                <hr>
                <label class="form-label mb-4 mt-4" for="html_cleanup_strategies"><strong>HTML Cleanup Strategies</strong></label>
                <hr>
                <div class="row p-8 col-12">
                  <div class="form-check mb-4 col-6">
                    <input class="form-check-input" type="checkbox" value="on" id="ra_javascript" name="ra_javascript"
                           checked>
                    <label class="form-check-label" for="ra_javascript">
                      JavaScript
                    </label>
                    <span class="form-text bg-label-secondary p-1 m-1 rounded">
                      <strong>Remove any Javascript and stylesheets.</strong>
                    </span>
                  </div>
                  <div class="form-check mb-4 col-6">
                    <input class="form-check-input" type="checkbox" value="on" id="ra_style" name="ra_style" checked>
                    <label class="form-check-label" for="ra_style">
                      Style
                    </label>
                    <span class="form-text bg-label-secondary p-1 m-1 rounded">
                      <strong>Remove any style tags and attributes.</strong>
                    </span>
                  </div>
                  <div class="form-check mb-4 col-6">
                    <input class="form-check-input" type="checkbox" value="on" id="ra_inline_style"
                           name="ra_inline_style"
                           checked>
                    <label class="form-check-label" for="ra_inline_style">
                      Inline Style
                    </label>
                    <span class="form-text bg-label-secondary p-1 m-1 rounded">
                      <strong>Remove any style attributes.</strong>
                    </span>
                  </div>
                  <div class="form-check mb-4 col-6">
                    <input class="form-check-input" type="checkbox" value="on" id="ra_comments" name="ra_comments"
                           checked>
                    <label class="form-check-label" for="ra_comments">
                      Comments
                    </label>
                    <span class="form-text bg-label-secondary p-1 m-1 rounded">
                      <strong>Remove any comments.</strong>
                    </span>
                  </div>
                  <div class="form-check mb-4 col-6">
                    <input class="form-check-input" type="checkbox" value="on" id="ra_links" name="ra_links" checked>
                    <label class="form-check-label" for="ra_links">
                      Links
                    </label>
                    <span class="form-text bg-label-secondary p-1 m-1 rounded">
                      <strong>Removes any link tags.</strong>
                    </span>
                  </div>
                  <div class="form-check mb-4 col-6">
                    <input class="form-check-input" type="checkbox" value="on" id="ra_meta" name="ra_meta" checked>
                    <label class="form-check-label" for="ra_meta">
                      Meta
                    </label>
                    <span class="form-text bg-label-secondary p-1 m-1 rounded">
                      <strong>Remove any meta tags.</strong>
                    </span>
                  </div>
                  <div class="form-check mb-4 col-6">
                    <input class="form-check-input" type="checkbox" value="on" id="ra_page_structure"
                           name="ra_page_structure">
                    <label class="form-check-label" for="ra_page_structure">
                      Page Structure
                    </label>
                    <span class="form-text bg-label-secondary p-1 m-1 rounded">
                      <strong>Remove page structure tags like head, html, etc.</strong>
                    </span>
                  </div>
                  <div class="form-check mb-4 col-6">
                    <input class="form-check-input" type="checkbox" value="on" id="ra_processing_instructions"
                           name="ra_processing_instructions" checked>
                    <label class="form-check-label" for="ra_processing_instructions">
                      Processing Instructions
                    </label>
                    <span class="form-text bg-label-secondary p-1 m-1 rounded">
                      <strong>Remove any processing instructions.</strong>
                    </span>
                  </div>
                  <div class="form-check mb-4 col-6">
                    <input class="form-check-input" type="checkbox" value="on" id="ra_embedded" name="ra_embedded"
                           checked>
                    <label class="form-check-label" for="ra_embedded">
                      Embedded
                    </label>
                    <span class="form-text bg-label-secondary p-1 m-1 rounded">
                      <strong>Remove any embedded tags like objects such as iframes, etc.</strong>
                    </span>
                  </div>
                  <div class="form-check mb-4 col-6">
                    <input class="form-check-input" type="checkbox" value="on" id="ra_frames" name="ra_frames" checked>
                    <label class="form-check-label" for="ra_frames">
                      Frames
                    </label>
                    <span class="form-text bg-label-secondary p-1 m-1 rounded">
                      <strong>Remove any frame-related tags.</strong>
                    </span>
                  </div>
                  <div class="form-check mb-4 col-6">
                    <input class="form-check-input" type="checkbox" value="on" id="ra_forms" name="ra_forms">
                    <label class="form-check-label" for="ra_forms">
                      Forms
                    </label>
                    <span class="form-text bg-label-secondary p-1 m-1 rounded">
                      <strong>Remove any form tags.</strong>
                    </span>
                  </div>
                  <div class="form-check mb-4 col-6">
                    <input class="form-check-input" type="checkbox" value="on" id="ra_remove_tags"
                           name="ra_remove_tags">
                    <label class="form-check-label" for="ra_remove_tags">
                      Remove Tags
                    </label>
                    <span class="form-text bg-label-danger p-1 m-1 rounded">
                      <strong>Remove ALL tags but keep the content.</strong>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <input type="hidden" name="created_by_user" value="{{ request.user.id }}">
            <button type="submit" class="btn btn-primary mt-8 d-grid w-25">
              <strong>Create Browser Connection</strong>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    function addRow(tableId) {
      const tableBody = document.querySelector(`#${tableId} tbody`);
      const newRow = `
      <tr>
        <td><input type="text" name="${tableId === 'whitelistedExtensionsTable' ? 'whitelisted_extensions[]' : 'blacklisted_extensions[]'}" placeholder="Enter extension" class="form-control"></td>
        <td><button class="btn bg-label-danger" type="button" onclick="removeRow(this)"><i class="fa fa-remove"></i></button></td>
      </tr>
    `;
      tableBody.insertAdjacentHTML('beforeend', newRow);
    }

    function removeRow(button) {
      const row = button.closest('tr');
      row.remove();
      handleMutualExclusivity();
    }

    document.addEventListener('DOMContentLoaded', function () {
      const whitelistTable = document.getElementById('whitelistedExtensionsTable');
      const blacklistTable = document.getElementById('blacklistedExtensionsTable');
      const addWhitelistRowButton = document.getElementById('addWhitelistRow');
      const addBlacklistRowButton = document.getElementById('addBlacklistRow');

      function handleMutualExclusivity() {
        const hasWhitelist = whitelistTable.querySelector('input').value.trim() !== '';
        const hasBlacklist = blacklistTable.querySelector('input').value.trim() !== '';

        if (hasWhitelist) {
          addBlacklistRowButton.disabled = true;
          blacklistTable.querySelectorAll('input').forEach(input => input.disabled = true);
          blacklistTable.querySelectorAll('button').forEach(button => button.disabled = true);
        } else {
          addBlacklistRowButton.disabled = false;
          blacklistTable.querySelectorAll('input').forEach(input => input.disabled = false);
          blacklistTable.querySelectorAll('button').forEach(button => button.disabled = false);
        }

        if (hasBlacklist) {
          addWhitelistRowButton.disabled = true;
          whitelistTable.querySelectorAll('input').forEach(input => input.disabled = true);
          whitelistTable.querySelectorAll('button').forEach(button => button.disabled = true);
        } else {
          addWhitelistRowButton.disabled = false;
          whitelistTable.querySelectorAll('input').forEach(input => input.disabled = false);
          whitelistTable.querySelectorAll('button').forEach(button => button.disabled = false);
        }
      }

      whitelistTable.addEventListener('input', handleMutualExclusivity);
      blacklistTable.addEventListener('input', handleMutualExclusivity);
    });
  </script>

{% endblock %}
