{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load field_to_label %}

{% block title %}Export Assistant{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}"/>
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
  <script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
  <script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
  <script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/form-layouts.js' %}"></script>
{% endblock page_js %}

{% block content %}
  <!-- Basic Layout -->
  <div class="row">
    <div class="col-xl mb-6">
      <div class="card">
        <div class="card-datatable table-responsive">
          <a href="{% url 'export_assistants:list' %}">
            <button class="btn btn-secondary ms-4 mt-4 mb-8">
              <i class="fa fa-dashboard me-4"></i>
              <strong> Manage your Services</strong>
            </button>
          </a>
        </div>
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Export an Assistant</h5> <small class="text-muted float-end"></small>
        </div>
        <div class="card-body">
          <div class="alert alert-secondary alert-dismissible d-flex col-lg-10 align-items-center" role="alert">
            <img src="{% static 'img/custom-illustrations/boy-red-1.png' %}" width="25%" class="justify-content-end">
            <span class="alert-icon rounded">
            <i class="ti ti-bookmark"></i>
          </span>
            <div class="d-flex flex-column ps-1">
              <h5 class="alert-heading mb-2">Tip</h5>
              <p class="mb-0">
                In this page, you can create a new Export Assistant. Select an assistant from the dropdown,
                set the request limit per hour, and choose if it should be public or not.
                Once you have filled out all the fields, click on the "Create" button to create the Export Assistant.
              </p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
            </div>
          </div>
          {% if messages %}
            {% for message in messages %}
              <div
                class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-danger{% endif %}"
                role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-6">
              <label class="form-label" for="assistant">Assistant</label>
              <select class="form-select" id="assistant" name="assistant">
                <option value="" disabled selected>Select Assistant</option>
                {% for assistant in assistants %}
                  <option value="{{ assistant.id }}">{{ assistant.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-6">
              <label class="form-label" for="request_limit_per_hour">Request Limit Per Hour</label>
              <input type="number" class="form-control" id="request_limit_per_hour" name="request_limit_per_hour"
                     placeholder="Enter request limit per hour"/>
            </div>
            <div class="mb-6">
              <label class="form-label" for="is_public">Public</label>
              <br>
              <label class="switch switch-square switch-lg mt-2">
                <input type="checkbox" class="switch-input" id="is_public" name="is_public">
                <span class="switch-toggle-slider">
                <span class="switch-on"><i class="ti ti-check"></i></span>
                <span class="switch-off"><i class="ti ti-x"></i></span>
              </span>
              </label>
            </div>
            <button type="submit" class="btn btn-primary d-grid w-100">Create Export Assistant</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
