{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Connect User to Organization{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
{% endblock vendor_js %}

{% block content %}
<div class="row">
  <div class="col-xl mb-6">
    <div class="card">
      <div class="card-datatable table-responsive">
        <a href="{% url 'user_management:list' %}">
          <button class="btn btn-secondary ms-4 mt-4 mb-8">
            <i class="fa fa-dashboard me-4"></i>
            <strong> Manage Users</strong>
          </button>
        </a>
      </div>
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Connect User to Organization</h5>
        <small class="text-muted float-end"></small>
      </div>
      <div class="card-body">
        <div class="alert alert-secondary alert-dismissible d-flex col-lg-10 align-items-center" role="alert">
          <img src="{% static 'img/custom-illustrations/boy-user.png' %}" width="25%" class="justify-content-end">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="alert-icon rounded">
                  <i class="ti ti-bookmark"></i>
                </span>
          <div class="d-flex flex-column ps-1">
            <h5 class="alert-heading mb-2">Tip</h5>
            <p class="mb-0">
              In this page, you can associate a user with an organization. In {% get_theme_variables 'template_name' %} system,
              users can be associated with multiple organizations, however, keep in mind that the permissions are global
              throughout multiple organizations. This means that if a user has a permission in one organization, they
              will have the same permission in all organizations they are associated with.
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
          </div>
        </div>
        {% if error_messages %}
          {% for key, message in error_messages.items %}
            <div class="alert alert-danger" role="alert">
              <strong>{{ key }}:</strong> {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="mb-6">
            <label class="form-label" for="user">Username</label>
            <select class="form-select" id="user" name="user">
              {% for user in users %}
              <option value="{{ user.id }}">{{ user.username }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-6">
            <label class="form-label" for="organization">Organization</label>
            <select class="form-select" id="organization" name="organization">
              {% for organization in organizations %}
              <option value="{{ organization.id }}">{{ organization.name }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary d-grid w-100">Add User to Organization</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
