{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Users List{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/app-user-list.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="row g-6 mb-6">
  <div class="col-sm-6 col-xl-4">
    <h3 class="mb-0">User Management</h3>
  </div>
</div>

<div class="alert alert-secondary alert-dismissible d-flex col-lg-10 align-items-center" role="alert">
  <img src="{% static 'img/custom-illustrations/boy-user-list.png' %}" width="25%" class="justify-content-end">
  <span class="alert-icon rounded">
    <i class="ti ti-bookmark"></i>
  </span>
  <div class="d-flex flex-column ps-1">
    <h5 class="alert-heading mb-2">Tip</h5>
    <p class="mb-0">
        In this page, you can view all the users of the organizations you have created. You can also edit or
        delete any user that belongs to you as an administrator. To create a new user, click on the
        "Add New User" button, which is located in the tab on the left side of your screen. Keep in mind that
        dissociating a user from an organization will only remove the user from that organization, not from the system.
        However, if you delete a user from his/her only organization, the user will be deleted from the system entirely.
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
</div>

{% for organization, user_datas in org_users.items %}
  <div class="card mb-6">
    <div class="card-header border-bottom">
      <a class="collapsed" data-bs-toggle="collapse" href="#collapse-{{ organization.id }}" role="button" aria-expanded="false" aria-controls="collapse-{{ organization.id }}">
        <h4>
          {{ organization.name }}

        </h4>
      </a>
      <p>
        <i class="fa fa-user-astronaut"></i>
        <strong>&nbsp; Number of Users: </strong> {{ user_datas|length }}
      </p>
      <i class="fa fa-arrow-alt-circle-down toggle-icon" data-target="#collapse-{{ organization.id }}"></i>
      <span data-bs-toggle="collapse" href="#collapse-{{ organization.id }}" role="button" aria-expanded="false" aria-controls="collapse-{{ organization.id }}">
        <strong>&nbsp; See Users of this Organization</strong>
      </span>
    </div>
    <div id="collapse-{{ organization.id }}" class="card-datatable table-responsive collapse">
      <table class="datatables-users-management table">
        <thead class="border-top">
          <tr>
            <th>Username</th>
            <th>Added by</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>City</th>
            <th>Country</th>
            <th>Postal Code</th>
            <th>Is Active</th>
            <th>Verified</th>
            <th>Actions</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for user, profile in user_datas %}
            <tr>
              <td>{{ user.username }}</td>
              <td>{{ profile.created_by_user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ profile.first_name }}</td>
              <td>{{ profile.last_name }}</td>
              <td>{{ profile.phone_number }}</td>
              <td>{{ profile.address }}</td>
              <td>{{ profile.city }}</td>
              <td>{{ profile.country }}</td>
              <td>{{ profile.postal_code }}</td>
              <td>
                {% if user.id != context_user.id %}
                  <form method="post" action="{% url 'user_management:list' %}" class="status-form">
                      {% csrf_token %}
                      <input type="hidden" name="user_id" value="{{ user.id }}">
                      <input type="checkbox" name="is_active" class="form-check-input status-checkbox" {% if profile.is_active %}checked{% endif %} onchange="this.form.submit();">
                  </form>
                {% endif %}
            </td>
              <td>{{ profile.is_verified|yesno:"Yes,No" }}</td>
              <td>
                {% if user.id != context_user.id %}
                  <a href="{% url "user_management:remove_user_from_organization" user.id organization.id %}" class="btn btn-sm btn-warning">
                    Disconnect from Organization
                  </a>
                {% endif %}
              </td>
              <td>
                {% if user.id != context_user.id %}
                  <a href="{% url "user_management:remove" user.id %}" class="btn btn-sm btn-danger">
                    Delete from All Organizations
                  </a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endfor %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.toggle-icon').forEach(function(icon) {
      icon.addEventListener('click', function() {
        var target = document.querySelector(this.getAttribute('data-target'));
        var bootstrapCollapse = new bootstrap.Collapse(target, {
          toggle: false
        });
        if (target.classList.contains('show')) {
          bootstrapCollapse.hide();
        } else {
          bootstrapCollapse.show();
        }
      });
    });

    document.querySelectorAll('.collapse').forEach(function(collapse) {
      collapse.addEventListener('show.bs.collapse', function() {
        var icon = document.querySelector(`.toggle-icon[data-target="#${this.id}"]`);
        if (icon) {
          icon.classList.remove('fa-arrow-alt-circle-down');
          icon.classList.add('fa-arrow-alt-circle-up');
        }
      });

      collapse.addEventListener('hide.bs.collapse', function() {
        var icon = document.querySelector(`.toggle-icon[data-target="#${this.id}"]`);
        if (icon) {
          icon.classList.remove('fa-arrow-alt-circle-up');
          icon.classList.add('fa-arrow-alt-circle-down');
        }
      });
    });
  });
</script>

{% endblock %}
