{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load field_to_label %}

{% block title %}Media Storage Connections{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
<style>
  .text-wrap {
      white-space: normal;
      word-break: break-all;
  }
</style>
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/form-layouts.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="row g-6 mb-6">
  <div class="col-sm-6 col-xl-6">
    <h3 class="mb-0"><strong>Media Storage Connections</strong></h3>
  </div>
</div>

<div class="alert alert-secondary alert-dismissible d-flex col-lg-10 align-items-center" role="alert">
  <img src="{% static 'img/custom-illustrations/boy-red-2.png' %}" width="25%" class="justify-content-end">
  <span class="alert-icon rounded">
    <i class="ti ti-bookmark"></i>
  </span>
  <div class="d-flex flex-column ps-1">
    <h5 class="alert-heading mb-2">Tip</h5>
    <p class="mb-0">
      In this page, you can manage your media storage connections for your assistants. You must be aware of the fact
      that the media storage connections are assistant-based. This means that the assistants will be able to use
      the media storages that you have created here, and if you want another assistant to use the same media storage,
      you need to create another connection for that assistant.
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<!-- Media Storage Connections Cards -->
{% for org_data in data %}
<div class="card mb-6">
  <div class="card-header border-bottom">
    <h4>{{ org_data.organization.name }}</h4>
  </div>
  <div class="card-body">
    {% for assistant_data in org_data.assistants %}
    <div class="assistant-group m-8">
      <h5 class="assistant-title ms-4"><strong>{{ assistant_data.assistant.name }}</strong></h5>
      <div class="row g-6 mb-4">
        {% for storage_data in assistant_data.media_storages %}
        <div class="col-xl-6 col-md-6">
          <div class="card h-100">
            <div class="card-header d-flex justify-content-between">
              <div class="card-title mb-0">
                <p class="card-subtitle mb-4"><strong>
                  <i class="fa fa-id-badge me-4"></i> Connection Name: &nbsp;&nbsp;</strong>
                  {{ storage_data.storage.name }}
                </p>
                <p class="card-subtitle mb-4"><strong>
                  <i class="fa fa-database me-4"></i> Media Category: &nbsp;&nbsp;</strong>
                  {{ storage_data.storage.get_media_category_display }}
                </p>
              </div>
            </div>
            <div class="card-body">
              <ul class="p-0 m-0">
                <li class="mb-4 d-flex justify-content-between align-items-center">
                  <span class="text-body me-4"><strong>Description:</strong></span>
                  <span class="text-wrap">{{ storage_data.storage.description|linebreaksbr }}</span>
                </li>
                <li class="mb-4 d-flex justify-content-between align-items-center">
                  <span class="text-body"><strong>Directory Full Path:</strong></span>
                  <span class="text-wrap bg-label-warning p-2 rounded ms-4"><strong>{{ storage_data.storage.directory_full_path }}</strong></span>
                </li>
              </ul>
              <hr>
              <div class="d-flex justify-content-center">
                <a href="{% url 'datasource_media_storages:update' storage_data.storage.id %}" class="btn btn-primary me-3"><i class="ti ti-edit me-2"></i><strong>Edit Connection</strong></a>
                <a href="{% url 'datasource_media_storages:delete' storage_data.storage.id %}" class="btn btn-danger"><i class="ti ti-trash me-2"></i><strong>Delete Connection</strong></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <hr>
    {% endfor %}
  </div>
</div>
{% endfor %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.toggle-icon').forEach(function(icon) {
      icon.addEventListener('click', function() {
        var target = document.querySelector(this.getAttribute('data-target'));
        var bootstrapCollapse = new bootstrap.Collapse(target, {
          toggle: false
        });
        if (target.classList.contains('show')) {
          bootstrapCollapse.hide();
        } else {
          bootstrapCollapse.show();
        }
      });
    });

    document.querySelectorAll('.collapse').forEach(function(collapse) {
      collapse.addEventListener('show.bs.collapse', function() {
        var icon = document.querySelector(`.toggle-icon[data-target="#${this.id}"]`);
        if (icon) {
          icon.classList.remove('fa-arrow-alt-circle-down');
          icon.classList.add('fa-arrow-alt-circle-up');
        }
      });

      collapse.addEventListener('hide.bs.collapse', function() {
        var icon = document.querySelector(`.toggle-icon[data-target="#${this.id}"]`);
        if (icon) {
          icon.classList.remove('fa-arrow-alt-circle-up');
          icon.classList.add('fa-arrow-alt-circle-down');
        }
      });
    });
  });
</script>

{% endblock %}
