{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load field_to_label %}

{% block title %}Create Assistant{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/form-layouts.js' %}"></script>
{% endblock page_js %}

{% block content %}
<!-- Basic Layout -->
<div class="row">
  <div class="col-xl mb-6">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Create a New Assistant</h5> <small class="text-muted float-end"></small>
      </div>
      <div class="card-body">
        <div class="alert alert-secondary alert-dismissible d-flex col-lg-10 align-items-center" role="alert">
        <img src="{% static 'img/custom-illustrations/boy-red-1.png' %}" width="25%" class="justify-content-end">
        <span class="alert-icon rounded">
          <i class="ti ti-bookmark"></i>
        </span>
        <div class="d-flex flex-column ps-1">
          <h5 class="alert-heading mb-2">Tip</h5>
          <p class="mb-0">
            In this page, you can create a new assistant. You can select an organization and an LLM model from the dropdowns
            and then provide a name, description, instructions, audience, tone, and an image for the assistant. Once you have
            filled out all the fields, click on the "Create" button to create the assistant.
          </p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
      </div>
        {% if messages %}
          {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-danger{% endif %}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-6">
            <label class="form-label" for="organization">Organization</label>
            <select class="form-select" id="organization" name="organization">
              <option value="" disabled selected>Select Organization</option>
              {% for organization in organizations %}
                <option value="{{ organization.id }}">{{ organization.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-6">
            <label class="form-label" for="llm_model">LLM Model</label>
            <select class="form-select" id="llm_model" name="llm_model">
              <option value="" disabled selected>Select LLM Model</option>
              {% for llm_model in llm_models %}
                <option value="{{ llm_model.id }}">{{ llm_model.nickname }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-6">
            <label class="form-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter assistant name" />
          </div>
          <div class="mb-6">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" id="description" name="description" placeholder="Enter assistant description"></textarea>
          </div>
          <div class="alert alert-solid-info d-flex align-items-center mt-6" role="alert">
            <span class="alert-icon rounded">
              <i class="ti ti-info-circle"></i>
            </span>
            This description will not be used to communicate or train the assistant. It is for human-readers to understand the assistant's purpose.
          </div>
          <div class="mb-6">
            <label class="form-label" for="instructions">Instructions</label>
            <textarea class="form-control" id="instructions" name="instructions" placeholder="Enter instructions"></textarea>
          </div>
          <div class="alert alert-solid-info d-flex align-items-center mt-6" role="alert">
            <span class="alert-icon rounded">
              <i class="ti ti-info-circle"></i>
            </span>
            These instructions will be used to train the assistant. For example, "This assistant is designed to help students with their homework."
          </div>
          <div class="mb-6">
            <label class="form-label" for="audience">Audience</label>
            <input type="text" class="form-control" id="audience" name="audience" placeholder="Enter audience" />
          </div>
          <div class="alert alert-solid-info d-flex align-items-center mt-6" role="alert">
            <span class="alert-icon rounded">
              <i class="ti ti-info-circle"></i>
            </span>
            Describe the audience for this assistant. For example, "This assistant is designed for students in the 9th grade."
          </div>
          <div class="mb-6">
            <label class="form-label" for="tone">Tone</label>
            <input type="text" class="form-control" id="tone" name="tone" placeholder="Enter tone" />
          </div>
          <div class="alert alert-solid-info d-flex align-items-center mt-6" role="alert">
            <span class="alert-icon rounded">
              <i class="ti ti-info-circle"></i>
            </span>
            Describe the tone for this assistant. For example, "This assistant intends to be friendly and helpful, in a casual tone."
          </div>
          <div class="mb-6">
            <label class="form-label" for="assistant_image">Assistant Image</label>
            <input type="file" class="form-control" id="assistant_image" name="assistant_image" />
          </div>
          <button type="submit" class="btn btn-primary d-grid w-100">Create Assistant</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
