{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load field_to_label %}

{% block title %}Create Assistant{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}"/>
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
  <script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
  <script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
  <script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/form-layouts.js' %}"></script>
{% endblock page_js %}

{% block content %}
  <!-- Basic Layout -->
  <div class="row">
    <div class="col-xl mb-6">
      <div class="card">
        <div class="card-datatable table-responsive">
          <a href="{% url 'assistants:list' %}">
            <button class="btn btn-secondary ms-4 mt-4 mb-8">
              <i class="fa fa-dashboard me-4"></i>
              <strong> Manage Assistants</strong>
            </button>
          </a>
        </div>
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0"><strong>Create New Assistant</strong></h5> <small class="text-muted float-end"></small>
        </div>
        <div class="card-body">
          <div class="tips-section alert alert-secondary alert-dismissible d-flex col-lg-12 align-items-center"
               role="alert">
            <img src="{% static 'img/custom-illustrations-v2/i2-40.png' %}" width="25%" style="border-radius:25px;"
                 class="justify-content-end me-8">
            <span class="alert-icon rounded">
              <i class="ti ti-bookmark"></i>
            </span>
            <div class="d-flex flex-column ps-1">
              <h5 class="alert-heading mb-2">Tip</h5>
              <p class="mb-0">
                In this page, you can create a new assistant. You can select an organization and an LLM model from the
                dropdowns
                and then provide a name, description, instructions, audience, tone, and an image for the assistant. Once
                you have
                filled out all the fields, click on the "Create" button to create the assistant.
              </p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
            </div>
          </div>
          {% if messages %}
            {% for message in messages %}
              <div
                class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-danger{% endif %}"
                role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          <hr>
          <form method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            <div class="row p-8">
              <div class="col-6 mb-6">
                <label class="form-label" for="organization">Organization</label>
                <select class="form-select" id="organization" name="organization">
                  <option value="" disabled selected>Select Organization</option>
                  {% for organization in organizations %}
                    <option value="{{ organization.id }}"
                            data-llm-models="{{ organization.llm_models|join:',' }}">{{ organization.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6 mb-6">
                <label class="form-label" for="llm_model">LLM Model</label>
                <select class="form-select" id="llm_model" name="llm_model">
                  <option value="" disabled selected>Select LLM Model</option>
                  {% for llm_model in llm_models %}
                    <option value="{{ llm_model.id }}" class="llm-model-option"
                            data-org-id="{{ llm_model.organization.id }}">{{ llm_model.nickname }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6 mb-6">
                <label class="form-label" for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter assistant name"/>
              </div>
              <div class="col-6 mb-6">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" name="description"
                          placeholder="Enter assistant description" rows="1"></textarea>
              </div>
              <div class="tips-section alert alert-solid-info d-flex align-items-center" role="alert">
                <span class="alert-icon rounded">
                  <i class="ti ti-info-circle"></i>
                </span>
                This description will not be used to communicate or train the assistant. It is for human-readers to
                understand the assistant's purpose.
              </div>
              <div class="col-12 mb-6">
                <label class="form-label" for="instructions">Instructions</label>
                <textarea class="form-control" id="instructions" name="instructions"
                          placeholder="Enter instructions"></textarea>
              </div>
              <div class="tips-section alert alert-solid-info d-flex align-items-center" role="alert">
                <span class="alert-icon rounded">
                  <i class="ti ti-info-circle"></i>
                </span>
                These instructions will be used to train the assistant. For example, "This assistant is designed to help
                students with their homework."
              </div>
              <div class="col-12 mb-6">
                <label class="form-label" for="response_template">Response Template</label>
                <textarea class="form-control" id="response_template" name="response_template"
                          placeholder="Enter response template"></textarea>
              </div>
              <div class="tips-section alert alert-solid-info d-flex align-items-center" role="alert">
                <span class="alert-icon rounded">
                  <i class="ti ti-info-circle"></i>
                </span>
                This response template will be used to generate responses for the assistant. If you don't have a solid
                response template for the assistant, you can leave this field empty. You can also put a sample response
                in this field to make it more clear for the assistant to understand how it should respond to the user.
              </div>
              <div class="col-6 mb-6">
                <label class="form-label" for="audience">Audience</label>
                <input type="text" class="form-control" id="audience" name="audience" placeholder="Enter audience"/>
                <div class="tips-section alert alert-solid-info d-flex align-items-center mt-6" role="alert">
                  <span class="alert-icon rounded">
                    <i class="ti ti-info-circle"></i>
                  </span>
                  Describe the audience for this assistant. For example, "This assistant is designed for students in the
                  9th
                  grade."
                </div>
              </div>
              <div class="col-6 mb-6">
                <label class="form-label" for="tone">Tone</label>
                <input type="text" class="form-control" id="tone" name="tone" placeholder="Enter tone"/>
                <div class="tips-section alert alert-solid-info d-flex align-items-center mt-6" role="alert">
                  <span class="alert-icon rounded">
                    <i class="ti ti-info-circle"></i>
                  </span>
                  Describe the tone for this assistant. For example, "This assistant intends to be friendly and helpful,
                  in
                  a casual tone."
                </div>
              </div>
              <div class="mb-6 col-3">
                <label class="form-label" for="max_retry_count">Max Retries</label>
                <!-- slider bar here -->
                <input type="range" class="form-range" id="max_retry_count" name="max_retry_count" min="0" max="10"
                       step="1" value="3" oninput="this.nextElementSibling.value = this.value">
                <output>3</output>
                <div class="tips-section alert alert-solid-info d-flex align-items-center mt-6" role="alert">
                  <span class="alert-icon rounded">
                    <i class="ti ti-info-circle"></i>
                  </span>
                  The maximum number of times the assistant will retry generating a response if it fails to generate a
                  response the first time. Please be aware that setting this value too high may cause the assistant to
                  spend too much time and credits.
                </div>
              </div>
              <div class="mb-6 col-3">
                <label class="form-label" for="tool_max_attempts_per_instance">Max Tool Retries</label>
                <!-- slider bar here -->
                <input type="range" class="form-range" id="tool_max_attempts_per_instance"
                       name="tool_max_attempts_per_instance" min="0" max="10" step="1" value="3"
                       oninput="this.nextElementSibling.value = this.value">
                <output>3</output>
                <div class="tips-section alert alert-solid-info d-flex align-items-center mt-6" role="alert">
                  <span class="alert-icon rounded">
                    <i class="ti ti-info-circle"></i>
                  </span>
                  The maximum number of times the assistant will retry using a tool if it fails to retrieve a data
                  the first time. Please be aware that setting this value too high may cause the assistant to spend
                  too much time and credits to retrieve data.
                </div>
              </div>
              <div class="mb-6 col-3">
                <label class="form-label" for="tool_max_chains">Max Pipelines</label>
                <!-- slider bar here -->
                <input type="range" class="form-range" id="tool_max_chains" name="tool_max_chains" min="0" max="20"
                       step="1" value="3" oninput="this.nextElementSibling.value = this.value">
                <output>3</output>
                <div class="tips-section alert alert-solid-info d-flex align-items-center mt-6" role="alert">
                  <span class="alert-icon rounded">
                    <i class="ti ti-info-circle"></i>
                  </span>
                  The maximum number of tools the assistant will use in a single response, one after the other one.
                  Please be aware that setting this value too high may cause the assistant to spend too much time and
                  credits to generate a response.
                </div>
              </div>
              <div class="mb-6 col-3">
                <label class="form-label" for="max_context_messages">Max Message Memory</label>
                <!-- slider bar here -->
                <input type="range" class="form-range" id="max_context_messages" name="max_context_messages" min="10"
                       max="100" step=1" value="50" oninput="this.nextElementSibling.value = this.value">
                <output>50</output>
                <div class="tips-section alert alert-solid-info d-flex align-items-center mt-6" role="alert">
                  <span class="alert-icon rounded">
                    <i class="ti ti-info-circle"></i>
                  </span>
                  The maximum number of messages the assistant will remember in a chat. Please note that there
                  are strategies to overcome this limitation, which provide a cost-effective way of utilizing the
                  assistants you have.
                </div>
              </div>
              <div class="mb-6 col-6">
                <label class="form-label" for="response_language">Response Language</label>
                <select class="form-select" id="response_language" name="response_language">
                  <option value="">Select Response Language</option>
                  {% for language in response_languages %}
                    <option value="{{ language.0 }}"
                            {% if language.0 == "auto" %}selected{% endif %}>{{ language.1 }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-6 col-6">
                <label class="form-label" for="assistant_image">Assistant Image</label>
                <input type="file" class="form-control" id="assistant_image" name="assistant_image"/>
              </div>
              <div class="tips-section alert alert-solid-info d-flex align-items-center" role="alert">
                  <span class="alert-icon rounded">
                    <i class="ti ti-info-circle"></i>
                  </span>
                Select the language in which the assistant will respond to the user. If you select "auto", the
                assistant will automatically detect the language of the user's input and respond in the same language.
              </div>
              <div class="mb-6 col-12">
                <label class="form-label" for="context_overflow_strategy">Context Overflow Management Strategy</label>
                <select class="form-select" id="context_overflow_strategy" name="context_overflow_strategy">
                  <option value="" disabled selected>Select Strategy</option>
                  {% for strategy in context_overflow_strategies %}
                    <option value="{{ strategy.0 }}">{{ strategy.1 }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="tips-section alert alert-solid-info d-flex align-items-center" role="alert">
              <span class="alert-icon rounded">
                <i class="ti ti-info-circle"></i>
              </span>
                Select the strategy the assistant will use to manage context overflow. If you select 'Stop
                Conversation',
                the assistant will stop the conversation if the context reaches the specified number of messages. If you
                select 'Forget Oldest Messages', the assistant will forget the oldest messages surpassing the specified
                number of messages. If you select 'Vectorize Oldest Messages', the assistant will vectorize the oldest
                messages surpassing the specified number of messages, and be able to query them whenever needed.
              </div>
              <div id="memory-vectorizer-selection-bar" class="mb-6 col-6 d-none">
                <label class="form-label" for="vectorizer_name">Chat Memory Vectorizer</label>
                <select class="form-select" id="vectorizer_name" name="vectorizer_name">
                  <option value="" disabled selected>Select Vectorizer</option>
                  {% for vectorizer in vectorizers %}
                    <option value="{{ vectorizer.0 }}">{{ vectorizer.1 }}</option>
                  {% endfor %}
                </select>
              </div>
              <div id="memory-vectorizer-api-key-bar" class="mb-6 col-6 d-none">
                <label class="form-label" for="vectorizer_api_key">Vectorizer API Key</label>
                <input type="text" class="form-control" id="vectorizer_api_key" name="vectorizer_api_key"
                       placeholder="Enter the API key for your OpenAI account"/>
              </div>
              <div id="memory-vectorizer-alert-bar" class="tips-section alert alert-solid-warning d-flex align-items-center d-none"
                   role="alert">
                <span class="alert-icon rounded">
                  <i class="ti ti-info-circle"></i>
                </span>
                The vectorizer API key is used to connect to the vectorizer service. The vectorizer service is used to
                vectorize the oldest messages surpassing the specified number of messages, and be able to query them
                whenever
                needed. To be able to use this feature, you need to connect your OpenAI account to the vectorizer
                service
                by using the API key provided by OpenAI. In the future, we are planning to support other vectorizer
                services
                as well.
              </div>
              <div class="mb-6 col-6">
                <label class="form-label" for="time_awareness">Time &amp; Location Awareness (Recommended)</label>
                <br>
                <label class="switch switch-square switch-lg mt-2">
                  <input type="checkbox" class="switch-input" id="awarenessCheckbox" checked>
                  <span class="switch-toggle-slider">
                    <!-- Hidden fields for time_awareness and place_awareness -->
                    <input type="hidden" name="time_awareness" id="timeAwareness" value="on">
                    <input type="hidden" name="place_awareness" id="placeAwareness" value="on">
                    <span class="switch-on"><i class="ti ti-check"></i></span>
                    <span class="switch-off"><i class="ti ti-x"></i></span>
                  </span>
                </label>
              </div>
              <div class="mb-6 col-6">
                <label class="form-label" for="time_awareness">Image Generation &amp; Manipulation Capability
                  (Recommended)</label>
                <br>
                <label class="switch switch-square switch-lg mt-2">
                  <input type="checkbox" class="switch-input" id="imageGenerationCapabilityCheckbox" checked>
                  <span class="switch-toggle-slider">
                    <input type="hidden" name="image_generation_capability" id="image_generation_capability" value="on">
                    <span class="switch-on"><i class="ti ti-check"></i></span>
                    <span class="switch-off"><i class="ti ti-x"></i></span>
                  </span>
                </label>
              </div>
              <div class="mb-6 col-12">
                <label class="form-label" for="glossary">Glossary</label>
                <table id="keyValueTable" class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Term</th>
                    <th>Definition</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td style="width:47%;"><input type="text" name="terms[]" placeholder="Enter term"
                                                  class="form-control"></td>
                    <td style="width:47%;"><input type="text" name="definitions[]"
                                                  placeholder="Enter definition for the term" class="form-control"></td>
                    <td>
                      <button class="btn bg-label-danger" type="button" onclick="removeRow(this)"><i
                        class="fa fa-remove"></i></button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <button type="button" onclick="addRow()" class="btn btn-secondary d-grid w-20 mt-4"><strong>Add New
                  Row</strong></button>
              </div>
              <div class="mb-6 col-12">
                <label class="form-label" for="csv_file">Import Glossary from CSV</label>
                <input type="file" class="form-control" id="csv_file" accept=".csv"/>
              </div>
              <div class="tips-section alert alert-solid-info d-flex align-items-center" role="alert">
                <span class="alert-icon rounded">
                  <i class="ti ti-info-circle"></i>
                </span>
                You can provide a glossary for the assistant. The glossary is a list of terms and their definitions that
                the assistant can use to provide more accurate and relevant responses. For example, if you provide a
                term
                "Aortic Anuerysm" with the definition "A bulge in a blood vessel in the brain", the assistant will be
                able
                to provide more accurate responses when the user asks about aortic aneurysms.
              </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary mt-8 d-grid w-25"><strong>Create Assistant</strong></button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/form-layouts.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const organizationSelect = document.getElementById('organization');
      const llmModelSelect = document.getElementById('llm_model');
      const llmModelOptions = Array.from(llmModelSelect.options);

      organizationSelect.addEventListener('change', function () {
        const selectedOrgId = this.value;

        // Clear current options
        llmModelSelect.innerHTML = '<option value="" disabled selected>Select LLM Model</option>';

        // Filter and add options based on selected organization
        llmModelOptions.forEach(option => {
          if (option.dataset.orgId === selectedOrgId) {
            llmModelSelect.appendChild(option);
          }
        });

        // Enable the LLM model select box
        llmModelSelect.disabled = false;
      });
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const checkbox = document.getElementById('awarenessCheckbox');
      const timeAwarenessField = document.getElementById('timeAwareness');
      const placeAwarenessField = document.getElementById('placeAwareness');

      checkbox.addEventListener('change', function () {
        if (checkbox.checked) {
          timeAwarenessField.value = 'on';
          placeAwarenessField.value = 'on';
        } else {
          timeAwarenessField.value = 'off';
          placeAwarenessField.value = 'off';
        }
      });
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const checkbox = document.getElementById('imageGenerationCapabilityCheckbox');
      const imageGenerationCapabilityField = document.getElementById('image_generation_capability');

      checkbox.addEventListener('change', function () {
        if (checkbox.checked) {
          imageGenerationCapabilityField.value = 'on';
        } else {
          imageGenerationCapabilityField.value = 'off';
        }
      });
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const contextOverflowStrategySelect = document.getElementById('context_overflow_strategy');
      const maxContextMessagesInput = document.getElementById('max_context_messages');
      const memoryVectorizerSelectionBar = document.getElementById('memory-vectorizer-selection-bar');
      const memoryVectorizerApiKeyBar = document.getElementById('memory-vectorizer-api-key-bar');
      const memoryVectorizerAlertBar = document.getElementById('memory-vectorizer-alert-bar');

      contextOverflowStrategySelect.addEventListener('change', function () {
        const selectedStrategy = this.value;

        if (selectedStrategy === 'vectorize') {
          memoryVectorizerSelectionBar.classList.remove('d-none');
          memoryVectorizerApiKeyBar.classList.remove('d-none');
          memoryVectorizerAlertBar.classList.remove('d-none');
        } else {
          memoryVectorizerSelectionBar.classList.add('d-none');
          memoryVectorizerApiKeyBar.classList.add('d-none');
          memoryVectorizerAlertBar.classList.add('d-none');
        }
      });

      maxContextMessagesInput.addEventListener('input', function () {
        const selectedStrategy = contextOverflowStrategySelect.value;

        if (selectedStrategy === 'vectorize') {
          memoryVectorizerSelectionBar.classList.remove('d-none');
          memoryVectorizerApiKeyBar.classList.remove('d-none');
          memoryVectorizerAlertBar.classList.remove('d-none');
        }
      });
    });
  </script>

  <script>
    function addRow() {
      const tableBody = document.querySelector('#keyValueTable tbody');
      const newRow = document.createElement('tr');
      newRow.innerHTML = `
          <td><input type="text" name="terms[]" placeholder="Enter term" class="form-control"></td>
          <td><input type="text" name="definitions[]" placeholder="Enter definition for the term" class="form-control"></td>
          <td><button class="btn bg-label-danger" type="button" onclick="removeRow(this)"><i class="fa fa-remove"></i></button></td>
      `;
      tableBody.appendChild(newRow);
    }

    function removeRow(button) {
      const row = button.closest('tr');
      row.remove();
    }

    document.getElementById('csv_file').addEventListener('change', function (event) {
      const file = event.target.files[0];
      if (!file) {
        return;
      }

      const reader = new FileReader();
      reader.onload = function (event) {
        // remove the existing row
        const tableBody = document.querySelector('#keyValueTable tbody');
        tableBody.innerHTML = '';
        const text = event.target.result;
        const rows = text.split('\n');

        rows.forEach(row => {
          const cols = row.split(',');
          if (cols.length === 2) {
            addRowWithValues(cols[0].trim(), cols[1].trim());
          }
        });
      };

      reader.readAsText(file);
    });

    function addRowWithValues(term, definition) {
      const tableBody = document.querySelector('#keyValueTable tbody');
      const newRow = document.createElement('tr');
      newRow.innerHTML = `
          <td><input type="text" name="terms[]" value="${term}" class="form-control"></td>
          <td><input type="text" name="definitions[]" value="${definition}" class="form-control"></td>
          <td><button class="btn bg-label-danger" type="button" onclick="removeRow(this)"><i class="fa fa-remove"></i></button></td>
      `;
      tableBody.appendChild(newRow);
    }
  </script>

{% endblock %}
