{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load field_to_label %}

{% block title %}Update Custom SQL Query{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/material.min.css"/>
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/sql/sql.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/edit/matchbrackets.min.js"></script>
{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      $('#database_connection').select2();
    });
  </script>
{% endblock page_js %}

{% block content %}

  <a href="{% url 'datasource_sql:list_queries' %}">
    <button class="btn btn-secondary my-4 w-25">
      <i class="fa fa-chevron-left me-4"></i>
      <strong> Back to SQL Queries</strong>
    </button>
  </a>

  <!-- Basic Layout -->
  <div class="row">
    <div class="col-xl mb-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">
            <strong>Update SQL Query</strong>
          </h5>
          <small class="text-muted float-end"></small>
        </div>
        <div class="card-body">
          <div class="tips-section alert alert-secondary alert-dismissible d-flex col-lg-12 align-items-center" role="alert">
            <img src="{% static 'img/custom-illustrations-v2/i2-70.png' %}" width="25%" style="border-radius: 25px;"
                 class="justify-content-end me-8">
            <span class="alert-icon rounded">
            <i class="ti ti-bookmark"></i>
          </span>
            <div class="d-flex flex-column ps-1">
              <h5 class="alert-heading mb-2">Tip</h5>
              <p class="mb-0">
                Update the custom SQL query by providing the necessary information. You can use this query to
                connect to a SQL database and make your assistants be able to reach the data inside the database.
                Normally, the assistants are already able to build their own queries, but you can create a query
                that is frequently used by the assistants to save time and make the process more efficient.
              </p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
            </div>
          </div>
          {% if messages %}
            {% for message in messages %}
              <div
                class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-danger{% endif %}"
                role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

          <hr>

          <form method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            <div class="row p-8">
              <div class="mb-6 col-4">
                <label class="form-label" for="database_connection">Database Connection</label>
                <select class="form-select" id="database_connection" name="database_connection">
                  <option value="" disabled>Select Database Connection</option>
                  {% for connection in database_connections %}
                    <option value="{{ connection.id }}"
                            {% if connection.id == query.database_connection.id %}selected{% endif %}>{{ connection.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-6 col-4">
                <label class="form-label" for="name">Query Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ query.name }}"/>
              </div>
              <div class="mb-6 col-4">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" rows="1" name="description">{{ query.description }}</textarea>
              </div>
              <div class="mb-6 col-12">
                <label class="form-label" for="sql_query">SQL Query</label>
                <textarea class="form-control" id="sql_query" name="sql_query">{{ query.sql_query }}</textarea>
              </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary d-grid mt-4 w-25">
              <strong>Update SQL Query</strong>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var codeTextArea = document.getElementById('sql_query');

      if (codeTextArea) {
        var editor = CodeMirror.fromTextArea(codeTextArea, {
          mode: "sql",
          theme: "material",
          lineNumbers: true,
          matchBrackets: true,
          autoRefresh: true,
        });

        // Ensure the original textarea is updated on form submission
        document.querySelector('form').addEventListener('submit', function () {
          codeTextArea.value = editor.getValue();
        });
      }

    });
  </script>

{% endblock %}
