{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load field_to_label %}

{% block title %}Custom SQL Queries{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'css/prism-css/prism-material-light.css' %}" />
<style>
  .text-wrap {
      white-space: normal;
      word-break: break-all;
  }
</style>
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-sql.min.js"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/form-layouts.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.toggle-icon').forEach(function(icon) {
      icon.addEventListener('click', function() {
        var target = document.querySelector(this.getAttribute('data-target'));
        var bootstrapCollapse = new bootstrap.Collapse(target, {
          toggle: false
        });
        if (target.classList.contains('show')) {
          bootstrapCollapse.hide();
        } else {
          bootstrapCollapse.show();
        }
      });
    });

    document.querySelectorAll('.collapse').forEach(function(collapse) {
      collapse.addEventListener('show.bs.collapse', function() {
        var icon = document.querySelector(`.toggle-icon[data-target="#${this.id}"]`);
        if (icon) {
          icon.classList.remove('fa-arrow-alt-circle-down');
          icon.classList.add('fa-arrow-alt-circle-up');
        }
      });

      collapse.addEventListener('hide.bs.collapse', function() {
        var icon = document.querySelector(`.toggle-icon[data-target="#${this.id}"]`);
        if (icon) {
          icon.classList.remove('fa-arrow-alt-circle-up');
          icon.classList.add('fa-arrow-alt-circle-down');
        }
      });
    });
  });
</script>
{% endblock page_js %}

{% block content %}
<div class="row g-6 mb-6">
  <div class="col-sm-6 col-xl-6">
    <h3 class="mb-0"><strong>Your Custom SQL Queries</strong></h3>
  </div>
</div>

<div class="alert alert-secondary alert-dismissible d-flex col-lg-10 align-items-center" role="alert">
  <img src="{% static 'img/custom-illustrations/boy-blue-1.png' %}" width="25%" class="justify-content-end">
  <span class="alert-icon rounded ms-4">
    <i class="ti ti-bookmark"></i>
  </span>
  <div class="d-flex flex-column ps-1">
    <h5 class="alert-heading mb-2">Tip</h5>
    <p class="mb-0">
      In this page, you can manage your SQL queries for your assistants. You must be aware of the fact
      that the SQL queries are connected to a specific database connection you have created for your assistants.
      This means that the assistants will be able to use the SQL queries that you have created here, and if you want
      another assistant to use the same SQL query, you first need to create a new database connection for that
      assistant, and then create a new SQL query for that connection.
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<!-- SQL Queries Cards -->
{% for organization, assistants in queries_by_organization.items %}
<div class="card mb-6">
  <div class="card-header border-bottom">
    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-org-{{ organization.id }}" role="button" aria-expanded="false" aria-controls="collapse-org-{{ organization.id }}">
      <h4>
        {{ organization.name }}
      </h4>
    </a>
    <i class="fa fa-arrow-alt-circle-down toggle-icon" data-target="#collapse-org-{{ organization.id }}"></i>
    <span data-bs-toggle="collapse" href="#collapse-org-{{ organization.id }}" role="button" aria-expanded="false" aria-controls="collapse-org-{{ organization.id }}">
      <strong>&nbsp; See SQL queries of Assistants</strong>
    </span>
  </div>
  <div id="collapse-org-{{ organization.id }}" class="card-datatable table-responsive collapse">
    {% for assistant, queries in assistants.items %}
    <div class="assistant-group m-8">
      <h5 class="assistant-title"><strong>{{ assistant.name }}</strong></h5>
      <div class="card-datatable table-responsive">
        <a href="{% url 'datasource_sql:create_query' %}">
          <button class="btn btn-info mt-4 mb-8">
            <i class="fa fa-code me-4"></i>
            <strong> Add Custom SQL Query</strong>
          </button>
        </a>
      </div>
      <div class="row g-6 mb-4">
        {% for query in queries %}
        <div class="col-xl-6 col-md-6">
          <div class="card h-100">
            <div class="card-header d-flex justify-content-between">
              <div class="card-title mb-0">
                <p class="card-subtitle mb-4"><strong>
                  <i class="fa fa-id-badge me-4"></i> Query Name: &nbsp;&nbsp;</strong>
                  {{ query.name }}
                </p>
                <p class="card-subtitle mb-4"><strong>
                  <i class="fa fa-database me-4"></i> DB Connection: &nbsp;&nbsp;</strong>
                  {{ query.database_connection.name }}
                </p>
              </div>
            </div>
            <div class="card-body">
              <ul class="p-0 m-0">
                <li class="mb-4 d-flex justify-content-between align-items-center">
                  <span class="text-body me-4"><strong>Description:</strong></span>
                  <span class="text-wrap">{{ query.description|linebreaksbr }}</span>
                </li>
                <li class="mb-4 d-flex justify-content-between align-items-center">
                  <span class="text-body me-4"><strong>Query:</strong></span>
                  <pre class="text-wrap p-2 rounded"><code class="language-sql fw-extrabold overflow-auto">{{ query.sql_query|linebreaks }}</code></pre>
                </li>
              </ul>
              <hr>
              <div class="d-flex justify-content-center">
                <a href="{% url 'datasource_sql:update_query' query.id %}" class="btn btn-primary me-3"><i class="ti ti-edit me-2"></i><strong>Edit Query</strong></a>
                <a href="{% url 'datasource_sql:delete_query' query.id %}" class="btn btn-danger"><i class="ti ti-trash"></i><strong> Delete </strong></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <hr>
    {% endfor %}
  </div>
</div>
{% endfor %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.toggle-icon').forEach(function(icon) {
      icon.addEventListener('click', function() {
        var target = document.querySelector(this.getAttribute('data-target'));
        var bootstrapCollapse = new bootstrap.Collapse(target, {
          toggle: false
        });
        if (target.classList.contains('show')) {
          bootstrapCollapse.hide();
        } else {
          bootstrapCollapse.show();
        }
      });
    });

    document.querySelectorAll('.collapse').forEach(function(collapse) {
      collapse.addEventListener('show.bs.collapse', function() {
        var icon = document.querySelector(`.toggle-icon[data-target="#${this.id}"]`);
        if (icon) {
          icon.classList.remove('fa-arrow-alt-circle-down');
          icon.classList.add('fa-arrow-alt-circle-up');
        }
      });

      collapse.addEventListener('hide.bs.collapse', function() {
        var icon = document.querySelector(`.toggle-icon[data-target="#${this.id}"]`);
        if (icon) {
          icon.classList.remove('fa-arrow-alt-circle-up');
          icon.classList.add('fa-arrow-alt-circle-down');
        }
      });
    });
  });
</script>

{% endblock %}
