

{% extends layout_path %}
{% load static %}
{% load i18n %}

{% block title %}Delete Knowledge Base{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl mb-6">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="mb-0">Delete Knowledge Base</h3>
        <small class="text-muted float-end"></small>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <p>Are you sure you want to delete the knowledge base <strong>"{{ knowledge_base.name }}"</strong>?</p><br>
          <h6><strong>
            • This operation will result in the complete removal of the knowledge base and the documents in it
            from the system.
            <br>
            • This deletion operation is completely irreversible and will entirely remove the knowledge base and all
            associated data and documents from the system.
          </strong></h6>
          <img src="{% static 'img/custom-illustrations/boy-red-3.png' %}" width="25%" class="justify-content-end">
          <br>
          <button type="submit" class="btn btn-danger"><strong>DELETE &nbsp;</strong> the Knowledge Base.</button>
          <br><br>
          <a href="{% url 'datasource_knowledge_base:list' %}" class="btn btn-secondary"><strong>CANCEL &nbsp;</strong> the deletion operation.</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
