{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load field_to_label %}

{% block title %}Create Knowledge Base Connection{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}"/>
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
  <script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
  <script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
  <script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/form-layouts.js' %}"></script>
{% endblock page_js %}

{% block content %}
  <!-- Basic Layout -->
  <div class="row">
    <div class="col-xl mb-6">
      <div class="card">
        <div class="card-datatable table-responsive">
          <a href="{% url 'datasource_knowledge_base:list' %}">
            <button class="btn btn-secondary ms-4 mt-4 mb-8">
              <i class="fa fa-dashboard me-4"></i>
              <strong> Manage Knowledge Base Connections</strong>
            </button>
          </a>
        </div>
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">
            <strong>Create Knowledge Base</strong>
          </h5>
          <small class="text-muted float-end"></small>
        </div>
        <div class="card-body">
          <div class="alert alert-secondary alert-dismissible d-flex col-lg-12 align-items-center" role="alert">
            <img src="{% static 'img/custom-illustrations-v2/i2-65.png' %}" width="25%" style="border-radius: 25px;"
                 class="justify-content-end me-8">
            <span class="alert-icon rounded">
            <i class="ti ti-bookmark"></i>
          </span>
            <div class="d-flex flex-column ps-1">
              <h5 class="alert-heading mb-2">Tip</h5>
              <p class="mb-0">
                Create a new knowledge base by providing the necessary information. This will allow your assistant to
                access
                the documents stored in the knowledge base and utilize them to provide better insights and
                recommendations.
              </p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
            </div>
          </div>
          {% if messages %}
            {% for message in messages %}
              <div
                class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-danger{% endif %}"
                role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

          <hr>

          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row p-8">
              <div class="mb-6 col-6">
                <label class="form-label" for="provider">Knowledge Base System</label>
                <select class="form-select" id="provider" name="provider">
                  <option value="" disabled selected>Select Knowledge Base System</option>
                  {% for key, value in knowledge_base_systems %}
                    <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-6 col-6">
                <label class="form-label" for="assistant">Assistant</label>
                <select class="form-select" id="assistant" name="assistant">
                  {% for assistant in assistants %}
                    <option value="{{ assistant.id }}">{{ assistant.name }}</option>
                  {% endfor %}
                </select>
                <div class="form-text"></div>
              </div>
              <div class="mb-6 col-6">
                <label class="form-label" for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter knowledge base name"/>
              </div>
              <div class="mb-6 col-6">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="1"
                          placeholder="Enter knowledge base description"></textarea>
              </div>
              <div class="mb-6 col-3">
                <label class="form-label" for="host_url">Host URL</label>
                <input type="text" class="form-control" id="host_url" name="host_url" placeholder="Enter host URL"/>
              </div>
              <div class="mb-6 col-3">
                <label class="form-label" for="provider_api_key">Provider API Key</label>
                <input type="text" class="form-control" id="provider_api_key" name="provider_api_key"
                       placeholder="Enter provider API key"/>
              </div>
              <div class="mb-6 col-3">
                <label class="form-label" for="vectorizer">Vectorizer</label>
                <select class="form-select" id="vectorizer" name="vectorizer">
                  <option value="" disabled selected>Select Vectorizer</option>
                  {% for key, value in vectorizers %}
                    <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-6 col-3">
                <label class="form-label" for="vectorizer_api_key">Vectorizer API Key</label>
                <input type="text" class="form-control" id="vectorizer_api_key" name="vectorizer_api_key"
                       placeholder="Enter vectorizer API key"/>
              </div>
              <div class="mb-6 col-4">
                <label class="form-label" for="embedding_chunk_size">Embedding Chunk Size</label>
                <!-- slider bar here -->
                <input type="range" class="form-range" id="embedding_chunk_size" name="embedding_chunk_size" min="500"
                       max="4000" step=100" value="1000" oninput="this.nextElementSibling.value = this.value">
                <output>1000</output>
              </div>
              <div class="mb-6 col-4">
                <label class="form-label" for="embedding_chunk_overlap">Embedding Chunk Overlap</label>
                <!-- slider bar here -->
                <input type="range" class="form-range" id="embedding_chunk_overlap" name="embedding_chunk_overlap"
                       min="0"
                       max="400" step=10" value="250" oninput="this.nextElementSibling.value = this.value">
                <output>250</output>
              </div>
              <div class="mb-6 col-4">
                <label class="form-label" for="search_instance_retrieval_limit">Retrieval Limit</label>
                <!-- slider bar here -->
                <input type="range" class="form-range" id="search_instance_retrieval_limit"
                       name="search_instance_retrieval_limit" min="1" max="30" step=1" value="10"
                       oninput="this.nextElementSibling.value = this.value">
                <output>10</output>
              </div>
            </div>
            <hr>
            <input type="hidden" name="created_by_user" value="{{ user.id }}">
            <button type="submit" class="btn btn-primary d-grid w-25">
              <strong>Create Knowledge Base</strong>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
