{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}FAQ - Pages{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-faq.css' %}" />
{% endblock page_css %}

{% block content %}
<div class="faq-header d-flex flex-column justify-content-center align-items-center h-px-300 position-relative">
  <a href="{% url 'dashboard:main-dashboard' %}">
    <button class="btn btn-sm btn-secondary ms-4 mt-4 mb-8">
      <i class="fa fa-chevron-left me-4"></i>
      <strong> Turn Back to Your Dashboard</strong>
    </button>
  </a>
  <img src="{% static 'img/pages/header.png' %}" class="scaleX-n1-rtl faq-banner-img z-n1 rounded" alt="background image" />
  <h4 class="text-center mb-2"><strong>Frequently Asked Questions (F.A.Q)</strong></h4>
  <p class="text-center mb-0 px-4">Get answers to your questions about our products and services. If you can't find what
    you're looking for, please feel free to reach to us via phone or email.</p>
  <!-- search feature
  <div class="input-wrapper mt-4 input-group input-group-merge px-lg-5">
    <span class="input-group-text" id="basic-addon1"><i class="ti ti-search"></i></span>
    <input type="text" class="form-control" placeholder="Search articles..." aria-label="Search" aria-describedby="basic-addon1" />
  </div>
  -->
</div>

<div class="row mt-6">
  <!-- Navigation -->
  <div class="col-lg-3 col-md-4 col-12 mb-md-0 mb-4">
    <div class="d-flex justify-content-between flex-column nav-align-left mb-2 mb-md-0">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#payment">
            <i class="ti ti-credit-card me-1_5 ti-sm"></i>
            <span class="align-middle fw-medium">Payments</span>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#cancellation">
            <i class="ti ti-rotate-clockwise-2 me-1_5 ti-sm"></i>
            <span class="align-middle fw-medium">Cancellation & Returns</span>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#terms">
            <i class="ti ti-file-text me-1_5 ti-sm"></i>
            <span class="align-middle fw-medium">Terms and Conditions</span>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#privacy">
            <i class="ti ti-file-text me-1_5 ti-sm"></i>
            <span class="align-middle fw-medium">Privacy Policy</span>
          </button>
        </li>
      </ul>
      <div class="d-none d-md-block">
        <div class="mt-12 ms-6">
          <img src="{% static 'img/illustrations/girl-with-laptop.png' %}" class="img-fluid" width="270" alt="FAQ Image">
        </div>
      </div>
    </div>
  </div>
  <!-- /Navigation -->

  <!-- FAQ's -->
  <div class="col-lg-9 col-md-8 col-12">
    <div class="tab-content p-0">
      <div class="tab-pane fade show active" id="payment" role="tabpanel">
        <div class="d-flex mb-4 gap-4">
          <div class="avatar avatar-md">
            <div class="avatar-initial bg-label-primary rounded">
              <i class="ti ti-credit-card ti-30px"></i>
            </div>
          </div>
          <div>
            <h5 class="mb-0">
              <span class="align-middle">Payments</span>
            </h5>
            <span>Find answers regarding issues of payment</span>
          </div>
        </div>
        <div id="accordionPayment" class="accordion">
          <div class="card accordion-item active">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#accordionPayment-1" aria-controls="accordionPayment-1">
                When is payment taken for my order?
              </button>
            </h2>

            <div id="accordionPayment-1" class="accordion-collapse collapse show">
              <div class="accordion-body">
                Bimod is a pay as you go service. Payment is taken at the time of topping up balance. You can top up
                your balance from the <a href="{% url 'llm_transaction:list' %}">Usage &amp; Payments </a> page by
                using one of the payment methods you have added to your account. If you don't currently have a payment
                method added to your account, you can add one from your
                <a href="{% url 'user_profile_management:list' %}">User Profile</a> page.
              </div>
            </div>
          </div>

          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionPayment-2" aria-controls="accordionPayment-2">
                How do I pay for my orders?
              </button>
            </h2>
            <div id="accordionPayment-2" class="accordion-collapse collapse">
              <div class="accordion-body">
                We accept Visa®, MasterCard®, and American Express® as available payment methods. Our servers encrypt
                all information submitted to them, so you can be confident that your credit card information will be kept
                safe and secure.
              </div>
            </div>
          </div>

          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionPayment-3" aria-controls="accordionPayment-3">
                What should I do if I'm having trouble topping up balance?
              </button>
            </h2>
            <div id="accordionPayment-3" class="accordion-collapse collapse">
              <div class="accordion-body">
                If you encounter any issues while topping up your balance, please contact our support team at
                <a href="{% url "landing:index" %}#landingContact">support form</a>. Please feel free to reach out
                if you have any questions or concerns.
              </div>
            </div>
          </div>

          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionPayment-4" aria-controls="accordionPayment-4">
                Do you pay for our LLM costs as well?
              </button>
            </h2>
            <div id="accordionPayment-4" class="accordion-collapse collapse">
              <div class="accordion-body">
                No, you are responsible for paying for your LLM costs. We will not pay for any costs you incur while
                using our service. This is because Bimod is a pay as you go service that is providing a plug and play
                solution for your LLM needs, independent from the LLM model you are using.
              </div>
            </div>
          </div>

          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionPayment-5" aria-controls="accordionPayment-5">
                Does my balance expire?
              </button>
            </h2>
            <div id="accordionPayment-5" class="accordion-collapse collapse">
              <div class="accordion-body">
                No, your balance does not expire. You can use your balance at any time to pay for your LLM costs.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="cancellation" role="tabpanel">
        <div class="d-flex mb-4 gap-4 align-items-center">
          <div class="avatar avatar-md">
            <span class="avatar-initial bg-label-primary rounded">
              <i class="ti ti-rotate-clockwise-2 ti-30px"></i>
            </span>
          </div>
          <div>
            <h5 class="mb-0"><span class="align-middle">Cancellation & Returns</span></h5>
            <span>Find answers regarding issues of cancellation and returns</span>
          </div>
        </div>
        <div id="accordionCancellation" class="accordion">
          <div class="card accordion-item active">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#accordionCancellation-1" aria-controls="accordionCancellation-1">
                Can I take my credits back?
              </button>
            </h2>

            <div id="accordionCancellation-1" class="accordion-collapse collapse show">
              <div class="accordion-body">
                No, you cannot take your credits back. Once you have topped up your balance, you cannot get a refund
                for the amount you have topped up. However, you can use your balance at any time since they don't
                expire at any time. However, there migth be exceptional cases where we can refund your balance, such
                as if you have topped up your balance by a very large amount by mistake. In such cases, please contact
                our support team at <a href="{% url "landing:index" %}#landingContact">support form</a>.
              </div>
            </div>
          </div>

          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCancellation-2" aria-controls="accordionCancellation-2">
                Can I remove my payment method?
              </button>
            </h2>
            <div id="accordionCancellation-2" class="accordion-collapse collapse">
              <div class="accordion-body">
                Yes, you can remove your payment method at any time. To remove your payment method, go to your
                <a href="{% url 'user_profile_management:list' %}">User Profile</a> page and click on the payment
                method you want to remove. Then click on the <span class="fw-medium">Remove</span> button to remove
                the payment method.
              </div>
            </div>
          </div>

          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-controls="accordionCancellation-3" data-bs-target="#accordionCancellation-3">
                Can I use the credit balance of an organization for another organization?
              </button>
            </h2>
            <div id="accordionCancellation-3" class="accordion-collapse collapse">
              <div class="accordion-body">
                No, you cannot use the credit balance of an organization for another organization. The credit balance
                of an organization is specific to that organization and cannot be used for another organization. This
                is primarily because of providing an ease of invoice for tracking the costs of each organization
                and manage probable taxation issues with more clarity.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="terms" role="tabpanel">
        <div class="d-flex mb-4 gap-4 align-items-center">
          <div class="avatar avatar-md">
            <span class="avatar-initial bg-label-primary rounded">
              <i class="ti ti-rotate-clockwise-2 ti-30px"></i>
            </span>
          </div>
          <div>
            <h5 class="mb-0"><span class="align-middle">Terms and Conditions</span></h5>
            <span>Learn more about our terms and conditions</span>
          </div>
        </div>
        <div id="accordionTerms" class="accordion">
          <div class="card accordion-item active">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#accordionTerms-1" aria-controls="accordionTerms-1">
                <strong style="font-size: 18px;">Terms and Conditions</strong>
              </button>
            </h2>
            <div id="accordionTerms-1" class="accordion-collapse collapse show">
              <div class="accordion-body">
                <p>Welcome to Bimod.io!</p>
                <p>These terms and conditions outline the rules and regulations for the use of Bimod.io's Website, located at www.bimod.io.</p>
                <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Bimod.io if you do not agree to take all of the terms and conditions stated on this page.</p>
                <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company's terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client's needs in respect of provision of the Company's stated services, in accordance with and subject to, prevailing law of tr. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
                <h5><strong>Cookies</strong></h5>
                <p>We employ the use of cookies. By accessing Bimod.io, you agreed to use cookies in agreement with the Bimod.io's Privacy Policy. </p>
                <p>Most interactive websites use cookies to let us retrieve the user's details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>
                <h5><strong>License</strong></h5>
                <p>Unless otherwise stated, Bimod.io and/or its licensors own the intellectual property rights for all material on Bimod.io. All intellectual property rights are reserved. You may access this from Bimod.io for your own personal use subjected to restrictions set in these terms and conditions.</p>
                <p>You must not:</p>
                <ul>
                    <li>Republish material from Bimod.io</li>
                    <li>Sell, rent or sub-license material from Bimod.io</li>
                    <li>Reproduce, duplicate or copy material from Bimod.io</li>
                    <li>Redistribute content from Bimod.io</li>
                </ul>
                <p>This Agreement shall begin on the date hereof. Our Terms and Conditions were created with the help of the <a href="https://www.termsandconditionsgenerator.com/">Free Terms and Conditions Generator</a>.</p>
                <p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Bimod.io does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Bimod.io,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Bimod.io shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>
                <p>Bimod.io reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>
                <p>You warrant and represent that:</p>
                <ul>
                    <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
                    <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
                    <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
                    <li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
                </ul>
                <p>You hereby grant Bimod.io a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>
                <h5><strong>Hyperlinking to our Content</strong></h5>
                <p>The following organizations may link to our Website without prior written approval:</p>
                <ul>
                    <li>Government agencies;</li>
                    <li>Search engines;</li>
                    <li>News organizations;</li>
                    <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
                    <li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
                </ul>
                <p>These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party's site.</p>
                <p>We may consider and approve other link requests from the following types of organizations:</p>
                <ul>
                    <li>commonly-known consumer and/or business information sources;</li>
                    <li>dot.com community sites;</li>
                    <li>associations or other groups representing charities;</li>
                    <li>online directory distributors;</li>
                    <li>internet portals;</li>
                    <li>accounting, law and consulting firms; and</li>
                    <li>educational institutions and trade associations.</li>
                </ul>
                <p>We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of Bimod.io; and (d) the link is in the context of general resource information.</p>
                <p>These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party's site.</p>
                <p>If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to Bimod.io. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.</p>
                <p>Approved organizations may hyperlink to our Website as follows:</p>
                <ul>
                    <li>By use of our corporate name; or</li>
                    <li>By use of the uniform resource locator being linked to; or</li>
                    <li>By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party's site.</li>
                </ul>
                <p>No use of Bimod.io's logo or other artwork will be allowed for linking absent a trademark license agreement.</p>
                <h5><strong>iFrames</strong></h5>
                <p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>
                <h5><strong>Content Liability</strong></h5>
                <p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>
                <h5><strong>Reservation of Rights</strong></h5>
                <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it's linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>
                <h5><strong>Removal of links from our website</strong></h5>
                <p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>
                <p>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.</p>
                <h5><strong>Disclaimer</strong></h5>
                <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>
                <ul>
                    <li>limit or exclude our or your liability for death or personal injury;</li>
                    <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
                    <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
                    <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
                </ul>
                <p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</p>
                <p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="privacy" role="tabpanel">
        <div class="d-flex mb-4 gap-4 align-items-center">
          <div class="avatar avatar-md">
            <span class="avatar-initial bg-label-primary rounded">
              <i class="ti ti-rotate-clockwise-2 ti-30px"></i>
            </span>
          </div>
          <div>
            <h5 class="mb-0"><span class="align-middle">Privacy Policy</span></h5>
            <span>Learn more about our privacy policy</span>
          </div>
        </div>
        <div id="accordionPrivacy" class="accordion">
          <div class="card accordion-item active">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#accordionPrivacy-1" aria-controls="accordionPrivacy-1">
                <strong style="font-size: 18px;">Privacy Policy</strong>
              </button>
            </h2>
            <div id="accordionPrivacy-1" class="accordion-collapse collapse show">
              <div class="accordion-body">
                  <p>Last updated: July 07, 2024</p>
                  <p>This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.</p>
                  <p>We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy. This Privacy Policy has been created with the help of the <a href="https://www.freeprivacypolicy.com/free-privacy-policy-generator/" target="_blank">Free Privacy Policy Generator</a>.</p>
                  <h5>Interpretation and Definitions</h5>
                  <h5>Interpretation</h5>
                  <p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
                  <h5>Definitions</h5>
                  <p>For the purposes of this Privacy Policy:</p>
                  <ul>
                  <li>
                  <p><strong>Account</strong> means a unique account created for You to access our Service or parts of our Service.</p>
                  </li>
                  <li>
                  <p><strong>Affiliate</strong> means an entity that controls, is controlled by or is under common control with a party, where &quot;control&quot; means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of directors or other managing authority.</p>
                  </li>
                  <li>
                  <p><strong>Application</strong> refers to Bimod, the software program provided by the Company.</p>
                  </li>
                  <li>
                  <p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to Bimod.</p>
                  </li>
                  <li>
                  <p><strong>Cookies</strong> are small files that are placed on Your computer, mobile device or any other device by a website, containing the details of Your browsing history on that website among its many uses.</p>
                  </li>
                  <li>
                  <p><strong>Country</strong> refers to:  Turkey</p>
                  </li>
                  <li>
                  <p><strong>Device</strong> means any device that can access the Service such as a computer, a cellphone or a digital tablet.</p>
                  </li>
                  <li>
                  <p><strong>Personal Data</strong> is any information that relates to an identified or identifiable individual.</p>
                  </li>
                  <li>
                  <p><strong>Service</strong> refers to the Application or the Website or both.</p>
                  </li>
                  <li>
                  <p><strong>Service Provider</strong> means any natural or legal person who processes the data on behalf of the Company. It refers to third-party companies or individuals employed by the Company to facilitate the Service, to provide the Service on behalf of the Company, to perform services related to the Service or to assist the Company in analyzing how the Service is used.</p>
                  </li>
                  <li>
                  <p><strong>Third-party Social Media Service</strong> refers to any website or any social network website through which a User can log in or create an account to use the Service.</p>
                  </li>
                  <li>
                  <p><strong>Usage Data</strong> refers to data collected automatically, either generated by the use of the Service or from the Service infrastructure itself (for example, the duration of a page visit).</p>
                  </li>
                  <li>
                  <p><strong>Website</strong> refers to Bimod, accessible from <a href="bimod.io" rel="external nofollow noopener" target="_blank">bimod.io</a></p>
                  </li>
                  <li>
                  <p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
                  </li>
                  </ul>
                  <h5>Collecting and Using Your Personal Data</h5>
                  <h5>Types of Data Collected</h5>
                  <h5>Personal Data</h5>
                  <p>While using Our Service, We may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. Personally identifiable information may include, but is not limited to:</p>
                  <ul>
                  <li>
                  <p>Email address</p>
                  </li>
                  <li>
                  <p>First name and last name</p>
                  </li>
                  <li>
                  <p>Phone number</p>
                  </li>
                  <li>
                  <p>Address, State, Province, ZIP/Postal code, City</p>
                  </li>
                  <li>
                  <p>Usage Data</p>
                  </li>
                  </ul>
                  <h5>Usage Data</h5>
                  <p>Usage Data is collected automatically when using the Service.</p>
                  <p>Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>
                  <p>When You access the Service by or through a mobile device, We may collect certain information automatically, including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data.</p>
                  <p>We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by or through a mobile device.</p>
                  <h5>Information from Third-Party Social Media Services</h5>
                  <p>The Company allows You to create an account and log in to use the Service through the following Third-party Social Media Services:</p>
                  <ul>
                  <li>Google</li>
                  <li>Facebook</li>
                  <li>Instagram</li>
                  <li>Twitter</li>
                  <li>LinkedIn</li>
                  </ul>
                  <p>If You decide to register through or otherwise grant us access to a Third-Party Social Media Service, We may collect Personal data that is already associated with Your Third-Party Social Media Service's account, such as Your name, Your email address, Your activities or Your contact list associated with that account.</p>
                  <p>You may also have the option of sharing additional information with the Company through Your Third-Party Social Media Service's account. If You choose to provide such information and Personal Data, during registration or otherwise, You are giving the Company permission to use, share, and store it in a manner consistent with this Privacy Policy.</p>
                  <h5>Information Collected while Using the Application</h5>
                  <p>While using Our Application, in order to provide features of Our Application, We may collect, with Your prior permission:</p>
                  <ul>
                  <li>Information regarding your location</li>
                  <li>Information from your Device's phone book (contacts list)</li>
                  <li>Pictures and other information from your Device's camera and photo library</li>
                  </ul>
                  <p>We use this information to provide features of Our Service, to improve and customize Our Service. The information may be uploaded to the Company's servers and/or a Service Provider's server or it may be simply stored on Your device.</p>
                  <p>You can enable or disable access to this information at any time, through Your Device settings.</p>
                  <h5>Tracking Technologies and Cookies</h5>
                  <p>We use Cookies and similar tracking technologies to track the activity on Our Service and store certain information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze Our Service. The technologies We use may include:</p>
                  <ul>
                  <li><strong>Cookies or Browser Cookies.</strong> A cookie is a small file placed on Your Device. You can instruct Your browser to refuse all Cookies or to indicate when a Cookie is being sent. However, if You do not accept Cookies, You may not be able to use some parts of our Service. Unless you have adjusted Your browser setting so that it will refuse Cookies, our Service may use Cookies.</li>
                  <li><strong>Web Beacons.</strong> Certain sections of our Service and our emails may contain small electronic files known as web beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs) that permit the Company, for example, to count users who have visited those pages or opened an email and for other related website statistics (for example, recording the popularity of a certain section and verifying system and server integrity).</li>
                  </ul>
                  <p>Cookies can be &quot;Persistent&quot; or &quot;Session&quot; Cookies. Persistent Cookies remain on Your personal computer or mobile device when You go offline, while Session Cookies are deleted as soon as You close Your web browser. Learn more about cookies on the <a href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/#Use_Of_Cookies_And_Tracking" target="_blank">Free Privacy Policy website</a> article.</p>
                  <p>We use both Session and Persistent Cookies for the purposes set out below:</p>
                  <ul>
                  <li>
                  <p><strong>Necessary / Essential Cookies</strong></p>
                  <p>Type: Session Cookies</p>
                  <p>Administered by: Us</p>
                  <p>Purpose: These Cookies are essential to provide You with services available through the Website and to enable You to use some of its features. They help to authenticate users and prevent fraudulent use of user accounts. Without these Cookies, the services that You have asked for cannot be provided, and We only use these Cookies to provide You with those services.</p>
                  </li>
                  <li>
                  <p><strong>Cookies Policy / Notice Acceptance Cookies</strong></p>
                  <p>Type: Persistent Cookies</p>
                  <p>Administered by: Us</p>
                  <p>Purpose: These Cookies identify if users have accepted the use of cookies on the Website.</p>
                  </li>
                  <li>
                  <p><strong>Functionality Cookies</strong></p>
                  <p>Type: Persistent Cookies</p>
                  <p>Administered by: Us</p>
                  <p>Purpose: These Cookies allow us to remember choices You make when You use the Website, such as remembering your login details or language preference. The purpose of these Cookies is to provide You with a more personal experience and to avoid You having to re-enter your preferences every time You use the Website.</p>
                  </li>
                  </ul>
                  <p>For more information about the cookies we use and your choices regarding cookies, please visit our Cookies Policy or the Cookies section of our Privacy Policy.</p>
                  <h5>Use of Your Personal Data</h5>
                  <p>The Company may use Personal Data for the following purposes:</p>
                  <ul>
                  <li>
                  <p><strong>To provide and maintain our Service</strong>, including to monitor the usage of our Service.</p>
                  </li>
                  <li>
                  <p><strong>To manage Your Account:</strong> to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered user.</p>
                  </li>
                  <li>
                  <p><strong>For the performance of a contract:</strong> the development, compliance and undertaking of the purchase contract for the products, items or services You have purchased or of any other contract with Us through the Service.</p>
                  </li>
                  <li>
                  <p><strong>To contact You:</strong> To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application's push notifications regarding updates or informative communications related to the functionalities, products or contracted services, including the security updates, when necessary or reasonable for their implementation.</p>
                  </li>
                  <li>
                  <p><strong>To provide You</strong> with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless You have opted not to receive such information.</p>
                  </li>
                  <li>
                  <p><strong>To manage Your requests:</strong> To attend and manage Your requests to Us.</p>
                  </li>
                  <li>
                  <p><strong>For business transfers:</strong> We may use Your information to evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which Personal Data held by Us about our Service users is among the assets transferred.</p>
                  </li>
                  <li>
                  <p><strong>For other purposes</strong>: We may use Your information for other purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Service, products, services, marketing and your experience.</p>
                  </li>
                  </ul>
                  <p>We may share Your personal information in the following situations:</p>
                  <ul>
                  <li><strong>With Service Providers:</strong> We may share Your personal information with Service Providers to monitor and analyze the use of our Service,  to contact You.</li>
                  <li><strong>For business transfers:</strong> We may share or transfer Your personal information in connection with, or during negotiations of, any merger, sale of Company assets, financing, or acquisition of all or a portion of Our business to another company.</li>
                  <li><strong>With Affiliates:</strong> We may share Your information with Our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates include Our parent company and any other subsidiaries, joint venture partners or other companies that We control or that are under common control with Us.</li>
                  <li><strong>With business partners:</strong> We may share Your information with Our business partners to offer You certain products, services or promotions.</li>
                  <li><strong>With other users:</strong> when You share personal information or otherwise interact in the public areas with other users, such information may be viewed by all users and may be publicly distributed outside. If You interact with other users or register through a Third-Party Social Media Service, Your contacts on the Third-Party Social Media Service may see Your name, profile, pictures and description of Your activity. Similarly, other users will be able to view descriptions of Your activity, communicate with You and view Your profile.</li>
                  <li><strong>With Your consent</strong>: We may disclose Your personal information for any other purpose with Your consent.</li>
                  </ul>
                  <h5>Retention of Your Personal Data</h5>
                  <p>The Company will retain Your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use Your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</p>
                  <p>The Company will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of Our Service, or We are legally obligated to retain this data for longer time periods.</p>
                  <h5>Transfer of Your Personal Data</h5>
                  <p>Your information, including Personal Data, is processed at the Company's operating offices and in any other places where the parties involved in the processing are located. It means that this information may be transferred to — and maintained on — computers located outside of Your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from Your jurisdiction.</p>
                  <p>Your consent to this Privacy Policy followed by Your submission of such information represents Your agreement to that transfer.</p>
                  <p>The Company will take all steps reasonably necessary to ensure that Your data is treated securely and in accordance with this Privacy Policy and no transfer of Your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of Your data and other personal information.</p>
                  <h5>Delete Your Personal Data</h5>
                  <p>You have the right to delete or request that We assist in deleting the Personal Data that We have collected about You.</p>
                  <p>Our Service may give You the ability to delete certain information about You from within the Service.</p>
                  <p>You may update, amend, or delete Your information at any time by signing in to Your Account, if you have one, and visiting the account settings section that allows you to manage Your personal information. You may also contact Us to request access to, correct, or delete any personal information that You have provided to Us.</p>
                  <p>Please note, however, that We may need to retain certain information when we have a legal obligation or lawful basis to do so.</p>
                  <h5>Disclosure of Your Personal Data</h5>
                  <h5>Business Transactions</h5>
                  <p>If the Company is involved in a merger, acquisition or asset sale, Your Personal Data may be transferred. We will provide notice before Your Personal Data is transferred and becomes subject to a different Privacy Policy.</p>
                  <h5>Law enforcement</h5>
                  <p>Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</p>
                  <h5>Other legal requirements</h5>
                  <p>The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:</p>
                  <ul>
                  <li>Comply with a legal obligation</li>
                  <li>Protect and defend the rights or property of the Company</li>
                  <li>Prevent or investigate possible wrongdoing in connection with the Service</li>
                  <li>Protect the personal safety of Users of the Service or the public</li>
                  <li>Protect against legal liability</li>
                  </ul>
                  <h5>Security of Your Personal Data</h5>
                  <p>The security of Your Personal Data is important to Us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect Your Personal Data, We cannot guarantee its absolute security.</p>
                  <h5>Children's Privacy</h5>
                  <p>Our Service does not address anyone under the age of 13. We do not knowingly collect personally identifiable information from anyone under the age of 13. If You are a parent or guardian and You are aware that Your child has provided Us with Personal Data, please contact Us. If We become aware that We have collected Personal Data from anyone under the age of 13 without verification of parental consent, We take steps to remove that information from Our servers.</p>
                  <p>If We need to rely on consent as a legal basis for processing Your information and Your country requires consent from a parent, We may require Your parent's consent before We collect and use that information.</p>
                  <h5>Links to Other Websites</h5>
                  <p>Our Service may contain links to other websites that are not operated by Us. If You click on a third party link, You will be directed to that third party's site. We strongly advise You to review the Privacy Policy of every site You visit.</p>
                  <p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
                  <h5>Changes to this Privacy Policy</h5>
                  <p>We may update Our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page.</p>
                  <p>We will let You know via email and/or a prominent notice on Our Service, prior to the change becoming effective and update the &quot;Last updated&quot; date at the top of this Privacy Policy.</p>
                  <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
                  <h5>Contact Us</h5>
                  <p>If you have any questions about this Privacy Policy, You can contact us:</p>
                  <ul>
                  <li>By email: info@bimod.io</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /FAQ's -->
</div>

<!-- Contact -->
<div class="row my-6">
  <div class="col-12 text-center my-6">
    <div class="badge bg-label-primary"><strong>Help</strong></div>
    <h4 class="my-2">Couldn't find an answer to your question?</h4>
    <p class="mb-0">We are always happy to help. Feel free to reach out to us via phone or email.</p>
  </div>
</div>
<div class="row justify-content-center gap-sm-0 gap-6">
  <div class="col-sm-6">
    <div class="py-6 rounded bg-faq-section d-flex align-items-center flex-column">
      <div class="avatar avatar-md">
        <span class="avatar-initial bg-label-primary rounded">
          <i class="ti ti-phone ti-26px"></i>
        </span>
      </div>
      <h5 class="mt-8 mb-1"><a class="text-heading" href="tel:+90-500-500-50-50">+90-500-500-50-50</a></h5>
      <p class="mb-0">Available between <strong>9:00 am - 5:00 pm (UTC+3).</strong></p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="py-6 rounded bg-faq-section d-flex align-items-center flex-column pb-10">
      <div class="avatar avatar-md">
        <span class="avatar-initial bg-label-primary rounded">
          <i class="ti ti-mail ti-26px"></i>
        </span>
      </div>
      <h5 class="mt-4 mb-1"><a class="text-heading" href="mailto:info@bimod.io">info@bimod.io</a></h5>
      <p class="mb-0">Best way to get a quick response, <strong>available 24/7.</strong></p>
    </div>
  </div>
</div>
<!-- /Contact -->

<!-- TODO: fix the documentation page and include content here -->

{% endblock %}
