{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Bimod.io | Custom Integration Solutions{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/nouislider/nouislider.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/libs/swiper/swiper.css' %}"/>
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/nouislider/nouislider.js' %}"></script>
  <script src="{% static 'vendor/libs/swiper/swiper.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/css/pages/front-page-landing.css' %}">
{% endblock page_css %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/front-page-landing.js' %}"></script>
{% endblock page_js %}

{% block content %}
  <div data-bs-spy="scroll" class="scrollspy-example">
    <!-- Hero Section: Start -->
    <section id="hero-animation">
      <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-banner-5.png' %}" class="rounded" width="25%"
           style="position: absolute; top: 420px; left:50px; z-index: 9999999999;"
           alt="Integration page illustration 1">
      <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-banner-6.png' %}" class="rounded" width="25%"
           style="position: absolute; top: 420px; right:50px; z-index: 9999999999;"
           alt="Integration page illustration 2">
      <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-banner-7.png' %}" class="rounded" width="17%"
           style="position: absolute; top: 150px; left:250px; z-index: 9999999999;"
           alt="Integration page illustration 3">
      <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-banner-8.png' %}" class="rounded" width="17%"
           style="position: absolute; top: 150px; right:250px; z-index: 9999999999;"
           alt="Integration page illustration 4">
      <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-banner-9.png' %}" class="rounded" width="15%"
           style="position: absolute; top: 25px; left:50px; z-index: 9999999999;" alt="Integration page illustration 5">
      <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-banner-10.png' %}" class="rounded" width="15%"
           style="position: absolute; top: 25px; right:50px; z-index: 9999999999;"
           alt="Integration page illustration 6">
      <div id="landingHero" class="section-py landing-hero position-relative">
        <img src="{% static 'img/front-pages/backgrounds/hero-bg.png' %}" alt="hero background"
             class="position-absolute top-0 start-50 translate-middle-x object-fit-cover w-100 h-100" data-speed="1"/>
        <div class="container">
          <div class="hero-text-box text-center position-relative">
            <h1 class="text-primary hero-title display-6 fw-extrabold">
              <strong>Bimod.io</strong>
            </h1>
            <hr>
            <h1 class="text-primary hero-title display-1 fw-extrabold">
              <strong>Tailor-Made Integrations</strong>
            </h1>
            <hr>
            <h2 class="hero-sub-title h6 mb-6 mt-12">
              <strong>Custom AI-Powered Integrations for Your Enterprise. Our services cover end-to-end integration
                solutions from analyzing your enterprises' requirements to identifying the best assistants, data
                sources,
                multi-modality models, and deploying your autonomous strategies with the best practices.</strong>
            </h2>
            <a href="{% url 'landing:index' %}" class="btn btn-primary btn-lg mt-8" style="min-width: 250px;">
              <strong><i class="fa fa-home me-2"></i>Back to Homepage</strong>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Hero Section: End -->

    <!-- Custom Integration Section -->
    <section id="custom-integrations" class="section-py landing-features">
      <div class="container">
        <div class="text-center mb-4">
          <span class="badge bg-label-primary"><strong>Our Integration Services &amp; Steps</strong></span>
        </div>
        <h4 class="text-center mb-1">
          <span class="position-relative fw-extrabold z-1">End-to-End Solutions Tailored for the Needs of Your Enterprise</span>
        </h4>
        <p class="text-center mb-12">
          Bimod Lab® offers the most flexible AI as a Service and integration solutions for you to automate your
          processes with the best practices and the most advanced AI technologies. Our services cover end-to-end
          integration solutions from analyzing your enterprises' requirements to identifying the best assistants,
          data sources, multi-modality models, and deploying your autonomous strategies with the best practices.
        </p>

        <!-- Features Grid -->
        <div class="row gx-0 gy-6 g-sm-12 mt-12">
          <div class="col-lg-6 col-sm-12 text-center features-icon-box">
            <div class="d-flex flex-column align-items-center">
              <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-requirements-analysis.png' %}"
                   class="border border-2 border-primary" style="width: 200px; height: 200px; border-radius: 25px;"
                   alt="Integration Module"/>
              <h4 class="mt-4 mb-2"><strong>Requirements Analysis</strong></h4>
              <p style="text-align: justify;">
                In this critical initial phase, our team focuses on understanding and documenting your business's unique
                needs and operational challenges. Through comprehensive interviews with key stakeholders and detailed
                assessments of your current systems and workflows, we aim to identify areas where AI-powered solutions
                can significantly enhance efficiency, accuracy, and productivity. Our goal is to develop a clear and
                actionable integration strategy that aligns perfectly with your business objectives, ensuring that every
                solution implemented is tailor-made to fit your specific requirements and offers measurable improvements
                in process management and decision-making capabilities.
              </p>
            </div>
          </div>

          <div class="col-lg-6 col-sm-12 text-center features-icon-box">
            <div class="d-flex flex-column align-items-center">
              <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-user-management.png' %}"
                   class="border border-2 border-primary" style="width: 200px; height: 200px; border-radius: 25px;"
                   alt="Workflow Automation"/>
              <h4 class="mt-4 mb-2"><strong>User &amp; Tenancy Management</strong></h4>
              <p style="text-align: justify;">
                We understand that effective user and tenancy management is foundational to securing and
                optimizing your enterprise resources. Our solutions are designed to streamline the administration of
                user access and permissions, ensuring that the right individuals have the appropriate access levels
                based on their roles and responsibilities. We incorporate advanced strategies for multi-tenancy
                environments, enabling separate and secure domains for different business units or projects. This not
                only enhances security by isolating data and operations across tenants but also improves system
                performance and user satisfaction by customizing functionalities to meet specific tenant needs.
              </p>
            </div>
          </div>
        </div>
        <div class="row gx-0 gy-6 g-sm-12 mt-12">
          <div class="col-lg-6 col-sm-12 text-center features-icon-box">
            <div class="d-flex flex-column align-items-center">
              <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-data-security.png' %}"
                   class="border border-2 border-primary" style="width: 200px; height: 200px; border-radius: 25px;"
                   alt="Integration Module"/>
              <h4 class="mt-4 mb-2"><strong>Data Security Integrations</strong></h4>
              <p style="text-align: justify;">
                Our approach to data security at Bimod.io is centered on implementing robust, scalable solutions that
                protect your enterprise's valuable data assets against unauthorized access, breaches, and other cyber
                threats. We employ state-of-the-art encryption methods, secure data storage solutions, and comprehensive
                access controls to ensure that your data remains confidential, intact, and available only to authorized
                personnel. Our team also integrates advanced threat detection and response systems that continuously
                monitor and react to potential security incidents in real-time, thereby safeguarding your information
                infrastructure and maintaining compliance with global data protection regulations.
              </p>
            </div>
          </div>

          <div class="col-lg-6 col-sm-12 text-center features-icon-box">
            <div class="d-flex flex-column align-items-center">
              <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-payments.png' %}"
                   class="border border-2 border-primary" style="width: 200px; height: 200px; border-radius: 25px;"
                   alt="Workflow Automation"/>
              <h4 class="mt-4 mb-2"><strong>Payment Plans &amp; Transaction Management</strong></h4>
              <p style="text-align: justify;">
                We tailor payment plans and transaction management systems to facilitate smooth, secure
                financial operations for your enterprise. Our platforms are designed to support diverse payment methods,
                ensuring compatibility with global currencies and payment gateways to accommodate clients from different
                geographical regions. We focus on automating billing processes, reducing human error, and enhancing
                transaction security with features like fraud detection and risk management algorithms. Our systems also
                provide comprehensive reporting tools, offering real-time insights into financial data to aid strategic
                decision-making and ensure financial compliance.
              </p>
            </div>
          </div>
        </div>
        <div class="row gx-0 gy-6 g-sm-12 mt-12">
          <div class="col-lg-6 col-sm-12 text-center features-icon-box">
            <div class="d-flex flex-column align-items-center">
              <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-data-source-analysis.png' %}"
                   class="border border-2 border-primary" style="width: 200px; height: 200px; border-radius: 25px;"
                   alt="Integration Module"/>
              <h4 class="mt-4 mb-2"><strong>Data Source Analysis &amp; Integrations</strong></h4>
              <p style="text-align: justify;">
                Our data source analysis and integration services at Bimod.io are designed to ensure that your
                organization can harness the full potential of its data landscape. By conducting thorough evaluations of
                both internal and external data sources, we identify the most valuable datasets and determine the
                optimal ways to integrate them into your existing systems. Our expertise allows us to seamlessly merge
                disparate data sources, eliminating silos and enabling a unified view that enhances data-driven
                decision-making. Additionally, we implement data quality frameworks to ensure accuracy, consistency, and
                reliability in your data, enabling more effective forecasting, reporting, and business intelligence.
              </p>
            </div>
          </div>

          <div class="col-lg-6 col-sm-12 text-center features-icon-box">
            <div class="d-flex flex-column align-items-center">
              <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-memory-storage.png' %}"
                   class="border border-2 border-primary" style="width: 200px; height: 200px; border-radius: 25px;"
                   alt="Workflow Automation"/>
              <h4 class="mt-4 mb-2"><strong>Memory &amp; Retrieval Policies Setup</strong></h4>
              <p style="text-align: justify;">
                Our memory and retrieval policy setup for AI assistants is engineered to maximize
                efficiency and compliance within AI-driven processes. We design these policies to optimize the way AI
                systems store and recall data, ensuring rapid access and intelligent data handling that supports dynamic
                learning and decision-making. By setting strict guidelines on data retention, expiration, and
                accessibility, we safeguard sensitive information and maintain compliance with privacy standards. These
                tailored policies enhance the cognitive capabilities of AI assistants, allowing them to process and
                utilize large datasets effectively while providing reliable and contextually aware responses to user
                queries.
              </p>
            </div>
          </div>
        </div>
        <div class="row gx-0 gy-6 g-sm-12 mt-12">
          <div class="col-lg-6 col-sm-12 text-center features-icon-box">
            <div class="d-flex flex-column align-items-center">
              <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-code-repositories.png' %}"
                   class="border border-2 border-primary" style="width: 200px; height: 200px; border-radius: 25px;"
                   alt="Integration Module"/>
              <h4 class="mt-4 mb-2"><strong>Repository &amp; Document Storage Setups</strong></h4>
              <p style="text-align: justify;">
                We specialize in configuring repository and document storage solutions optimized for
                seamless integration with AI assistants. Our setups ensure that your enterprise's knowledge base, code
                repositories, and document management systems are efficiently organized and easily accessible to AI
                models. By implementing structured storage architectures and advanced indexing techniques, we enable AI
                assistants to retrieve and process information swiftly, enhancing their ability to deliver accurate and
                contextually relevant responses. Additionally, we integrate robust security protocols to protect
                sensitive data, ensuring compliance with industry standards and regulations. This holistic approach not
                only boosts the performance of your AI assistants but also streamlines collaboration and information
                sharing across your organization.
              </p>
            </div>
          </div>

          <div class="col-lg-6 col-sm-12 text-center features-icon-box">
            <div class="d-flex flex-column align-items-center">
              <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-multi-modality.png' %}"
                   class="border border-2 border-primary" style="width: 200px; height: 200px; border-radius: 25px;"
                   alt="Workflow Automation"/>
              <h4 class="mt-4 mb-2"><strong>Multimodal Tool &amp; Resource Integrations</strong></h4>
              <p style="text-align: justify;">
                We specialize in enhancing your AI assistants by integrating a diverse array of tools and
                resources across multiple modalities. Our expertise includes incorporating functionalities such as text
                processing, speech recognition, image analysis, and video comprehension, enabling your AI systems to
                interact seamlessly with data in various formats. By developing and integrating custom functions, APIs,
                and scripts, we empower your AI assistants to communicate effectively with different platforms and
                services. This comprehensive approach ensures that your AI solutions are versatile and scalable, capable
                of handling complex tasks that span across different modes of information, thereby driving innovation
                and efficiency within your enterprise.
              </p>
            </div>
          </div>
        </div>
        <div class="row gx-0 gy-6 g-sm-12 mt-12">
          <div class="col-lg-6 col-sm-12 text-center features-icon-box">
            <div class="d-flex flex-column align-items-center">
              <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-assistants.png' %}"
                   class="border border-2 border-primary" style="width: 200px; height: 200px; border-radius: 25px;"
                   alt="Integration Module"/>
              <h4 class="mt-4 mb-2"><strong>Assistant Setups &amp; Optimizations</strong></h4>
              <p style="text-align: justify;">
                We specialize in configuring and fine-tuning AI assistants to seamlessly integrate with
                your enterprise systems and processes. Our team customizes AI models to understand your specific
                industry terminology, operational workflows, and customer interaction styles. By optimizing parameters,
                training data, and response algorithms, we enhance the assistants' accuracy, efficiency, and relevance.
                We also implement adaptive learning mechanisms, allowing your AI assistants to evolve over time based on
                user interactions and feedback. This continuous improvement cycle ensures that your AI solutions remain
                effective, delivering superior user experiences and contributing to increased productivity and customer
                satisfaction.
              </p>
            </div>
          </div>

          <div class="col-lg-6 col-sm-12 text-center features-icon-box">
            <div class="d-flex flex-column align-items-center">
              <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-data-migrations.png' %}"
                   class="border border-2 border-primary" style="width: 200px; height: 200px; border-radius: 25px;"
                   alt="Workflow Automation"/>
              <h4 class="mt-4 mb-2"><strong>Data &amp; Dataset Migration Setups</strong></h4>
              <p style="text-align: justify;">
                We offer specialized data and dataset migration services to facilitate the smooth transfer
                of your valuable data assets to new platforms or systems. Our experts design and implement migration
                strategies that prioritize data integrity, security, and minimal disruption to your operations. We
                handle the complexities of moving large-scale datasets, including data cleansing, transformation, and
                validation processes to ensure compatibility with your new environments. By utilizing cutting-edge tools
                and adhering to best practices, we guarantee that your AI assistants and other integrated systems can
                seamlessly access and leverage the migrated data. This empowers your enterprise to maintain continuity,
                enhance performance, and capitalize on the full potential of your data resources in support of strategic
                objectives.
              </p>
            </div>
          </div>
        </div>
        <div class="row gx-0 gy-6 g-sm-12 mt-12">
          <div class="col-lg-6 col-sm-12 text-center features-icon-box">
            <div class="d-flex flex-column align-items-center">
              <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-function-api-script.png' %}"
                   class="border border-2 border-primary" style="width: 200px; height: 200px; border-radius: 25px;"
                   alt="Integration Module"/>
              <h4 class="mt-4 mb-2"><strong>Function, API, and Script Development</strong></h4>
              <p style="text-align: justify;">
                We excel in crafting custom functions, APIs, and scripts that enhance the capabilities of
                your AI assistants and enterprise systems. Our development team specializes in creating seamless
                integrations that enable your AI solutions to perform specialized tasks, automate complex workflows, and
                interact efficiently with third-party services. By developing bespoke functions and APIs, we empower
                your AI assistants to access and manipulate data, trigger automated actions, and provide functionalities
                tailored to your unique business requirements. Our scripting services automate routine tasks, reduce
                manual effort, and increase operational efficiency. This holistic approach ensures that your AI and
                automation strategies are robust, scalable, and perfectly aligned with your organizational objectives,
                driving innovation and delivering measurable business value.
              </p>
            </div>
          </div>

          <div class="col-lg-6 col-sm-12 text-center features-icon-box">
            <div class="d-flex flex-column align-items-center">
              <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-schedules-triggers.png' %}"
                   class="border border-2 border-primary" style="width: 200px; height: 200px; border-radius: 25px;"
                   alt="Workflow Automation"/>
              <h4 class="mt-4 mb-2"><strong>Scheduled &amp; Triggered Task Integrations</strong></h4>
              <p style="text-align: justify;">
                We specialize in integrating scheduled and event-triggered tasks to enhance the efficiency
                and responsiveness of your AI assistants and enterprise systems. Our solutions enable you to automate
                routine processes by scheduling tasks at predefined intervals or triggering actions based on specific
                events or conditions. By implementing advanced scheduling algorithms and real-time event monitoring, we
                ensure that your systems can perform critical operations autonomously and promptly. This includes
                automating data backups, report generation, system updates, and complex workflows like real-time data
                processing and automated responses to user interactions. Our approach reduces manual workload, increases
                reliability, and allows your organization to operate seamlessly around the clock, ultimately driving
                productivity and operational excellence.
              </p>
            </div>
          </div>
        </div>
        <div class="row gx-0 gy-6 g-sm-12 mt-12">
          <div class="col-lg-6 col-sm-12 text-center features-icon-box">
            <div class="d-flex flex-column align-items-center">
              <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-cloud-export-api.png' %}"
                   class="border border-2 border-primary" style="width: 200px; height: 200px; border-radius: 25px;"
                   alt="Integration Module"/>
              <h4 class="mt-4 mb-2"><strong>Exported Assistant API Integrations</strong></h4>
              <p style="text-align: justify;">
                We empower your enterprise by providing seamless Exported Assistant API Integrations,
                enabling your AI assistants to be accessed and utilized via RESTful API endpoints. This service allows
                you to embed the intelligence of your customized AI assistants directly into your existing applications,
                websites, and services. By offering secure and scalable API interfaces, we facilitate the integration of
                advanced AI functionalities without disrupting your current infrastructure. Our solutions come with
                comprehensive documentation and support, ensuring that your development teams can efficiently implement
                and manage these integrations. This approach enhances user experiences, streamlines operations, and
                allows for rapid deployment of AI-driven features across your enterprise ecosystem.
              </p>
            </div>
          </div>

          <div class="col-lg-6 col-sm-12 text-center features-icon-box">
            <div class="d-flex flex-column align-items-center">
              <img src="{% static 'img/custom-illustrations-v2/integrations/e2e-orchestrations.png' %}"
                   class="border border-2 border-primary" style="width: 200px; height: 200px; border-radius: 25px;"
                   alt="Workflow Automation"/>
              <h4 class="mt-4 mb-2"><strong>Orchestration Setups</strong></h4>
              <p style="text-align: justify;">
                We specialize in designing and implementing orchestration setups that harmonize your AI
                assistants and enterprise processes into a cohesive and efficient ecosystem. Our orchestration services
                involve configuring workflows where multiple automated tasks, services, and functions are seamlessly
                integrated to operate in unison. By utilizing advanced orchestration tools and frameworks, we enable
                your systems to coordinate complex sequences of actions, manage interdependencies, and adapt dynamically
                to real-time events and data inputs. This ensures that your AI solutions can scale effectively, respond
                promptly to business needs, and maintain high levels of performance and reliability. Our orchestration
                setups not only streamline operations but also enhance agility, allowing your organization to innovate
                faster and deliver superior value to your customers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Custom Integration Section: End -->

    <!-- Call to Action: Start -->
    <section id="landingCTA" class="section-py landing-cta position-relative">
      <img src="{% static 'img/front-pages/backgrounds/cta-bg-dark.png' %}"
           class="position-absolute bottom-0 end-0 scaleX-n1-rtl h-100 w-100 z-n1" alt="cta background"/>
      <div class="container">
        <div class="row align-items-center gy-12">
          <div class="col-lg-6 text-start text-lg-start">
            <h4 class="cta-title text-primary fw-bold mb-0">
              <strong>Take the Step for 100%, 7/24 Automation</strong>
            </h4>
            <h6 class="text-body mb-12 mt-12 me-12" style="text-align: justify;">
              Let's discuss how Bimod.io can help you automate your processes by using state-of-the-art technology
              stack and powerful assitants and orchestrations. Our team is ready to help you with your integration
              needs and you can feel free to contact us for more information.
            </h6>
            <a href="{% url 'landing:index' %}#landingContact" class="btn btn-lg btn-primary">
              <strong><i class="ti ti-message-2-pin me-2"></i>Contact Us</strong>
            </a>
          </div>
          <div class="col-lg-6 text-center text-lg-end">
            <img src="{% static 'img/custom-illustrations-v2/banners/i2-b1.png' %}" alt="cta dashboard"
                 class="img-fluid mt-lg-4 mb-12" style="border-radius: 15px;"/>
          </div>
        </div>
      </div>
    </section>
    <!-- Call to Action: End -->
  </div>
{% endblock %}
