{% extends layout_path %}
{% load static %}
{% load i18n %}

{% block title %}MetaTempo™ Dashboard{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/libs/sweetalert2/sweetalert2.css' %}"/>
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
  <script src="{% static 'vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
{% endblock vendor_js %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4"><strong>MetaTempo™ Dashboard</strong></h2>

    <hr>

    <div class="tips-section alert alert-secondary alert-dismissible d-flex align-items-center" role="alert">
        <img src="{% static 'img/custom-illustrations-v2/i2-39.png' %}" width="25%" style="border-radius:25px;" class="me-4" alt="Illustration for tip">
        <span class="alert-icon rounded"><i class="ti ti-bookmark"></i></span>
        <div class="d-flex flex-column">
            <h5 class="alert-heading mb-2">Tip</h5>
            <p class="mb-0">
                Use the MetaTempo™ dashboard to view and manage your MetaTempo™ connections, logs, and AI agent
              communication. You can also view and manage your MetaTempo™ integration key if you have the required
              permissions.
            </p>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <hr>

    <!-- Information and Settings -->
    <div class="alert alert-solid-primary alert-dismissible d-flex ms-0 my-8 me-0 align-items-center" role="alert">
      <div class="d-flex flex-column p-12">

        <img src="{% static 'img/metatempo/mtmp-3.png' %}" class="rounded mb-8" style="width: 100%;" alt="Illustration for tips">

        <h5 class="alert-heading mb-2">
              <strong>
                  <i class="fa fa-info-circle me-4"></i>
                  Electron Desktop Copilot <> MetaTempo™ Integration Key
              </strong>
          </h5>
          <p class="mt-2">
              Use this key to connect your Electron Desktop Copilot with MetaTempo™. Locate the MetaTempo™ connections
              tab in your Electron Desktop Copilot and enter this key to establish a connection between your
              Electron Desktop Copilot and MetaTempo™.
          </p>
          <hr>
          <p><strong>User Authentication Key:</strong></p>
          <div class="d-flex align-items-center">
              <input type="password" id="userAuthKey" class="form-control bg-label-dark p-2 rounded fw-bolder"
                     value="{{ user_auth_key }}" readonly>
              <button class="btn btn-warning ms-2" onclick="toggleVisibility('userAuthKey', this)">
                  <i class="fa fa-eye ms-2 me-2"></i> <strong>Show/Hide</strong>
              </button>
              <button class="btn btn-warning ms-2" onclick="copyToClipboardInput('userAuthKey')">
                  <i class="fa fa-copy ms-2 me-2"></i> <strong>Copy</strong>
              </button>
          </div>
          <hr>
          <p><strong>Authentication Key:</strong></p>
          <div class="d-flex align-items-center">
              <input type="password" id="apiKey" class="form-control bg-label-dark p-2 rounded fw-bolder"
                     value="{% if connection_api_key %}{{ connection_api_key }}{% else %}{{ 'You do not have the required permissions to view the key.' }}{% endif %}" readonly>
              <button class="btn btn-warning ms-2" onclick="toggleVisibility('apiKey', this)">
                  <i class="fa fa-eye ms-2 me-2"></i> <strong>Show/Hide</strong>
              </button>
              <button class="btn btn-warning ms-2" onclick="copyToClipboardInput('apiKey')">
                  <i class="fa fa-copy ms-2 me-2"></i> <strong>Copy</strong>
              </button>
              <button class="btn btn-danger ms-2" id="regenerate-api-key-button" onclick="confirmRegenerateApiKey()">
                  <i class="fa fa-refresh ms-2 me-2"></i> <strong>Regenerate</strong>
              </button>
          </div>
          <hr>
      </div>
  </div>

    <!-- Calendar Interface and Username Filter -->
    <div class="card card-border-shadow-primary p-8 mb-4 mx-0">
        <h5>
          <strong>
            <i class="fa fa-filter me-2"></i>
            Filter Tempo Records
          </strong>
        </h5>
        <div class="row">
          <div class="col-6">
            <input type="text" id="log_calendar" class="form-control" placeholder="Select a Date">
          </div>
          <div class="col-6">
              <select id="username_filter" class="form-select select2" style="width: 100%">
                  <option value="">All Users</option>
                  {% for user in users %}
                      <option value="{{ user.id }}">{{ user.username }}</option>
                  {% endfor %}
              </select>
          </div>
        </div>
    </div>

    <hr>

    <div class="d-flex align-items-center align-items-center">
      <a href="{% url 'metatempo:connection_list' %}" class="btn btn-secondary rounded me-4">
         <strong>
           <i class="fa fa-dashboard me-2"></i>
           Manage MetaTempo™ Connections
         </strong>
       </a>
       <a href="{% url 'metatempo:agent_communication' %}" class="btn btn-primary rounded me-4">
         <strong>
           <i class="fa fa-magic-wand-sparkles me-2"></i>
           MetaTempo™ AI
         </strong>
       </a>
        <a href="{% url 'metatempo:trigger_manual_analysis' connection_id=connection.id %}" class="btn btn-success rounded me-4">
         <strong>
           <i class="fa fa-sync me-2"></i>
           Generate Overall Analysis
         </strong>
        </a>
        <a href="#" class="btn btn-danger rounded me-4" onclick="confirmPurgeLogs()">
          <strong>
            <i class="fa fa-skull-crossbones me-2"></i>
            Purge All MetaTempo™ Log Records
          </strong>
        </a>
    </div>

    <hr>

    <!-- Tab Navigation with Equal Width -->
    <ul class="nav nav-tabs d-flex justify-content-between" id="logTabs" role="tablist" style="overflow: hidden;">
        <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link active w-100 text-center" id="member-log-tab" data-bs-toggle="tab" data-bs-target="#member-log" type="button" role="tab">
              <strong>
                <i class="fa fa-users me-2"></i>
                Member Logs
              </strong>
            </button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-100 text-center" id="daily-log-tab" data-bs-toggle="tab" data-bs-target="#daily-log" type="button" role="tab">
              <strong>
                <i class="fa fa-calendar-day me-2"></i>
                Daily Logs
              </strong>
            </button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
            <button class="nav-link w-100 text-center" id="overall-log-tab" data-bs-toggle="tab" data-bs-target="#overall-log" type="button" role="tab">
              <strong>
                <i class="fa fa-globe me-2"></i>
                Overall Logs
              </strong>
            </button>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content mt-4">
        <!-- Member Logs Tab -->
        <div class="tab-pane fade show active" id="member-log" role="tabpanel">
            <h4 class="text-center">
              <strong>
                <i class="fa fa-users me-2"></i>
                Member Logs
              </strong>
            </h4>
            <div id="member_log_list" class="mt-4">
                {% if member_logs %}
                    <ul class="list-group">
                        {% for log in member_logs %}
                            <hr>
                            <li class="card user-log mb-8 mt-8 p-4 border border-dark border-4 rounded shadow-sm btn-primary" style="border-radius: 10px;" data-user="{{ log.user.id }}" data-date="{{ log.timestamp|date:'Y-m-d' }}">
                              <!-- Header: Date and Username -->
                              <div class="d-flex justify-content-between bg-body rounded p-4 align-items-center mb-4">
                                  <div class="d-flex align-items-center btn-primary p-2 rounded text-muted">
                                      <i class="fa fa-calendar text-white me-2"></i>
                                    <span><strong class="text-white">{{ log.timestamp|date:"Y-m-d H:i" }}</strong></span>
                                  </div>
                                  <span class="badge btn-instagram rounded p-2 text-uppercase">
                                    <i class="fa fa-user me-2"></i>
                                    <strong>{{ log.user.username }}</strong>
                                  </span>
                              </div>

                              <!-- Activity Summary Section -->
                              <div class="p-4 mb-4 mb-3 bg-body rounded">
                                  <div class="bg-primary p-2 rounded mb-6 mt-2">
                                    <strong>
                                      <i class="fa fa-list me-2"></i>
                                      Activity Summary
                                    </strong>
                                  </div>
                                <p class="mt-2 text-dark" style="max-height: 100px; min-height: 100px; overflow: auto;"><strong>
                                  {{ log.activity_summary|linebreaksbr }}
                                </strong></p>
                              </div>

                              <div class="row ms-0 me-0 bg-body">
                                <!-- Tags Section -->
                                <div class="col-4 p-4 mb-3 rounded">
                                    <div class="bg-primary p-2 rounded mb-6 mt-2">
                                      <strong>
                                        <i class="fa fa-tags me-2"></i>
                                        Tags and Key Insights
                                      </strong>
                                    </div>
                                    <div class="flex-wrap mt-2" style="max-height: 100px; min-height: 100px; overflow: auto;">
                                        {% for tag in log.activity_tags %}
                                            <div class="btn-instagram rounded p-2 me-2 mb-2">
                                              <strong>{{ tag }}</strong>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <!-- Application Usage Section -->
                                <div class="col-4 p-4 mb-3 rounded">
                                    <div class="btn-primary mb-6 p-2 mt-2 rounded">
                                      <strong>
                                        <i class="fa fa-chart-pie me-2"></i>
                                        Application Usage
                                      </strong>
                                    </div>
                                    <div class="flex-wrap mt-2" style="max-height: 100px; min-height: 100px; overflow: auto;">
                                        {% for app in log.application_usage_stats %}
                                            <div class="btn-dark me-2 mb-2 rounded p-2">
                                              <strong>{{ app }}</strong>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <!-- Work Intensity Section -->
                                <div class="col-4 p-4 mb-3 rounded px-2">
                                    <div class="btn-primary p-2 rounded mb-6 mt-2">
                                      <strong>
                                        <i class="fa fa-tachometer-alt"></i>
                                        Work Intensity
                                      </strong>
                                    </div>
                                    <p class="mt-2 fw-bold text-light">
                                      <div class="btn-label-warning border border-4 border-warning p-3 fs-xlarge rounded d-flex justify-content-center align-items-center" style="height: 100px;">
                                        <strong>🟠 &nbsp; {{ log.work_intensity }} %</strong>
                                      </div>
                                    </p>
                                </div>
                              </div>
                          </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="text-center mt-3 alert alert-warning p-4">
                      <strong>
                        <i class="fa fa-exclamation-triangle me-2"></i>
                        No member logs available.
                      </strong>
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Daily Logs Tab -->
        <div class="tab-pane fade" id="daily-log" role="tabpanel">
            <h4 class="text-center">
              <strong>
                <i class="fa fa-calendar-day me-2"></i>
                Daily Logs
              </strong>
            </h4>
            <div id="daily_log_list" class="mt-4">
                {% if daily_logs %}
                    <ul class="list-group">
                        {% for log in daily_logs %}
                            <hr>
                            <li class="card user-log-daily mb-8 mt-8 p-4 border border-dark border-4 rounded shadow-sm btn-primary" style="border-radius: 10px;" data-user="{{ log.user.id }}" data-date="{{ log.datestamp|date:'Y-m-d' }}">
                                <!-- Header: Date and Username -->
                                <div class="d-flex justify-content-between bg-body rounded p-4 align-items-center mb-4">
                                    <div class="d-flex align-items-center btn-primary p-2 rounded text-muted">
                                        <i class="fa fa-calendar-day text-white me-2"></i>
                                        <span><strong class="text-white">{{ log.datestamp|date:"Y-m-d" }}</strong></span>
                                    </div>
                                    <span class="badge btn-instagram rounded p-2 text-uppercase">
                                      <i class="fa fa-user me-2"></i>
                                      <strong>{{ log.user.username }}</strong>
                                    </span>
                                </div>

                                <div class="row ms-0 me-0 bg-body">
                                    <!-- Daily Activity Summary Section -->
                                    <div class="col-4 p-4 mb-3 rounded">
                                        <div class="bg-primary p-2 rounded mb-6 mt-2">
                                            <strong>
                                                <i class="fa fa-list-alt me-2"></i>
                                                Daily Activity Summary
                                            </strong>
                                        </div>
                                        <p class="mt-2 text-dark" style="max-height: 100px; min-height: 100px; overflow: auto;">
                                            <strong>{{ log.daily_activity_summary|linebreaksbr }}</strong>
                                        </p>
                                    </div>

                                    <!-- Key Tasks Section -->
                                    <div class="col-4 p-4 mb-3 rounded px-2">
                                        <div class="btn-primary p-2 rounded mb-6 mt-2">
                                            <strong>
                                                <i class="fa fa-tasks me-2"></i>
                                                Key Tasks & Insights
                                            </strong>
                                        </div>
                                        <div class="flex-wrap mt-2" style="max-height: 100px; min-height: 100px; overflow: auto;">
                                            {% for task in log.key_tasks %}
                                                <div class="btn-instagram rounded p-2 me-2 mb-2">
                                                    <strong>{{ task }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <!-- Overall Work Intensity Section -->
                                    <div class="col-4 p-4 mb-3 rounded">
                                        <div class="btn-primary mb-6 p-2 mt-2 rounded">
                                            <strong>
                                                <i class="fa fa-tachometer-alt me-2"></i>
                                                Overall Work Intensity
                                            </strong>
                                        </div>
                                        <p class="mt-2 fw-bold text-light">
                                            <div class="bg-label-warning border border-4 border-warning p-3 fs-xlarge rounded d-flex justify-content-center align-items-center" style="height: 100px;">
                                                <strong>🟠 &nbsp; {{ log.overall_work_intensity }} %</strong>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="text-center mt-3 alert alert-warning p-4">
                      <strong>
                        <i class="fa fa-exclamation-triangle me-2"></i>
                        No daily logs available.
                      </strong>
                    </div>
                {% endif %}
            </div>
        </div>


        <!-- Overall Logs Tab -->
        <div class="tab-pane fade" id="overall-log" role="tabpanel">
            <h4 class="text-center">
              <strong>
                <i class="fa fa-globe me-2"></i>
                Overall Logs
              </strong>
            </h4>
            <div id="overall_log_list" class="mt-4">
                {% if overall_logs %}
                    <ul class="list-group">
                        {% for log in overall_logs %}
                            <hr>
                            <li class="card overall-log mb-8 mt-8 p-4 border border-dark border-4 rounded shadow-sm btn-primary" style="border-radius: 10px;" data-date="{{ log.datestamp|date:'Y-m-d' }}">
                                <!-- Header: Date -->
                                <div class="d-flex justify-content-between bg-body rounded p-4 align-items-center mb-4">
                                    <div class="d-flex align-items-center btn-primary p-2 rounded text-muted">
                                        <i class="fa fa-calendar-day text-white me-2"></i>
                                        <span><strong class="text-white">{{ log.datestamp|date:"Y-m-d" }}</strong></span>
                                    </div>
                                </div>

                                <div class="row ms-0 me-0 bg-body">
                                    <!-- Overall Activity Summary Section -->
                                    <div class="col-4 p-4 mb-3 rounded">
                                        <div class="bg-primary p-2 rounded mb-6 mt-2">
                                            <strong>
                                                <i class="fa fa-list-alt me-2"></i>
                                                Overall Activity Summary
                                            </strong>
                                        </div>
                                        <p class="mt-2 text-dark" style="max-height: 100px; min-height: 100px; overflow: auto;">
                                            <strong>{{ log.overall_activity_summary|linebreaksbr }}</strong>
                                        </p>
                                    </div>

                                    <!-- Key Insights Section -->
                                    <div class="col-4 p-4 mb-3 rounded px-2">
                                        <div class="btn-primary p-2 rounded mb-6 mt-2">
                                            <strong>
                                                <i class="fa fa-lightbulb me-2"></i>
                                                Key Insights
                                            </strong>
                                        </div>
                                        <div class="flex-wrap mt-2" style="max-height: 100px; min-height: 100px; overflow: auto;">
                                            {% for insight in log.overall_key_insights %}
                                                <div class="btn-instagram rounded p-2 me-2 mb-2">
                                                    <strong>{{ insight }}</strong>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <!-- Overall Work Intensity Section -->
                                    <div class="col-4 p-4 mb-3 rounded">
                                        <div class="btn-primary mb-6 p-2 mt-2 rounded">
                                            <strong>
                                                <i class="fa fa-tachometer-alt me-2"></i>
                                                Overall Work Intensity
                                            </strong>
                                        </div>
                                        <p class="mt-2 fw-bold text-light">
                                            <div class="bg-label-warning border border-4 border-warning p-3 fs-xlarge rounded d-flex justify-content-center align-items-center" style="height: 100px;">
                                                <strong>🟠 &nbsp; {{ log.overall_work_intensity }} %</strong>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="text-center mt-3 alert alert-warning p-4">
                      <strong>
                        <i class="fa fa-exclamation-triangle me-2"></i>
                        No overall logs available.
                      </strong>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
    <hr>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    flatpickr("#log_calendar", {
        mode: "single",
        dateFormat: "Y-m-d",
        onChange: function (selectedDates, dateStr) {
            filterLogs();
        }
    });

    $('#username_filter').select2({
        placeholder: 'Filter by Username',
        allowClear: true,
        width: '100%'
    }).on('change', function () {
        filterLogs();
    });

    function filterLogs() {
        const selectedUser = $('#username_filter').val();
        const selectedDate = $('#log_calendar').val();

        console.log("Selected User:", selectedUser);
        console.log("Selected Date:", selectedDate);

        // Filter Member Logs
        $('.user-log').each(function () {
            const logUser = $(this).data('user');
            const logDate = $(this).data('date');
            const matchesUser = !selectedUser || logUser == selectedUser;
            const matchesDate = !selectedDate || logDate === selectedDate;

            console.log("Member Log - User:", logUser, "Date:", logDate, "Visible:", matchesUser && matchesDate);
            $(this).toggle(matchesUser && matchesDate);
        });

        // Filter Daily Logs
        $('.user-log-daily').each(function () {
            const logUser = $(this).data('user');
            const logDate = $(this).data('date');
            const matchesUser = !selectedUser || logUser == selectedUser;
            const matchesDate = !selectedDate || logDate === selectedDate;

            console.log("Daily Log - User:", logUser, "Date:", logDate, "Visible:", matchesUser && matchesDate);
            $(this).toggle(matchesUser && matchesDate);
        });

        // Filter Overall Logs
        $('.overall-log').each(function () {
            const logDate = $(this).data('date');
            const matchesDate = !selectedDate || logDate === selectedDate;

            console.log("Overall Log - Date:", logDate, "Visible:", matchesDate);
            $(this).toggle(matchesDate); // Only date filter for overall logs
        });
    }
});
</script>
{% endblock %}

{% block page_js %}
<script>
  // Function to toggle visibility of the API key input
    function toggleVisibility(elementId, button) {
        const input = document.getElementById(elementId);
        if (input.type === 'password') {
            input.type = 'text';
            button.innerHTML = '<i class="fa fa-eye-slash ms-2 me-2"></i> <strong>Hide</strong>';
        } else {
            input.type = 'password';
            button.innerHTML = '<i class="fa fa-eye ms-2 me-2"></i> <strong>Show</strong>';
        }
    }

    // Function to copy API key to clipboard
    function copyToClipboardInput(elementId) {
        const input = document.getElementById(elementId);
        input.select();
        document.execCommand("copy");
        Swal.fire({
            icon: 'success',
            title: 'Copied to Clipboard',
            showConfirmButton: false,
            timer: 1500
        });
    }

    function confirmRegenerateApiKey() {
    Swal.fire({
      title: 'Are you sure?',
      text: 'You won\'t be able to revert this action.',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, regenerate it!',
      cancelButtonText: 'No, cancel!',
      customClass: {
        confirmButton: 'btn btn-danger me-2 waves-effect waves-light',
        cancelButton: 'btn btn-label-secondary waves-effect waves-light'
      },
      buttonsStyling: false
    }).then((result) => {
      if (result.isConfirmed) {
        regenerateApiKey();
      }
    });
  }
  function regenerateApiKey() {
    const url = "{% url 'metatempo:connection_regenerate_api_key' connection_id=connection.id %}";

    fetch(url, {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json'
        },
        credentials: 'same-origin',
    })
    .then(response => {
        if (!response.ok) {
            throw new Error("Network response was not ok " + response.statusText);
        }
        return response.json();
    })
    .then(data => {
        if (data.new_token) {
            document.getElementById('apiKey').value = data.new_token;
        } else {
            console.error('Error:', data.error);
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

function confirmPurgeLogs() {
    Swal.fire({
        title: 'Are you sure?',
        text: 'This action is irreversible and will permanently delete all log records for this connection.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete all!',
        cancelButtonText: 'No, keep logs',
        customClass: {
            confirmButton: 'btn btn-danger me-2',
            cancelButton: 'btn btn-secondary'
        },
        buttonsStyling: false
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = "{% url 'metatempo:purge_logs' connection_id=connection.id %}";
        }
    });
}

</script>
{% endblock page_js %}

