{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Chart.js - Costs per Organization{% endblock %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/chartjs/chartjs.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
  <!-- COSTS -->
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          // Define color variables
          const cyanColor = '#28dac6';
          let cardColor, headingColor, labelColor, borderColor, legendColor;

          // Check for dark mode
          if (isDarkStyle) {
              cardColor = config.colors_dark.cardColor;
              headingColor = config.colors_dark.headingColor;
              labelColor = config.colors_dark.textMuted;
              legendColor = config.colors_dark.bodyColor;
              borderColor = config.colors_dark.borderColor;
          } else {
              cardColor = config.colors.cardColor;
              headingColor = config.colors.headingColor;
              labelColor = config.colors.textMuted;
              legendColor = config.colors.bodyColor;
              borderColor = config.colors.borderColor;
          }

          // Set height according to their data-height
          const chartList = document.querySelectorAll('.chartjs');
          chartList.forEach(function (chartListItem) {
              chartListItem.height = chartListItem.dataset.height;
          });

          // Costs per Organization Bar Chart
          const costsBarChart = document.getElementById('costsBarChartOrganization');
          if (costsBarChart) {
              const costsBarChartVar = new Chart(costsBarChart, {
                  type: 'bar',
                  data: {
                      labels: {{ costs_per_organizations_labels|safe }},
                      datasets: [{
                          label: 'Costs per Organization',
                          data: {{ costs_per_organizations_values|safe }},
                          backgroundColor: cyanColor,
                          borderColor: 'transparent',
                          maxBarThickness: 60,
                          borderRadius: {
                              topRight: 15,
                              topLeft: 15
                          }
                      }]
                  },
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      animation: {
                          duration: 500
                      },
                      plugins: {
                          tooltip: {
                              rtl: isRtl,
                              backgroundColor: cardColor,
                              titleColor: headingColor,
                              bodyColor: legendColor,
                              borderWidth: 1,
                              borderColor: borderColor
                          },
                          legend: {
                              display: false
                          }
                      },
                      scales: {
                          x: {
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  color: labelColor
                              }
                          },
                          y: {
                              min: 0,
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  stepSize: 100,
                                  color: labelColor
                              }
                          }
                      }
                  }
              });
          }
      });
  </script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          // Define color variables
          const orangeColor = '#FF8132';
          let cardColor, headingColor, labelColor, borderColor, legendColor;

          // Check for dark mode
          if (isDarkStyle) {
              cardColor = config.colors_dark.cardColor;
              headingColor = config.colors_dark.headingColor;
              labelColor = config.colors_dark.textMuted;
              legendColor = config.colors_dark.bodyColor;
              borderColor = config.colors_dark.borderColor;
          } else {
              cardColor = config.colors.cardColor;
              headingColor = config.colors.headingColor;
              labelColor = config.colors.textMuted;
              legendColor = config.colors.bodyColor;
              borderColor = config.colors.borderColor;
          }

          // Set height according to their data-height
          const chartList = document.querySelectorAll('.chartjs');
          chartList.forEach(function (chartListItem) {
              chartListItem.height = chartListItem.dataset.height;
          });

          // Costs per Assistant Bar Chart
          const costsBarChart = document.getElementById('costsBarChartAssistant');
          if (costsBarChart) {
              const costsBarChartVar = new Chart(costsBarChart, {
                  type: 'bar',
                  data: {
                      labels: {{ costs_per_assistants_labels|safe }},
                      datasets: [{
                          label: 'Costs per Assistant',
                          data: {{ costs_per_assistants_values|safe }},
                          backgroundColor: orangeColor,
                          borderColor: 'transparent',
                          maxBarThickness: 60,
                          borderRadius: {
                              topRight: 15,
                              topLeft: 15
                          }
                      }]
                  },
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      animation: {
                          duration: 500
                      },
                      plugins: {
                          tooltip: {
                              rtl: isRtl,
                              backgroundColor: cardColor,
                              titleColor: headingColor,
                              bodyColor: legendColor,
                              borderWidth: 1,
                              borderColor: borderColor
                          },
                          legend: {
                              display: false
                          }
                      },
                      scales: {
                          x: {
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  color: labelColor
                              }
                          },
                          y: {
                              min: 0,
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  stepSize: 100,
                                  color: labelColor
                              }
                          }
                      }
                  }
              });
          }
      });
  </script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          // Define color variables
          const oceanBlueColor = '#299AFF';
          let cardColor, headingColor, labelColor, borderColor, legendColor;

          // Check for dark mode
          if (isDarkStyle) {
              cardColor = config.colors_dark.cardColor;
              headingColor = config.colors_dark.headingColor;
              labelColor = config.colors_dark.textMuted;
              legendColor = config.colors_dark.bodyColor;
              borderColor = config.colors_dark.borderColor;
          } else {
              cardColor = config.colors.cardColor;
              headingColor = config.colors.headingColor;
              labelColor = config.colors.textMuted;
              legendColor = config.colors.bodyColor;
              borderColor = config.colors.borderColor;
          }

          // Set height according to their data-height
          const chartList = document.querySelectorAll('.chartjs');
          chartList.forEach(function (chartListItem) {
              chartListItem.height = chartListItem.dataset.height;
          });

          // Costs per User Bar Chart
          const costsBarChart = document.getElementById('costsBarChartUser');
          if (costsBarChart) {
              const costsBarChartVar = new Chart(costsBarChart, {
                  type: 'bar',
                  data: {
                      labels: {{ costs_per_users_labels|safe }},
                      datasets: [{
                          label: 'Costs per User',
                          data: {{ costs_per_users_values|safe }},
                          backgroundColor: oceanBlueColor,
                          borderColor: 'transparent',
                          maxBarThickness: 60,
                          borderRadius: {
                              topRight: 15,
                              topLeft: 15
                          }
                      }]
                  },
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      animation: {
                          duration: 500
                      },
                      plugins: {
                          tooltip: {
                              rtl: isRtl,
                              backgroundColor: cardColor,
                              titleColor: headingColor,
                              bodyColor: legendColor,
                              borderWidth: 1,
                              borderColor: borderColor
                          },
                          legend: {
                              display: false
                          }
                      },
                      scales: {
                          x: {
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  color: labelColor
                              }
                          },
                          y: {
                              min: 0,
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  stepSize: 100,
                                  color: labelColor
                              }
                          }
                      }
                  }
              });
          }
      });
  </script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          // Define color variables
          const purpleColor = '#836AF9';
          let cardColor, headingColor, labelColor, borderColor, legendColor;

          // Check for dark mode
          if (isDarkStyle) {
              cardColor = config.colors_dark.cardColor;
              headingColor = config.colors_dark.headingColor;
              labelColor = config.colors_dark.textMuted;
              legendColor = config.colors_dark.bodyColor;
              borderColor = config.colors_dark.borderColor;
          } else {
              cardColor = config.colors.cardColor;
              headingColor = config.colors.headingColor;
              labelColor = config.colors.textMuted;
              legendColor = config.colors.bodyColor;
              borderColor = config.colors.borderColor;
          }

          // Set height according to their data-height
          const chartList = document.querySelectorAll('.chartjs');
          chartList.forEach(function (chartListItem) {
              chartListItem.height = chartListItem.dataset.height;
          });

          // Costs per User Bar Chart
          const costsBarChart = document.getElementById('costsBarChartSourceMain');
          if (costsBarChart) {
              const costsBarChartVar = new Chart(costsBarChart, {
                  type: 'bar',
                  data: {
                      labels: {{ costs_per_sources_main_labels|safe }},
                      datasets: [{
                          label: 'Costs per Source',
                          data: {{ costs_per_sources_main_values|safe }},
                          backgroundColor: purpleColor,
                          borderColor: 'transparent',
                          maxBarThickness: 60,
                          borderRadius: {
                              topRight: 15,
                              topLeft: 15
                          }
                      }]
                  },
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      animation: {
                          duration: 500
                      },
                      plugins: {
                          tooltip: {
                              rtl: isRtl,
                              backgroundColor: cardColor,
                              titleColor: headingColor,
                              bodyColor: legendColor,
                              borderWidth: 1,
                              borderColor: borderColor
                          },
                          legend: {
                              display: false
                          }
                      },
                      scales: {
                          x: {
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  color: labelColor
                              }
                          },
                          y: {
                              min: 0,
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  stepSize: 100,
                                  color: labelColor
                              }
                          }
                      }
                  }
              });
          }
      });
  </script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          // Define color variables
          const purpleColor = '#836AF9';
          let cardColor, headingColor, labelColor, borderColor, legendColor;

          // Check for dark mode
          if (isDarkStyle) {
              cardColor = config.colors_dark.cardColor;
              headingColor = config.colors_dark.headingColor;
              labelColor = config.colors_dark.textMuted;
              legendColor = config.colors_dark.bodyColor;
              borderColor = config.colors_dark.borderColor;
          } else {
              cardColor = config.colors.cardColor;
              headingColor = config.colors.headingColor;
              labelColor = config.colors.textMuted;
              legendColor = config.colors.bodyColor;
              borderColor = config.colors.borderColor;
          }

          // Set height according to their data-height
          const chartList = document.querySelectorAll('.chartjs');
          chartList.forEach(function (chartListItem) {
              chartListItem.height = chartListItem.dataset.height;
          });

          // Costs per User Bar Chart
          const costsBarChart = document.getElementById('costsBarChartSourceTool');
          if (costsBarChart) {
              const costsBarChartVar = new Chart(costsBarChart, {
                  type: 'bar',
                  data: {
                      labels: {{ costs_per_sources_tools_labels|safe }},
                      datasets: [{
                          label: 'Costs per Tool',
                          data: {{ costs_per_sources_tools_values|safe }},
                          backgroundColor: purpleColor,
                          borderColor: 'transparent',
                          maxBarThickness: 60,
                          borderRadius: {
                              topRight: 15,
                              topLeft: 15
                          }
                      }]
                  },
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      animation: {
                          duration: 500
                      },
                      plugins: {
                          tooltip: {
                              rtl: isRtl,
                              backgroundColor: cardColor,
                              titleColor: headingColor,
                              bodyColor: legendColor,
                              borderWidth: 1,
                              borderColor: borderColor
                          },
                          legend: {
                              display: false
                          }
                      },
                      scales: {
                          x: {
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  color: labelColor
                              }
                          },
                          y: {
                              min: 0,
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  stepSize: 100,
                                  color: labelColor
                              }
                          }
                      }
                  }
              });
          }
      });
  </script>

  <!-- TOKENS -->
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          // Define color variables
          const cyanColor = '#28dac6';
          let cardColor, headingColor, labelColor, borderColor, legendColor;

          // Check for dark mode
          if (isDarkStyle) {
              cardColor = config.colors_dark.cardColor;
              headingColor = config.colors_dark.headingColor;
              labelColor = config.colors_dark.textMuted;
              legendColor = config.colors_dark.bodyColor;
              borderColor = config.colors_dark.borderColor;
          } else {
              cardColor = config.colors.cardColor;
              headingColor = config.colors.headingColor;
              labelColor = config.colors.textMuted;
              legendColor = config.colors.bodyColor;
              borderColor = config.colors.borderColor;
          }

          // Set height according to their data-height
          const chartList = document.querySelectorAll('.chartjs');
          chartList.forEach(function (chartListItem) {
              chartListItem.height = chartListItem.dataset.height;
          });

          // Costs per Organization Bar Chart
          const costsBarChart = document.getElementById('tokensBarChartOrganization');
          if (costsBarChart) {
              const costsBarChartVar = new Chart(costsBarChart, {
                  type: 'bar',
                  data: {
                      labels: {{ tokens_per_organizations_labels|safe }},
                      datasets: [{
                          label: 'Token Usage per Organization',
                          data: {{ tokens_per_organizations_values|safe }},
                          backgroundColor: cyanColor,
                          borderColor: 'transparent',
                          maxBarThickness: 60,
                          borderRadius: {
                              topRight: 15,
                              topLeft: 15
                          }
                      }]
                  },
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      animation: {
                          duration: 500
                      },
                      plugins: {
                          tooltip: {
                              rtl: isRtl,
                              backgroundColor: cardColor,
                              titleColor: headingColor,
                              bodyColor: legendColor,
                              borderWidth: 1,
                              borderColor: borderColor
                          },
                          legend: {
                              display: false
                          }
                      },
                      scales: {
                          x: {
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  color: labelColor
                              }
                          },
                          y: {
                              min: 0,
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  stepSize: 100,
                                  color: labelColor
                              }
                          }
                      }
                  }
              });
          }
      });
  </script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          // Define color variables
          const orangeColor = '#FF8132';
          let cardColor, headingColor, labelColor, borderColor, legendColor;

          // Check for dark mode
          if (isDarkStyle) {
              cardColor = config.colors_dark.cardColor;
              headingColor = config.colors_dark.headingColor;
              labelColor = config.colors_dark.textMuted;
              legendColor = config.colors_dark.bodyColor;
              borderColor = config.colors_dark.borderColor;
          } else {
              cardColor = config.colors.cardColor;
              headingColor = config.colors.headingColor;
              labelColor = config.colors.textMuted;
              legendColor = config.colors.bodyColor;
              borderColor = config.colors.borderColor;
          }

          // Set height according to their data-height
          const chartList = document.querySelectorAll('.chartjs');
          chartList.forEach(function (chartListItem) {
              chartListItem.height = chartListItem.dataset.height;
          });

          // Costs per Assistant Bar Chart
          const costsBarChart = document.getElementById('tokensBarChartAssistant');
          if (costsBarChart) {
              const costsBarChartVar = new Chart(costsBarChart, {
                  type: 'bar',
                  data: {
                      labels: {{ tokens_per_assistants_labels|safe }},
                      datasets: [{
                          label: 'Token Usage per Assistant',
                          data: {{ tokens_per_assistants_values|safe }},
                          backgroundColor: orangeColor,
                          borderColor: 'transparent',
                          maxBarThickness: 60,
                          borderRadius: {
                              topRight: 15,
                              topLeft: 15
                          }
                      }]
                  },
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      animation: {
                          duration: 500
                      },
                      plugins: {
                          tooltip: {
                              rtl: isRtl,
                              backgroundColor: cardColor,
                              titleColor: headingColor,
                              bodyColor: legendColor,
                              borderWidth: 1,
                              borderColor: borderColor
                          },
                          legend: {
                              display: false
                          }
                      },
                      scales: {
                          x: {
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  color: labelColor
                              }
                          },
                          y: {
                              min: 0,
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  stepSize: 100,
                                  color: labelColor
                              }
                          }
                      }
                  }
              });
          }
      });
  </script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          // Define color variables
          const oceanBlueColor = '#299AFF';
          let cardColor, headingColor, labelColor, borderColor, legendColor;

          // Check for dark mode
          if (isDarkStyle) {
              cardColor = config.colors_dark.cardColor;
              headingColor = config.colors_dark.headingColor;
              labelColor = config.colors_dark.textMuted;
              legendColor = config.colors_dark.bodyColor;
              borderColor = config.colors_dark.borderColor;
          } else {
              cardColor = config.colors.cardColor;
              headingColor = config.colors.headingColor;
              labelColor = config.colors.textMuted;
              legendColor = config.colors.bodyColor;
              borderColor = config.colors.borderColor;
          }

          // Set height according to their data-height
          const chartList = document.querySelectorAll('.chartjs');
          chartList.forEach(function (chartListItem) {
              chartListItem.height = chartListItem.dataset.height;
          });

          // Costs per User Bar Chart
          const costsBarChart = document.getElementById('tokensBarChartUser');
          if (costsBarChart) {
              const costsBarChartVar = new Chart(costsBarChart, {
                  type: 'bar',
                  data: {
                      labels: {{ tokens_per_users_labels|safe }},
                      datasets: [{
                          label: 'Token Usage per User',
                          data: {{ tokens_per_users_values|safe }},
                          backgroundColor: oceanBlueColor,
                          borderColor: 'transparent',
                          maxBarThickness: 60,
                          borderRadius: {
                              topRight: 15,
                              topLeft: 15
                          }
                      }]
                  },
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      animation: {
                          duration: 500
                      },
                      plugins: {
                          tooltip: {
                              rtl: isRtl,
                              backgroundColor: cardColor,
                              titleColor: headingColor,
                              bodyColor: legendColor,
                              borderWidth: 1,
                              borderColor: borderColor
                          },
                          legend: {
                              display: false
                          }
                      },
                      scales: {
                          x: {
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  color: labelColor
                              }
                          },
                          y: {
                              min: 0,
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  stepSize: 100,
                                  color: labelColor
                              }
                          }
                      }
                  }
              });
          }
      });
  </script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          // Define color variables
          const purpleColor = '#836AF9';
          let cardColor, headingColor, labelColor, borderColor, legendColor;

          // Check for dark mode
          if (isDarkStyle) {
              cardColor = config.colors_dark.cardColor;
              headingColor = config.colors_dark.headingColor;
              labelColor = config.colors_dark.textMuted;
              legendColor = config.colors_dark.bodyColor;
              borderColor = config.colors_dark.borderColor;
          } else {
              cardColor = config.colors.cardColor;
              headingColor = config.colors.headingColor;
              labelColor = config.colors.textMuted;
              legendColor = config.colors.bodyColor;
              borderColor = config.colors.borderColor;
          }

          // Set height according to their data-height
          const chartList = document.querySelectorAll('.chartjs');
          chartList.forEach(function (chartListItem) {
              chartListItem.height = chartListItem.dataset.height;
          });

          // Costs per User Bar Chart
          const costsBarChart = document.getElementById('tokensBarChartSourceMain');
          if (costsBarChart) {
              const costsBarChartVar = new Chart(costsBarChart, {
                  type: 'bar',
                  data: {
                      labels: {{ tokens_per_sources_main_labels|safe }},
                      datasets: [{
                          label: 'Token Usage per Source',
                          data: {{ tokens_per_sources_main_values|safe }},
                          backgroundColor: purpleColor,
                          borderColor: 'transparent',
                          maxBarThickness: 60,
                          borderRadius: {
                              topRight: 15,
                              topLeft: 15
                          }
                      }]
                  },
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      animation: {
                          duration: 500
                      },
                      plugins: {
                          tooltip: {
                              rtl: isRtl,
                              backgroundColor: cardColor,
                              titleColor: headingColor,
                              bodyColor: legendColor,
                              borderWidth: 1,
                              borderColor: borderColor
                          },
                          legend: {
                              display: false
                          }
                      },
                      scales: {
                          x: {
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  color: labelColor
                              }
                          },
                          y: {
                              min: 0,
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  stepSize: 100,
                                  color: labelColor
                              }
                          }
                      }
                  }
              });
          }
      });
  </script>

  <!-- ASSISTANT COMMUNICATION -->

  <!-- SQL DATABASE -->

  <!-- FILE SYSTEMS -->

  <!-- BROWSING -->

  <!-- ML MODEL PREDICTIONS -->

  <!-- MULTIMEDIA MANAGEMENT -->

  <!-- KNOWLEDGE BASE SEARCHES -->

  <!-- MEMORY MANAGEMENT -->

  <!-- FUNCTIONS -->

  <!-- APIS -->

  <!-- SCRIPTS -->

  <!-- CRON AND TRIGGER JOBS -->

  <!-- USERS -->
  <script>
      document.addEventListener('DOMContentLoaded', function() {
          // Define color variables
          const purpleColor = '#836AF9';
          let cardColor, headingColor, labelColor, borderColor, legendColor;

          // Check for dark mode
          if (isDarkStyle) {
              cardColor = config.colors_dark.cardColor;
              headingColor = config.colors_dark.headingColor;
              labelColor = config.colors_dark.textMuted;
              legendColor = config.colors_dark.bodyColor;
              borderColor = config.colors_dark.borderColor;
          } else {
              cardColor = config.colors.cardColor;
              headingColor = config.colors.headingColor;
              labelColor = config.colors.textMuted;
              legendColor = config.colors.bodyColor;
              borderColor = config.colors.borderColor;
          }

          // Set height according to their data-height
          const chartList = document.querySelectorAll('.chartjs');
          chartList.forEach(function (chartListItem) {
              chartListItem.height = chartListItem.dataset.height;
          });

          // Costs per User Bar Chart
          const costsBarChart = document.getElementById('tokensBarChartSourceTool');
          if (costsBarChart) {
              const costsBarChartVar = new Chart(costsBarChart, {
                  type: 'bar',
                  data: {
                      labels: {{ tokens_per_sources_tools_labels|safe }},
                      datasets: [{
                          label: 'Token Usage per Tool',
                          data: {{ tokens_per_sources_tools_values|safe }},
                          backgroundColor: purpleColor,
                          borderColor: 'transparent',
                          maxBarThickness: 60,
                          borderRadius: {
                              topRight: 15,
                              topLeft: 15
                          }
                      }]
                  },
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      animation: {
                          duration: 500
                      },
                      plugins: {
                          tooltip: {
                              rtl: isRtl,
                              backgroundColor: cardColor,
                              titleColor: headingColor,
                              bodyColor: legendColor,
                              borderWidth: 1,
                              borderColor: borderColor
                          },
                          legend: {
                              display: false
                          }
                      },
                      scales: {
                          x: {
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  color: labelColor
                              }
                          },
                          y: {
                              min: 0,
                              grid: {
                                  color: borderColor,
                                  drawBorder: false,
                                  borderColor: borderColor
                              },
                              ticks: {
                                  stepSize: 100,
                                  color: labelColor
                              }
                          }
                      }
                  }
              });
          }
      });
  </script>
{% endblock page_js %}


{% block content %}
<div class="row d-flex align-items-stretch">

    <!-- COSTS -->

    <div class="col-4 mb-6">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Cost per Organization</h5>
                <small class="text-muted">Total costs accumulated for a given organization, within the last 30 days,
                  in United States Dollars ($). Please note that the statistics may not reflect a 1 to 1 ratio with the
                  actual costs, as the costs are calculated based on the usage of the platform.</small>
            </div>
            <div class="card-body">
                <canvas id="costsBarChartOrganization" class="chartjs" data-height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-4 mb-6">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Cost per Assistant</h5>
                <small class="text-muted">Total costs accumulated for each assistant, within the last 30 days,
                  in United States Dollars ($). Please note that the statistics may not reflect a 1 to 1 ratio with the
                  actual costs, as the costs are calculated based on the usage of the platform.</small>
            </div>
            <div class="card-body">
                <canvas id="costsBarChartAssistant" class="chartjs" data-height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-4 mb-6">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Costs per User</h5>
                <small class="text-muted">Total costs accumulated for each user of the connected organizations, within the last 30 days,
                  in United States Dollars ($). Please note that the statistics may not reflect a 1 to 1 ratio with the
                  actual costs, as the costs are calculated based on the usage of the platform.</small>
            </div>
            <div class="card-body">
                <canvas id="costsBarChartUser" class="chartjs" data-height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-4 mb-6">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Costs per Source</h5>
                <small class="text-muted">Total costs accumulated for sources of transactions; Application and API calls,
                  within the last 30 days, in United States Dollars ($). Please note that the statistics may not reflect
                  a 1 to 1 ratio with the actual costs, as the costs are calculated based on the usage of the platform.</small>
            </div>
            <div class="card-body">
                <canvas id="costsBarChartSourceMain" class="chartjs" data-height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-8 mb-6">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Costs per Tools</h5>
                <small class="text-muted">Total costs accumulated for tools used by the connected organizations, within the last 30 days,
                  in United States Dollars ($). Please note that the statistics may not reflect a 1 to 1 ratio with the
                  actual costs, as the costs are calculated based on the usage of the platform.</small>
            </div>
            <div class="card-body">
                <canvas id="costsBarChartSourceTool" class="chartjs" data-height="400"></canvas>
            </div>
        </div>
    </div>

    <!-- TOKENS -->

    <div class="col-4 mb-6">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Token Usage per Organization</h5>
                <small class="text-muted">Total token usage accumulated for a given organization, within the last 30 days,
                  in United States Dollars ($). Please note that the statistics may not reflect a 1 to 1 ratio with the
                  actual costs, as the costs are calculated based on the usage of the platform.</small>
            </div>
            <div class="card-body">
                <canvas id="tokensBarChartOrganization" class="chartjs" data-height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-4 mb-6">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Token Usage per Assistant</h5>
                <small class="text-muted">Total token usage accumulated for each assistant, within the last 30 days,
                  in United States Dollars ($). Please note that the statistics may not reflect a 1 to 1 ratio with the
                  actual costs, as the costs are calculated based on the usage of the platform.</small>
            </div>
            <div class="card-body">
                <canvas id="tokensBarChartAssistant" class="chartjs" data-height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-4 mb-6">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Token Usage per User</h5>
                <small class="text-muted">Total token usage accumulated for each user of the connected organizations, within the last 30 days,
                  in United States Dollars ($). Please note that the statistics may not reflect a 1 to 1 ratio with the
                  actual costs, as the costs are calculated based on the usage of the platform.</small>
            </div>
            <div class="card-body">
                <canvas id="tokensBarChartUser" class="chartjs" data-height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-4 mb-6">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Token Usage per Source</h5>
                <small class="text-muted">Total token usage accumulated for sources of transactions; Application and API calls,
                  within the last 30 days, in United States Dollars ($). Please note that the statistics may not reflect
                  a 1 to 1 ratio with the actual costs, as the costs are calculated based on the usage of the platform.</small>
            </div>
            <div class="card-body">
                <canvas id="tokensBarChartSourceMain" class="chartjs" data-height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-8 mb-6">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title mb-0">Token Usage per Tools</h5>
                <small class="text-muted">Total token usage accumulated for tools used by the connected organizations, within the last 30 days,
                  in United States Dollars ($). Please note that the statistics may not reflect a 1 to 1 ratio with the
                  actual costs, as the costs are calculated based on the usage of the platform.</small>
            </div>
            <div class="card-body">
                <canvas id="tokensBarChartSourceTool" class="chartjs" data-height="400"></canvas>
            </div>
        </div>
    </div>

    <!-- ASSISTANT COMMUNICATION -->


    <!-- SQL DATABASE -->


    <!-- FILE SYSTEMS -->


    <!-- BROWSING -->


    <!-- ML MODEL PREDICTIONS -->


    <!-- MULTIMEDIA MANAGEMENT -->


    <!-- KNOWLEDGE BASE SEARCHES -->


    <!-- MEMORY MANAGEMENT -->


    <!-- FUNCTIONS -->


    <!-- APIS -->


    <!-- SCRIPTS -->


    <!-- CRON AND TRIGGER JOBS -->


    <!-- USERS -->

</div>
{% endblock %}
