[Unit]
Description=Uvicorn daemon (development)
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/bimod_dev
Environment="PATH=/var/www/bimod_dev/venv/bin"
ExecStart=/var/www/bimod_dev/venv/bin/uvicorn config.asgi:application --access-log --log-level debug --uds /run/uvicorn/uvicorn_dev.sock --timeout-keep-alive 300
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

