[Unit]
Description=gunicorn daemon (development)
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/bimod_dev
Environment="PATH=/var/www/bimod_dev/venv/bin"
ExecStart=/var/www/bimod_dev/venv/bin/gunicorn --access-logfile /var/www/bimod_dev/gunicorn-access.log --error-logfile /var/www/bimod_dev/gunicorn-error.log --log-level debug --workers 3 --bind unix:/run/gunicorn/gunicorn_dev.sock --timeout 300 config.wsgi:application
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
