[Unit]
Description=Uvicorn daemon (production)
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/bimod_prod
Environment="PATH=/var/www/bimod_prod/venv/bin"
ExecStart=/var/www/bimod_prod/venv/bin/uvicorn config.asgi:application --access-log --log-level info --uds /run/uvicorn/uvicorn_prod.sock --timeout-keep-alive 300
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
