[Unit]
Description=Celery Service for Production
After=network.target

[Service]
Type=forking
User=www-data
Group=www-data
WorkingDirectory=/var/www/bimod_prod
ExecStart=/bin/bash -c 'source /var/www/bimod_prod/venv/bin/activate && celery -A config worker --loglevel=info --detach --pidfile=/run/celery/celery-prod.pid'
ExecStartPost=/bin/sleep 5
PIDFile=/run/celery/celery-prod.pid
Restart=always
RestartSec=5
StartLimitInterval=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
