{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Bimod.io | Forgot Password{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}"/>
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}"/>
  <link rel="stylesheet" href="{% static  'vendor/css/pages/front-page-landing.css' %}">
{% endblock page_css %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/pages-auth.js' %}"></script>
  <script src="{% static 'js/front-page-landing.js' %}"></script>
{% endblock page_js %}

{% block content %}
  <div class="authentication-wrapper authentication-cover">
    <!-- Logo -->

    <a href="{% url 'landing:index' %}" class="app-brand auth-cover-brand">
      <span class="">
        <!-- { % include 'partials/logo.html' with height=20 bgcolor="fill: #fff;" % } -->
        <img src="{% static 'img/logo.png' %}" alt="logo" style="width: 60px;" class="ms-0">
      </span>
      <span class="app-brand-text demo text-heading fw-bold">{% get_theme_variables 'template_name' %}</span>
    </a>
    <!-- /Logo -->
    <div class="authentication-inner row m-0">

      <!-- /Left Text -->
      <div class="d-none d-lg-flex col-lg-8 p-0">
        <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
          <img src="{% static 'img/custom-illustrations-v2/i2-96.png' %}" width="50%" style="border-radius: 25px;"
               class="my-50">
          <img src="{% static 'img/custom-illustrations-v2/heros/i2-h3.png' %}" class="" width="75%"
               style="position: absolute; top: 0; left:50px; opacity: 0.20; rotate: 0deg">
          <img src="{% static 'img/illustrations/bg-shape-image-' %}{{ COOKIES.style|default:style }}.png"
               alt="auth-forgot-password-cover" class="platform-bg"
               data-app-light-img="illustrations/bg-shape-image-light.png"
               data-app-dark-img="illustrations/bg-shape-image-dark.png">
        </div>
      </div>
      <!-- /Left Text -->

      <!-- Forgot Password -->
      <div class="d-flex col-12 col-lg-4 authentication-bg ps-12 pe-12 pb-12 pt-0">
        <div class="w-px-400 mx-auto mt-0">
          <section id="hero-animation">
            <div id="landingHero" class="section-py landing-hero position-relative">
              <img src="{% static 'img/front-pages/backgrounds/hero-bg.png' %}" alt="hero background"
                   class="position-absolute top-0 start-50 translate-middle-x object-fit-cover w-100 h-100 stick-top"
                   data-speed="1"/>
              <div class="container">
                <div class="hero-text-box text-center position-relative">
                  <h1 class="text-primary hero-title display-1 fw-extrabold mb-10 pb-4"><strong>Bimod.io</strong></h1>
                </div>
              </div>
            </div>
          </section>
          <h5 class="mb-1 mt-12"><strong>Forgot Your Password?</strong></h5>
          <p class="mb-6 mt-4">Enter your email; and then we'll send you instructions to reset your password</p>
          {% if messages %}
            {% for message in messages %}
              <div
                class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-warning{% endif %}"
                role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          <form id="formAuthentication" class="mb-6" action="{% url 'forgot-password' %}" method="post">
            {% csrf_token %}
            <div class="mb-6">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" autofocus>
            </div>
            <button id="btnSubmit" class="btn btn-primary w-100" type="submit">
            <span id="btnText" class="me-1">
              <i class="ti ti-lock me-1_5"></i>
              <strong>Send Reset Link</strong>
            </span>
              <span id="btnLoader" class="spinner-border spinner-border visually-hidden" role="status"
                    aria-hidden="true"></span>
            </button>
          </form>
          <div class="text-center">
            <a href="{% url 'login' %}" class="d-flex align-items-center justify-content-center">
              <i class="ti ti-chevron-left scaleX-n1-rtl me-1_5"></i>
              <strong>Back to Login</strong>
            </a>
          </div>
        </div>
      </div>
      <!-- /Forgot Password -->
    </div>
  </div>
{% endblock content %}
