{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load convert_file_size %}

{% block title %}Media Item Detail{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/plyr/plyr.css' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/plyr/plyr.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const audioPlayer = new Plyr('#plyr-audio-player');
      const videoPlayer = new Plyr('#plyr-video-player');
    });
  </script>
{% endblock page_js %}

{% block content %}

  <div class="tips-section alert alert-secondary alert-dismissible d-flex col-lg-12 align-items-center" role="alert">
    <img src="{% static 'img/custom-illustrations-v2/i2-65.png' %}" width="25%" style="border-radius: 25px;"
         class="justify-content-end me-8" alt="Illustration for tips">
    <span class="alert-icon rounded ms-4">
            <i class="ti ti-bookmark"></i>
        </span>
    <div class="d-flex flex-column ps-1">
      <h5 class="alert-heading mb-2">Tip</h5>
      <p class="mb-0">
        In this page, you can view the details of the media item. You can also update the description of the media item
        and generate a description for the media item using AI. The media item can be an audio, video, image, or other
        file types. Some of these file types can be displayed directly on the page, while others can be downloaded.
      </p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-danger{% endif %}"
           role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <hr>

  <div class="row mt-4">
    <div class="col-12 mb-6">
      <div class="card">
        <h5 class="card-header">
          <strong>File Metadata</strong>
        </h5>
        <div class="card-body">
          <p><strong>
            <i class="fa fa-server me-4"></i>
            Storage Base:
          </strong> &nbsp;&nbsp; {{ media_item.storage_base }}</p>
          <p><strong>
            <i class="fa fa-file me-4"></i>
            Media Category:
          </strong> &nbsp;&nbsp; {{ media_item.storage_base.media_category }}</p>
          <hr>
          <p><strong>
            <i class="fa fa-signature me-4"></i>
            File Name:
          </strong> &nbsp;&nbsp; {{ media_item.media_file_name }}.{{ media_item.media_file_type }}
          </p>
          <p><strong>
            <i class="fa fa-info-circle me-4"></i>
            File Size:
          </strong> &nbsp;&nbsp; {{ media_item.media_file_size|convert_file_size }}</p>
          <p><strong>
            <i class="fa fa-file-alt me-4"></i>
            File Type:
          </strong> &nbsp;&nbsp; {{ media_item.media_file_type }}</p>
          <p><strong>
            <i class="fa fa-route me-4"></i>
            Path:
          </strong> &nbsp;&nbsp; <a href="{{ media_item.full_file_path }}" target="_blank">{{ media_item.full_file_path }}</a></p>
        </div>
      </div>
    </div>
    {% if media_item.storage_base.media_category == 'audio' %}
      <!-- Audio Player -->
      <div class="col-12 mb-6">
        <div class="card">
          <h5 class="card-header">
            <strong>Audio File</strong>
          </h5>
          <hr>
          <div class="card-body">
            <audio class="w-100" id="plyr-audio-player" controls>
              <source src="{{ media_item.full_file_path }}" type="audio/mp3"/>
            </audio>
          </div>
        </div>
      </div>
    {% elif media_item.storage_base.media_category == 'video' %}
      <!-- Video Player -->
      <div class="col-12 mb-6">
        <div class="card">
          <h5 class="card-header">
            <strong>Video File</strong>
          </h5>
          <hr>
          <div class="card-body">
            <video class="w-100" id="plyr-video-player" playsinline controls>
              <source src="{{ media_item.full_file_path }}" type="video/mp4"/>
            </video>
          </div>
        </div>
      </div>
    {% elif media_item.storage_base.media_category == 'image' %}
      <!-- Image Display -->
      <div class="col-12 mb-6">
        <div class="card">
          <h5 class="card-header">
            <strong>Image File</strong>
          </h5>
          <hr>
          <div class="card-body text-center">
            <img src="{{ media_item.full_file_path }}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    {% else %}
      <!-- Other Media Types -->
      <div class="col-12 mb-6">
        <div class="card">
          <h5 class="card-header">
            <strong>File Contents</strong>
          </h5>
          <hr>
          <pre><code class="{{ file_type_highlighting }} me-12 ms-12 p-12 rounded overflow-scroll"
                     style="max-height: 600px;">{{ media_item_contents|linenumbers }}</code></pre>
          <div class="card-body text-center">
            <a href="{{ media_item.full_file_path }}" class="btn btn-primary" download><strong>Download
              File</strong></a>
          </div>
        </div>
      </div>
    {% endif %}

    <!-- Description and Update Form -->
    <div class="col-12 mb-12">
      <div class="card">
        <h5 class="card-header">
          <strong>Item Details</strong>
        </h5>
        <hr>
        <div class="card-body">
          <form method="post" action="{% url 'datasource_media_storages:item_detail' media_item.pk %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea class="form-control" id="description" name="description" rows="5">
              {% if generated_description %}
                {{ generated_description.strip|safe }}
              {% else %}
                {{ media_item.description|safe }}
              {% endif %}
            </textarea>
            </div>
            <button type="submit" class="btn btn-primary w-25"><strong>
              <i class="fa fa-save me-4"></i>
              Save Description
            </strong></button>
          </form>
          {% if media_item.storage_base.media_category == 'data' or media_item.storage_base.media_category == 'code' or media_item.storage_base.media_category == 'image' %}
            <form method="post" action="{% url 'datasource_media_storages:generate_description' media_item.pk %}"
                  class="generate-description-form">
              {% csrf_token %}
              <button type="submit" class="btn btn-success mt-3 w-25 btn-generate-description">
                <i class="fa fa-wand-sparkles me-4"></i>
                <strong>Generate Description with AI</strong>
              </button>
            </form>
          {% endif %}
          <!-- loading bar warning -->
          <div class="alert-container"></div>
          <div id="loadingBarWarningGenerateDescription"
               class="alert alert-solid-info d-flex col-lg-12 align-items-center mt-4 d-none" role="alert">
          <span class="alert-icon rounded">
            <i class="ti ti-brain"></i>
          </span>
            <div class="d-flex flex-column ps-1 pt-4">
              <p class="alert-heading"><strong>Producing a great description for your file, please hold on...</strong>
              </p>
            </div>
          </div>
          <!-- Loading bar -->
          <div id="loadingBarGenerateDescription" class="progress d-none mt-3 mb-1">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                 style="width: 100%; height:10px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const generateDescriptionForm = document.querySelector('.generate-description-form');
      const generateDescriptionButton = document.querySelector('.btn-generate-description');

      const loadingBarGenerateDescription = document.getElementById('loadingBarGenerateDescription');
      const loadingBarWarningGenerateDescription = document.getElementById('loadingBarWarningGenerateDescription');

      generateDescriptionForm.addEventListener('submit', function (event) {
        // Show the loading bar
        loadingBarGenerateDescription.classList.remove('d-none');
        loadingBarWarningGenerateDescription.classList.remove('d-none');
        generateDescriptionButton.disabled = true;
      });

    });
  </script>

{% endblock %}
