{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load get_item %}

{% block title %}Function Store{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}"/>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{% static 'vendor/libs/bootstrap-select/bootstrap-select.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}"/>
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
  <script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const multiSelect = document.getElementById('categoriesSelect');
      const selectedCategories = new Set('{{ selected_categories|join:" " }}'.split(' '));

      // Initialize selected categories
      Array.from(multiSelect.options).forEach(option => {
        if (selectedCategories.has(option.value)) {
          option.selected = true;
        }
      });

      // Initialize Bootstrap Select
      $('.selectpicker').selectpicker();
    });
  </script>
{% endblock page_js %}

{% block content %}
  <div class="row g-6 mb-6">
    <div class="col-sm-6 col-xl-3">
      <h3 class="mb-0">Function Store</h3>
    </div>
  </div>

  <a href="{% url 'mm_functions:connect' %}">
    <button class="btn btn-info mb-8">
      <i class="fa fa-chain me-4"></i>
      <strong> Manage Connections</strong>
    </button>
  </a>
  <a href="{% url 'mm_functions:list' %}">
    <button class="btn btn-secondary ms-4 mb-8">
      <i class="fa fa-dashboard me-4"></i>
      <strong> Manage Custom Functions</strong>
    </button>
  </a>

  <div class="alert alert-secondary alert-dismissible d-flex col-lg-10 align-items-center" role="alert">
    <img src="{% static 'img/custom-illustrations/boy-user-edit.png' %}" width="25%" class="justify-content-end">
    <span class="alert-icon rounded ms-4">
    <i class="bi bi-info-circle"></i>
  </span>
    <div class="d-flex flex-column ps-1">
      <h5 class="alert-heading mb-2">Tip</h5>
      <p class="mb-0">
        Welcome to the Function Store! Here you can find public functions created by other users in your organization.
        You can use these functions in your assistants by connecting them. You can also filter functions by name,
        description, or category. To use a function, click on the "Connect Assistant(s)" button.
      </p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
  </div>

  <!-- Search and Filter Form -->
  <div class="row g-4 mb-4">
    <div class="col-xl-12">
      <h5 class="text-muted"><strong>Filter Functions</strong></h5>
      <div class="card text-center mb-4">
        <div class="card-header">
          <div class="nav-align-top">
            <form method="get" action=".">
              <div class="input-group mb-3">
                <input type="text" name="search" value="{{ search_query }}" class="form-control rounded"
                       placeholder="Search by name or description">
                <div>
                  <div class="position-relative mx-4">
                    <select id="categoriesSelect" name="categories" class="selectpicker form-select" multiple
                            data-style="btn-default" title="All Categories">
                      {% for value, label in CUSTOM_FUNCTION_CATEGORIES %}
                        <option value="{{ value }}">{{ label }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary me-2 rounded"><strong>Search</strong></button>
                <a href=".." class="btn btn-secondary me-2 rounded"><strong>Clear</strong></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Featured Functions List Table -->
  <div class="card mb-8">
    <div class="card-header card card-border card-border-shadow-secondary p-4 m-2 rounded">
      <h5 class="card-title">
        <i class="fa fa-star me-4 mt-2 text-warning"></i><strong class="text-warning">Featured</strong>
      </h5>
    </div>
    <div class="card-datatable table-responsive">
      <table class="table datatables-custom-functions">
        <thead class="border-top">
        <tr>
          <th></th>
          <th></th>
          <th>Name</th>
          <th>Creator</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for function in page_obj %}
          {% if function.is_featured %}
            <tr>
              <td></td>
              <td>
                <img src="
                  {% if function.function_picture %}{{ function.function_picture.url }}{% else %}{% static 'img/avatars/org-0.png' %}{% endif %}"
                     alt="{{ function.name }}" class="avatar rounded border border-3 border-warning">
              </td>
              <td style="max-width: 180px;"><strong>{{ function.name }}</strong></td>
              <td><strong>{{ function.created_by_user }}</strong></td>
              <td style="max-width: 200px;">{{ function.description }}</td>
              <td style="max-width: 300px;">
                <form method="post" class="d-inline-block">
                  {% csrf_token %}
                  <input type="hidden" name="function_id" value="{{ function.id }}">
                  <input type="hidden" name="action" value="add">
                  <select name="assistant_id" class="form-select form-select-sm" style="max-height: 25px;">
                    <option value="">Select Assistant to Connect</option>
                    {% for assistant in function_assistant_map|get_item:function.id %}
                      <!-- put only if not already in the function references -->
                      <option value="{{ assistant.id }}">{{ assistant.name }}</option>
                    {% endfor %}
                  </select>
                  <button type="submit" class="btn btn-sm btn-warning mt-1 w-100" style="max-height: 25px;">
                    <i class="fa fa-chain me-4"></i>
                    <strong>Connect to Assistant</strong>
                  </button>
                </form>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Custom Functions List Table -->
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Function Store</h5>
    </div>
    <div class="card-datatable table-responsive">
      <table class="table datatables-custom-functions">
        <thead class="border-top">
        <tr>
          <th></th>
          <th></th>
          <th>Name</th>
          <th>Creator</th>
          <th>Description</th>
          <th>Categories</th>
          <th>Packages</th>
          <th>Input Fields</th>
          <th>Output Fields</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for function in page_obj %}
          <tr>
            <td></td>
            <td>
              <img src="
                {% if function.function_picture %}{{ function.function_picture.url }}{% else %}{% static 'img/avatars/org-0.png' %}{% endif %}"
                   alt="{{ function.name }}" class="avatar-lg rounded">
            </td>
            <td><strong>{{ function.name }}</strong></td>
            <td><strong>{{ function.created_by_user }}</strong></td>
            <td>{{ function.description }}</td>
            <td>
              {% for category in function.categories %}
                <div class="badge bg-warning text m-1">{{ category }}</div>
              {% endfor %}
            </td>
            <td>
              {% for package in function.packages %}
                <div class="badge bg-light text-dark m-1">
                  {{ package.name }}{% if package.version %} ({{ package.version }}){% endif %}
                </div>
              {% endfor %}
            </td>
            <td>
              <ul class="list-unstyled">
                {% for input in function.input_fields %}
                  <li class="badge bg-label-secondary rounded m-1 w-100">
                    <p class="label bg-label-light text-dark rounded p-1 m-1">
                      <strong>{{ input.name }}</strong>: {{ input.description|truncatechars:64 }}</p>
                    <p class="label bg-label-light text-dark rounded p-1 m-1"><strong>Type:</strong> {{ input.type }}
                    </p>
                    <p class="label bg-label-light text-dark rounded p-1 m-1">
                      <strong>Required:</strong> {{ input.required }}</p>
                  </li>
                {% endfor %}
              </ul>
            </td>
            <td>
              <ul class="list-unstyled">
                {% for output in function.output_fields %}
                  <li class="badge bg-label-secondary rounded m-1 w-100">
                    <p class="label bg-label-light text-dark rounded p-1 m-1">
                      <strong>{{ output.name }}</strong>: {{ output.description|truncatechars:64 }}</p>
                    <p class="label bg-label-light text-dark rounded p-1 m-1"><strong>Type:</strong> {{ output.type }}
                    </p>
                  </li>
                {% endfor %}
              </ul>
            </td>
            <td style="min-width: 300px;">
              <form method="post" class="d-inline-block">
                {% csrf_token %}
                <input type="hidden" name="function_id" value="{{ function.id }}">
                <input type="hidden" name="action" value="add">
                <select name="assistant_id" class="form-select" style="min-height: 40px;">
                  <option value="">Select Assistant to Connect</option>
                  {% for assistant in function_assistant_map|get_item:function.id %}
                    <!-- put only if not already in the function references -->
                    <option value="{{ assistant.id }}">{{ assistant.name }}</option>
                  {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary mt-4 w-100" style="min-height: 40px;">
                  <i class="fa fa-chain me-4"></i>
                  <strong>Connect to Assistant</strong>
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <!-- Pagination Controls -->
      <nav aria-label="Page navigation">
        <ul class="pagination pagination-rounded m-4 pb-4 overflow-scroll">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link"
                 href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}{% for cat in selected_categories %}&categories={{ cat }}{% endfor %}"><i
                class="bi bi-chevron-double-left"></i></a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page=
                {{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}{% for cat in selected_categories %}&categories={{ cat }}{% endfor %}"><i
                class="bi bi-chevron-left"></i></a>
            </li>
          {% endif %}
          {% for page_num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == page_num %}active{% endif %}">
              <a class="page-link" href="?page=
                {{ page_num }}{% if search_query %}&search={{ search_query }}{% endif %}{% for cat in selected_categories %}&categories={{ cat }}{% endfor %}">{{ page_num }}</a>
            </li>
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page=
                {{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}{% for cat in selected_categories %}&categories={{ cat }}{% endfor %}"><i
                class="bi bi-chevron-right"></i></a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page=
                {{ page_obj.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}{% for cat in selected_categories %}&categories={{ cat }}{% endfor %}"><i
                class="bi bi-chevron-double-right"></i></a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}

<script>

</script>
