<!-- confirm_delete_video_generator_connection.html -->

{% extends layout_path %}
{% load static %}
{% load i18n %}

{% block title %}Delete Video Generator Connection{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xl mb-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="mb-0"><strong>Delete Video Generator Connection</strong></h3>
          <small class="text-muted float-end"></small>
        </div>
        <div class="card-body">
          {% if messages %}
            {% for message in messages %}
              <div
                class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-danger{% endif %}"
                role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete the Video Generator Connection <strong>"{{ video_generator_connection.name }}"</strong>?</p><br>
            <h6><strong>
              • This operation will result in the complete removal of the Video Generator Connection from the system.
              <br>
              • This deletion operation is completely irreversible and will entirely remove the connection and all
              associated data from the system.
            </strong></h6>
            <img src="{% static 'img/custom-illustrations-v2/i2-33.png' %}" width="25%" style="border-radius:25px;" class="justify-content-end" alt="Illustration for confirming deletion">
            <hr>
            <button type="submit" class="btn btn-danger mt-4 me-4"><strong>DELETE &nbsp;</strong> the Video Generator Connection.</button>
            <a href="{% url 'video_generations:list' %}" class="btn btn-secondary mt-4"><strong>CANCEL &nbsp;</strong> the deletion operation.</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
